[2014-12-10 12:29] dai-shi opened #1 "word-to-word highlight for multiple lines change"
Hi, thanks for this nice library. I found something that is different from the GitHub style.
It's about word-to-word highlight (BTW, the README says char-to-char, which actually is word-to-word, isn't it)

If you have multiple lines changed, this doesn't work.
The example input is the following:

[code]

It would be so nice if this is supported.

[2014-12-10 14:21] dai-shi opened #2 "unnecessary colspan="2" in the result html"
In line 214, it is generating an html td element with colspan="2" which seems unnecessary.
(And that is troublesome if I want to customize css...)

[2014-12-10 15:12] dai-shi opened #3 "word-to-word diff gives wrong escaping (when diffing like HTML files)"
Sorry to bother you again, but this is rather a fatal bug.
With the following example:

[code]

we get something like:
[code]

[2015-01-24 22:45] rtfpessoa commented on #2
@dai-shi sorry for the delay but I was really busy.
Today I had some time and I decided to do some fixes.
This is fixed.

[2015-01-24 22:45] #2 closed

[2015-01-24 22:46] rtfpessoa commented on #3
@dai-shi sorry for the delay but I was really busy.
Today I had some time and I decided to do some fixes.
This is fixed.

[2015-01-24 22:46] #3 closed

[2015-01-24 22:51] rtfpessoa commented on #1
@dai-shi if you have any ideas how to do this I would be glad to accept a pull request.

[2015-01-27 14:03] dai-shi commented on #3
Cool. Thanks.

[2015-03-08 21:16] codingtwinky opened #4 "Rolling load"
Hi, as I was working on https://github.com/FredrikNoren/ungit/pull/514 I came across couple of features that could be added in.

One of the problem we saw is that sometimes git diff for a single file is rather large and in such cases loading diff for those files is rather resource consumption heavy.  What we did to solve this issue was implementing rolling load that will limit the display of diff

[2015-03-08 22:08] codingtwinky opened #5 "Empty div when parsing deleted file diff"
diff2html outputs empty div when parsing deleted file diff.

[code]

[2015-04-12 10:40] rtfpessoa commented on #1
@dai-shi take a look at #7

And try it with [diff2html-cli](https://www.npmjs.com/package/diff2html-cli)

I made diff in blocks and bot char-by-char and word-by-word.

Any feedback?

[2015-04-12 10:40] #5 closed

[2015-04-12 10:41] rtfpessoa commented on #5
fixed by #6

[2015-04-13 13:09] dai-shi commented on #1
Just did a quick test (not with the cli, but directly), it's awesome! So far working as expected.
https://github.com/dai-shi/codeonmobile/commit/03b08a1c853a5b34cf85fef368d3ad698098b98e
Wonderful work!

[2015-04-19 18:15] rtfpessoa commented on #1
fixed by #7

[2015-04-19 18:15] #1 closed

[2015-04-25 23:51] codingtwinky commented on #4
Just as a FYI, rolling load was implemented via generate diffJson, manipulate the result and generate prettyDiff as you can see at https://github.com/FredrikNoren/ungit/pull/514.

[2015-04-25 23:51] #4 closed

[2015-07-10 22:46] codingtwinky opened #11 "Problem parsing diff within diff"
parsing below git diff will result in `var text = ....` line being missing.  I think dff2html parses correctly when I bring down the character count on that line to below 100.

[code]

[2015-07-11 22:56] rtfpessoa commented on #11
@codingtwinky it was a mistake in the line parser regexs.
Just released version 0.2.4 that fixes this.

[2015-07-11 22:56] #11 closed

[2015-08-04 11:06] mrfyda opened #16 "Include support for independent scrolling in side-by-side diffs"

[2015-08-06 17:13] codingtwinky opened #17 "diff2html false positive deleted file parsing error"
Below code shows `-->` line as a deleted line although it is not deleted.

I think regex should be fixed to `^-`

[code]

[2015-08-08 01:03] rtfpessoa commented on #17
@codingtwinky

fixed by #18

Released as version 1.0.0-1

[2015-08-10 07:55] mrfyda opened #19 "Offset is in the wrong column"
![screen shot 2015-08-10 at 08 54 37](https://cloud.githubusercontent.com/assets/593860/9162379/862c8000-3f3d-11e5-8948-57fd9fbdd2a0.png)

[2015-08-10 09:55] rtfpessoa commented on #19
If by offset you mean `@@ -38,7 +45,7 @@` that is kind of a feature.
Since it is returned in the middle of the diff I never tried to change it's position.

The first columns are the line numbers, I'm not sure if the offset would got well there.
Any suggestion? Can you provide an example of an improvement?

[2015-09-06 16:08] #17 closed

[2015-09-17 11:54] maliayas opened #20 "Space in file name"
If a file in the diff has a space in its name, space and the rest is truncated in the HTML.

[2015-10-05 19:11] rtfpessoa commented on #20
Fixed by #21

[2015-10-05 19:11] #20 closed

[2015-10-06 20:04] maliayas commented on #20
Thanks.

[2015-10-13 00:02] codingtwinky opened #22 "git diff parsing error when text starts with "-""
Example data

[code]

[2015-10-13 10:36] rtfpessoa commented on #22
@codingtwinky , what version are you using? I cannot replicate the problem.
Just updated the examples with your snippet. Check it out here: http://rtfpessoa.xyz/diff2html/

[2015-10-15 00:10] codingtwinky commented on #22
You are right, this is what happens when you have too many dev branches that has been diverged too long and didn't bump deps.

[2015-10-15 00:10] #22 closed

[2015-10-19 14:53] rtfpessoa opened #24 "Try to use jsx to create HTML"

[2015-10-22 09:00] rtfpessoa opened #26 "Add opacity to the context lines"
We should be able to have an option to configure opacity for the context lines of the diff, so we can focus more on the changes.

[2015-10-22 09:14] rtfpessoa opened #27 "Files summary style weird"
When we have different changes length the design is weird.

![diff2html](https://www.dropbox.com/s/xk5ge318mcoao1x/Screenshot%202015-10-22%2010.12.20.png?dl=1)

[2015-10-28 18:52] #27 closed

[2015-11-23 15:17] rtfpessoa opened #33 "Better diff files order"
* New files should be in the end of the diff (before deleted)
* Deleted files should be in the end of the diff

[2015-11-23 15:36] pbu88 commented on #33
Hi, I can't understand what's the issue here

[2015-11-23 15:38] rtfpessoa commented on #33
@pbu88 it is not an issue. It is just an improvement. Most times when I am reviewing prs with lot of deletes. They usually do not matter much compared to changed files.

The idea would be to order the diff in a way where the removed files would be in the end.
Do you agree?

[2015-11-23 15:40] pbu88 commented on #33
Hmmm, normally deleted files don't show in the diff. I always have to include them by staging them (git add) and then doing git diff --cached. Then they show up all in red.

I agree is super useful to see the added/deleted files but don't know how to make them appear without doing some tricks from the terminal with git.

[2015-11-23 15:42] rtfpessoa commented on #33
Usually if you do a commit where you delete, add or move files, with `git diff -M HEAD~1'` you can see all the changes.

[2015-12-01 01:56] codingtwinky opened #35 "Allow easy extention of diff2html"
So as you know Ungit has been using diff2html and it has been great.

However, for implementing features like https://github.com/FredrikNoren/ungit/issues/585, it would be rather difficult to do that without modifying the diff2html's source code.  In fact, recent new feature "git commit on line level" feature had to do code replace like we do [here](https://github.com/FredrikNoren/ungit/pull/602/f

[2015-12-02 23:55] rtfpessoa commented on #35
@codingtwinky I can see the idea, but I don not think I completely understand what you need.

From what I understand for the expand part of the code, it would be enough if I received wither the files source or their path in the system.
The other feature you mentioned I did not quite understand.

If the idea is just to inject new lines in the diff I can see two ways of doing it:
1. Receive the extr

[2015-12-04 03:41] codingtwinky commented on #35
That would work for this specific feature, but to keep in more generic and workable, I guess what I had in my mind is an easy way to inject additional codes in various places.

I originally thought about doing something like how templating languages work, but now that I have laid out this thought and think more and more I'm not sure if I like this approach.

We may have to give up and derive our o

[2015-12-04 21:45] rtfpessoa commented on #35
@codingtwinky the HTML transformation looks good to me.
If you want to do some changes and add more functionality I am always available to accept any pull request.

[2015-12-04 21:48] rtfpessoa commented on #35
@codingtwinky, After thinking about this a little, I am considering to have some kind of add-ons that would act on the content to do extra behavior:

* Lazy loading content:

* Expanding files:

It would be a good idea to have some kind of pipe and filter, after json generation, before html generation, ..

Still it is kind of a big change, do you think this could help your needs?

[2015-12-09 23:13] codingtwinky commented on #35
It would definitely help but I absolutely agree that it is a big change and I'm not sure if I can selfishly ask for such big changes for us only.  As I think more and more I may just ask for more modularized and easy to extend object structure that we can override the certain key functions.

I will try several things and will request or send PRs as things come up.

[2015-12-11 00:19] rtfpessoa commented on #35
@codingtwinky ok. I do not mind any features prs.

[2015-12-11 01:02] #35 closed

[2015-12-19 21:30] rtfpessoa opened #37 "Improve sample page"
* Allow to see different option combinations (ex: matching lines, without files summary, ... )
* Add some design to the page :smile:

[2015-12-20 13:12] pbu88 commented on #24
Hi! Been inactive for a while since I was on holidays :) I see a lot of activity around, very cool!

I strongly support the idea to move the html to a template, will make the code much cleaner. Do you have a particular library in mind? I quick googled jsx but didn't got immediate feedback on how to use it from node.js. For diffy I used [Mozilla Nunjucks] (https://mozilla.github.io/nunjucks/)  and

[2015-12-20 13:14] pbu88 commented on #19
I don't think this issue stands anymore. I never really saw the issue here and is pretty much what Github does. Unless de OP provides more context I think this could be closed.

[2015-12-20 14:41] rtfpessoa commented on #24
Hi @pbu88, I already worked a bit on it in branch [react-jsx-html](https://github.com/rtfpessoa/diff2html/tree/react-jsx-html).
In that branch I already have a small HTML part with that compiles both for the browser and for inclusion in other node plugins.

What I used was a mix of react and jsx. The idea of what I did was to write html, and then use the react html to jsx transpiler. In the end I

[2015-12-20 15:02] pbu88 commented on #24
Interesting! Will take a look, thanks!

[2015-12-20 16:30] #19 closed

[2015-12-27 10:23] pbu88 commented on #24
Hi! I took a look at JSX and React. I think that that library is too huge and tries to accomplish a lot more than what we might need here, for example, is designed to keep the html and the data in javascript in sync (like other MVC frameworks in js) and a lot more, and using it just to create tiny html templates that don't need to keep sync with a javascript model is rather overkilling.

I think w

[2015-12-27 16:42] rtfpessoa commented on #24
Regarding the PR I think it makes sense to separate the components and for that reason I already merged it.

Regarding the JSX + React, the idea is that I really hate to append strings to create the HTML, using the JSX transpiler and the React html generator we can have a better looking HTML without using the complexity of the react framework.

Do you have any other easier alternatives? I already

[2015-12-29 17:40] pbu88 commented on #24
Yeah, concatenating the strings is a real pain. I'm not sure on how to follow on this though. When I saw the branch this is being worked on I found it a bit intimidating to start dealing with `.jsx` files but that is just me, maybe is not a big issue.

Another option (to avoid concatenating) might be move the html string to a external file. Either with .html extension (more like a template approac

[2016-01-02 17:46] rtfpessoa commented on #24
@pbu88 I think the idea of the file templates could be interesting, it is always good to separate ui from, the code. My only concern is for it to not get more complex.

Can we do it with `Mozilla Nunjucks`?

We would need at least to have some templates and be able to include them inside each other (something like imports)

How is the integration of `Mozilla Nunjucks` with node?

Do you know any b

[2016-01-04 11:38] pbu88 commented on #24
The integration is very straight forward. I'll come up with a prototype and we can decide if we like it or not.  I personally like the idea, at the end of the day what we have are embedded templates in code, so if we move it to its own template file it can add simplicity and a way to override them. I'll come up with something and we can discuss further.

[2016-01-10 21:47] mrfyda opened #49 "Line count is wrong"
The line count is wrong when a file doesn't end with a newline.

<img width="797" alt="bitbucket" src="https://cloud.githubusercontent.com/assets/593860/12224244/b20b6b4a-b7e3-11e5-878d-264fbb9ef933.png">
<img width="1120" alt="diff2html" src="https://cloud.githubusercontent.com/assets/593860/12224245/b20d1f12-b7e3-11e5-8411-178bef234a27.png">

[2016-01-17 17:11] #49 closed

[2016-01-31 21:51] fedescarpa opened #53 "Wrong bower.json::main"
[bower.json::main#L:30](https://github.com/rtfpessoa/diff2html/blob/master/bower.json#L30) should be `dist` instead of `src`

Using wiredep, it throws an error on browser because require function is not defined

[2016-01-31 22:49] #53 closed

[2016-02-01 00:11] fedescarpa commented on #53
Thank you for the quick fix.

Would you mind putting the `./dist/diff2html.css` file into the main too?

[code]

[2016-02-01 09:38] rtfpessoa commented on #53
Ok, I thought it was like npm. Just read the docs, and updated.
Thanks for the suggestion.

[2016-02-01 11:08] pbu88 opened #54 "Separate diff2json parser into a separate project?"
I've been thinking that some people might find super useful to parse diff output into a json. We already have this in our project, so maybe it will be great to separate it into it's own diff2json project, and use that as an external dependency in diff2html.

This will simplify diff2html project itself and will decouple the parser, so can be reusable.

It shouldn't be too hard to do this.

[2016-02-01 12:21] sreich opened #55 "hide/show summary button sets wrong url"
clicking the + sign next to the "files changed" sets the url incorrectly (logic is backwards).

When you first load the html file, the "+" sign is visible and the files changed are hidden.

but when you click it, it sets the URL to diff.html#d2h-hide-2t9. Clicking the (now changed to) minus sign, sets the URL to diff.html#d2h-show-w29. so, this seems backwards. clicking show should set the URL to

[2016-02-01 12:24] sreich opened #56 "how to properly set files changed as expanded by default"
for instances where i'm more interested in the summary of files changed, i would like to have this expanded by default.

i thought i'd be able to do it by setting the url, given that gets changed, but it gets changed to something like 'diff.html#d2h-show-hfr' and 'diff.html#d2h-hide-pvi'

i'm confused as to what the '-hfr' and '-pvi' do, they are not static between generations, they seem random, s

[2016-02-01 17:11] rtfpessoa commented on #54
This all started with a small project, then it was split between CLI and
Library, now json and html.
Need to think about this, maybe it makes sense.

On Mon, Feb 1, 2016 at 11:08 AM Paulo Bu <notifications@github.com> wrote:

[2016-02-01 17:19] rtfpessoa commented on #56
The problem here is that we did not wanted to use javascript to do this, so css was used.
The main issue happens when it is done by id, if you have two diffs in the same page it will have problems since you cannot have two ids.

Maybe we should use class, still is not ideal.

[2016-02-02 09:34] pbu88 commented on #54
I think it could make the code smaller and its parts reusable, but maybe it could slow development (having to fix stuff or add features in two different projects). I just thought about it and wanted to bring it up :)

[2016-02-04 14:00] rtfpessoa opened #57 "Fix diff parsing on windows line ending"
Copied from [https://github.com/rtfpessoa/diff2html-cli/issues/16](https://github.com/rtfpessoa/diff2html-cli/issues/16)

when the diff diff2html-cli is given, has CRLF line endings, the generator will generate a valid html file, but it will act as if the source diff was empty.

obviously, this isn't ideal on windows -- especially when everything is so hard coded (cmd, powershell) to always output

[2016-02-04 14:04] pbu88 commented on #57
It also has an impact when receiving the diff via a <textarea> html element. Textarea uses CRLF line endings.

[2016-02-04 14:13] rtfpessoa commented on #57
@pbu88, any suggestions of libs to perform the EOL conversion?

[2016-02-04 14:18] pbu88 commented on #57
Hmmm I think this is fair easy fix. At some point in the parser we do this:

    //dir-parser.js line 125
    var diffLines =
      diffInput.replace(/\\ No newline at end of file/g, '')
        .split('\n');

So we could basically change all the \r\n into \n or we could do a smarter split.

[2016-02-04 14:21] rtfpessoa commented on #57
That seemed like a very aggressive way. But maybe it is simple enough to try it.

[2016-02-04 14:25] pbu88 commented on #57
Well, I think this is a relatively easy to fix issue. Using an external library might be overkill. Maybe I'm failing to see a future issue that this fix might involve.

[2016-02-06 18:33] rtfpessoa commented on #55
@sreich just did a pr in #58 what do you think?

[2016-02-06 18:54] rtfpessoa commented on #56
@sreich In #58 I added the diff2html-ui and with it the ability to set if the files are expanded or not by default when running the JS on the page. Is that a solution for your problem?

[2016-02-07 12:56] #57 closed

[2016-02-07 14:27] #55 closed

[2016-02-08 15:02] sreich commented on #56
hey, nice to see progress on this and the other issues i reported!

well, thing is, for it to be useful for me i'd need that to also be exposed via diff2html-cli, as that's all i (can) use. could you be a dear and add a switch for that? :-)

[2016-02-08 15:05] sreich commented on #55
hey, well it sounds good, (and the other issues that you worked on), but i tried using diff2html-cli 1.4.2 on windows, and it generates a page where instead of the +/- button, it shows hide.

which is great, but it's no longer a link. it's blue, but unable to click. so this actually breaks that feature (no way to expand the files changed summary)

[2016-02-08 15:57] rtfpessoa commented on #55
Ohh, I think I missed the JS. Will look into it later.
Only tested on the diff2html side.

[2016-02-09 21:43] rtfpessoa commented on #56
@sreich just released a fix for the cli and also some more customization for the summary.

If you install version 1.4.4 you should have:

`diff2html --su open`
`diff2html --su closed`
`diff2html --su hidden`

Is it ok?

[2016-02-12 23:14] rtfpessoa commented on #56
I also added two hash tags to be able to override this with the url:

* `#files-summary-show`
* `#files-summary-hide`

this will also override any previous decision.
This is available in version 1.4.5.

Can any close this, or do you have any suggestion?

[2016-02-12 23:15] rtfpessoa commented on #56
I also added two hash tags to be able to override this with the url:

* `#files-summary-show`
* `#files-summary-hide`

this will also override any previous decision.
This is available in version 1.4.5.

@sreich can I close this or do you have any other suggestion?

[2016-02-15 18:49] sreich commented on #56
yes this works perfectly and you covered all bases -- nice work! :+1:

[2016-02-15 18:49] #56 closed

[2016-02-21 14:50] rtfpessoa opened #61 "Line height is weird"
After version 1.2.0 all the versions seem to be affected by a weird line height difference.
We notice this because the borders are not the same height as the line `tr > td > div`.

This can be easily fixed by lowering the line height in the `div` inside the table but that is not great since the lines get really close.

After lots of changes the CSS is kind of outdated and needs a refactor/cleaning

[2016-02-21 17:11] #61 closed

[2016-03-22 14:23] lantian opened #64 "Allow to copy code without line numbers."
It would be great if lines was not copied within code selection. Example https://codemirror.net/

Possible solution: http://jsbin.com/runomuheye/1/edit?html,css,js,output

P.S. Good job! Great project!

[2016-03-23 21:49] rtfpessoa commented on #64
That looks good. If you want to contribute the change it would fit in the `diff2html-ui.js`.

[2016-03-23 21:57] lantian commented on #64
Yep, maybe I will try to implement this in nearest week. But still can not decide is it ok to use js for that, or proper is implement different html layout.

[2016-03-23 22:16] rtfpessoa commented on #64
I usually do not like HTML/CSS, and since I do not have much experience doing it, the current choices might be wrog.

I am open for better alternatives.

[2016-03-24 08:28] lantian commented on #64
And what about such implementation http://jsbin.com/runomuheye/1/edit?html,css,js,output ? As far as I understand meny js codetools using such way

[2016-03-28 01:42] codingtwinky opened #65 "diff2html@2.0.0-beta9 not working on client side."
Looking at the code borwserifying and importing nunjucks at client side will not be helpful either.

[code]

[2016-03-28 08:47] rtfpessoa commented on #65
`nunjucks` was added as a dependency for version `2.0.0`. Can you confirm it was downloaded?

Are you requiring the code from `src` or `dist`? You should use `src`. `dist` is for the browser.

[2016-03-28 17:15] codingtwinky commented on #65
I was using disted version.  Maybe because I'm doing browserify on diff2html and nunjucks being browserified twice??

I will try to use src later and let you know

[2016-03-28 17:19] rtfpessoa commented on #65
I am currently using webpack for the dist version. And I am passing the parameter saying it is for WEB.

I am not sure if this creates any kinds of problems.

When running webpack I do this transformations:

[code]

And I also precompile the templates to `dist/diff2html-templates.js`

If you give me some tips about browserify maybe I can also do a dist with it (not sure if it makes sense)

[2016-03-31 18:42] orivej commented on #65
The problem is that for browserify nunjuncks in `var nunjucks = require('nunjucks');` is provided by `nunjucks/browser/nunjucks.js`, browserify expects nunjucks to set external `module` and `exports`, but `nunjucks/browser/nunjucks.js` does not touch them, it just assigns its module to `var nunjucks`, and the module remains unconfigured. (I do not know yet how to solve this.)

[2016-03-31 18:47] orivej commented on #65
This is an open issue with nunjucks: https://github.com/mozilla/nunjucks/issues/507

[2016-04-01 00:28] codingtwinky commented on #65
Thanks for the discovery, I be keeping my eyes on that issue and upgrade diff2html accordingly.

[2016-04-01 10:06] rtfpessoa commented on #65
@orivej as I said in the previous answer if you use:

[code]

Webpack works just fine, is there any way to replace modules in browserify?

[2016-04-01 10:28] orivej commented on #65
I'm using webpack too; I missed that this snippet is something I should try to put into my `webpack.config.js`, rather than just something you use to build a release of diff2html.

I tried to include it as is, and observed that the build fails since the second plugin hides important modules unrelated to nunjucks. Need to figure out how to circumvent this…

[2016-04-01 10:31] rtfpessoa commented on #65
@orivej it is a really bad hack. I am wondering if nunjucks is going to give a lot of headaches.

[2016-04-04 10:00] pbu88 commented on #65
Sorry for being a bit away these last weeks. Is a pity that nunjucks have this issue which such a hacky workaround. We hoped nunjucks would make it easier to have better formatted and easier to maintain and override html but if is not working for us we might want to looks for alternative solutions. Do you guys see a value in using it at all? Other solutions were proposed, like using React componen

[2016-04-05 21:30] rtfpessoa commented on #65
This seems to be really bad. @orivej @codingtwinky any suggestions about other options to move the html from the JS code?

I am starting to regret nunjucks. It nows seems even more complicated. Since we are only in beta for this we can roll back to other option.

[2016-04-05 21:56] codingtwinky commented on #65
I don't know much about nunjucks so I can't do fair comparisons, but if you are looking for html templating frameworks isn't [handlebars](http://handlebarsjs.com/) or [mustache](https://github.com/janl/mustache.js/) are the standard goto solutions?

[2016-04-05 21:58] orivej commented on #65
I will have to look into the way diff2html uses nunjucks to give an informed judgement.

[2016-04-05 23:04] rtfpessoa commented on #65
@codingtwinky thanks for the input. I will also take a look at thoose options a make some tests when I have some time.

[2016-04-06 08:39] pbu88 commented on #65
@rtfpessoa also, ECMAScript 6 allows multiline strings with backticks ( \` ). I've seen a lot of people using ECMAScript 6 and transpiling it with Babel to make it compatible. Is just something to consider maybe. I like React but I think it would be better to keep the project dependencies on the low and React is a huge dependency but that's just my opinion.

[2016-04-06 19:17] andfs opened #66 "Dumb question"
I have an app that integrates with github and a self-hosted gitlab. How can I use your package to show diff between a master branch and a pull/merge request in my app?

[2016-04-06 19:34] rtfpessoa commented on #66
Hi @andfs,

This project is a simple Javascript library to parse diffs and output either the diff information in `JSON` or pretty `HTML`.

Basically you create a diff with `git diff master your-pr-branch` and the exact output that comes from git goes as input for diff2html.

This is not suited for people that just want to have a pretty diff and share it with co-workers etc.
For that, I created [di

[2016-04-06 19:37] rtfpessoa commented on #65
Now I also think react is too much for the purpose.

I took a look at mustache and handlebars and both look good. Mustache seems simpler but you cannot have loops etc. For that reason Handlebars seems a good alternative since it is simple and has precompiled templates. I will do some tests and see if I find any other alternative.

In the meanwhile let me know if you have any other good suggestions

[2016-04-06 20:13] rtfpessoa commented on #65
I have a couple more alternatives here (for no special order):

* [hogan.js](http://twitter.github.io/hogan.js/) from Twitter
* [dust.js](http://www.dustjs.com/) from Linkedin
* [pug.js](https://github.com/pugjs/pug) influenced by Haml (previously named Jade)
* [JsRender](https://github.com/BorisMoore/jsrender)
* [marko.js](http://markojs.com/github/)

From what I have seen [hogan.js](http://twitt

[2016-04-06 20:16] andfs commented on #66
Thanks @rtfpessoa . You'v cleared my doubts. I was trying to find out what goes to diff2html input.
My app get the diff from github/gitlab via rest, so I was in doubt what to use in diff@html.

I'll try it later. thanks for listening :)

[2016-04-06 20:16] #66 closed

[2016-04-06 21:34] codingtwinky commented on #65
I have never done client side or web server programming in my life professionally, I'm just a backend data infrastructure grunt who have terrible habit of poking javascript open sources.  But I did have lots fun with Jade and did like it alot as you can import and export templates with in the page really easily.  I can't believe I have forgotten about it.

But my vote shouldn't count as much as ot

[2016-04-13 16:15] rtfpessoa opened #67 "Takes hours for finish a 300kb diff file"
MOVED FROM [diff2html-cli#17](https://github.com/rtfpessoa/diff2html-cli/issues/17)

HI,
I really love the tool and currently running it under windows.
however my git diff file is around 300KB, the tool takes 3 hours to finish , without any output file (am using -F option).   memory usage is around 800MB.
Just wondering if you have encountered the same issue before?

Tried diffy.org  without no is

[2016-04-13 16:18] rtfpessoa commented on #67
@escitalopram do you have any idea why this happens?

[2016-04-13 16:19] rtfpessoa commented on #67
@escitalopram I did some debugging and the `Rematch.distance(amod, bmod)` algorithm is taking too long, and maybe getting an infinite loop or something.
Do you have any idea?

[2016-04-13 19:15] escitalopram commented on #67
I'll have a look

[2016-04-14 09:29] escitalopram commented on #67
The problem seems to be triggered by large blocks of changes, like OASIS.csproj having 2,2k lines added and removed in one block. The algorithm is O(nm) time with n lines added and m lines removed in a single block, starting almost 5 million levenshtein distance calculations, which are in turn O(op) time with o,p being the line lengths.  I'd suggest we'll just disable the line matching on blocks l

[2016-04-14 10:00] rtfpessoa commented on #67
I think that is a great idea. Can you make a PR?

[2016-04-14 11:05] escitalopram commented on #67
Which branch should I base it on?

[2016-04-14 12:46] rtfpessoa commented on #67
master

[2016-04-14 18:52] rtfpessoa commented on #67
Fixed by #68

[2016-04-14 18:52] #67 closed

[2016-04-14 19:07] rtfpessoa commented on #65
I want something lightweight with just the minimum set of features.

I was trying with hogan.js but I am having some problems using the templates on the browser and on the node side at the same time.

[2016-04-19 21:54] mrfyda opened #70 "Side-by-side diff per file"
Like this:
<img width="813" alt="screen shot 2016-04-19 at 22 53 18" src="https://cloud.githubusercontent.com/assets/593860/14656820/a6549c4e-0681-11e6-8383-e286e8a02bb1.png">

[2016-04-19 21:58] mrfyda commented on #37
Any thoughts to get started on this?
What would be the focus of the page? Downloading, contributing, getting started, donating?

I'd like to suggest something like https://docs.readthedocs.org/en/latest/index.html for a comprehensive description of all the option combinations.

[2016-04-23 19:06] rtfpessoa commented on #37
I think something like [readthedocs](https://docs.readthedocs.org/en/latest/index.html) is to much for this.
We do not have that much of customization and a simple docs page is enough.

I am looking for something more like a pretty initial page with some sub-pages:

* Example of the tool output
* Feartures highlight
* Configuration parameters
* How to contribute and current list contributors
* Usa

[2016-04-25 13:14] rtfpessoa commented on #65
I think #69 fixes this issue, version 2.0.0-beta11, can you check?

[2016-04-25 14:13] orivej commented on #65
I had to add `var Hogan = require('hogan.js');` to `diff2html-templates.js` to build a project using diff2html with webpack. `try/catch` around `require` in HoganJsUtils prolonged the time to debug.

[2016-04-25 14:47] rtfpessoa commented on #65
@orivej can you check it on `2.0.0-beta12` it should fix the problem.

[2016-04-25 15:05] orivej commented on #65
As of `2.0.0-beta12`, diff2html works as is.

With `2.0.0-beta11`, templates did not render and there were no exceptions in the browser console, so I began debugging by examining if webpack produced sensible output: it was not obvious since it wrapped the contents of `diff2html-templates.js` with `(function(global) {`…`}.call(exports, (function() { return this; }())))`, and it was not until I remo

[2016-04-25 16:56] rtfpessoa commented on #65
@orivej just released `2.0.0-beta13`, now I am considering that I will always compile the templates before release.

FYI, I have also been adding lots of more tests to the parser and the generators.
Specially the parser is now more stable and I fixed several corner cases.

[2016-05-01 17:31] rtfpessoa commented on #65
I am considering this fixed with PR #69

[2016-05-01 17:31] #65 closed

[2016-05-01 19:45] #64 closed

[2016-05-01 19:56] rtfpessoa commented on #24
Hogan.js was choosen for the HTML templating language.

[2016-05-01 19:56] #24 closed

[2016-05-06 16:31] adius opened #72 "Parse valid unidiffs"
This is a valid unidiff

[code]

but diff2html only returns

[code]

When I add `diff` to the beginning of the unidiff, however, it works:

[code]

[2016-05-06 17:37] rtfpessoa commented on #72
The code was initially done to Parse only git diffs. Since they are similar I am thinking of doing compatibility for both but did not git time yet.

I will look at this when I get some time today or tomorrow.

[2016-05-06 18:39] adius commented on #72
Actually the git diff is just a normal unidiff.
Every line which does not start with a `space`, `+`, `-` or `@` is just a comment....
Thanks for looking into this!

[2016-05-06 22:16] #72 closed

[2016-05-06 22:21] rtfpessoa commented on #72
This was fixed in #73 let me know if you have any other cases where it fails.

Released under version `2.0.0-beta18`.

[2016-05-07 08:08] adius opened #74 "Use semver correctly"
I just wanted to upgrade to the latest version (`^2.0.0-beta18`) of diff2html by running `npm up --save diff2html`
But because you used semver the wrong way it installed `^2.0.0-beta9`.
(Which is the specified behavior if you check http://semver.org/#spec-item-11)

To get the correct order you must separate beta and the number with a dot (`^2.0.0-beta.18`)

As `beta` comes lexicographically before

[2016-05-07 08:29] adius commented on #74
Btw:
This is really important and should be fixed **asap**.
At the moment almost nobody gets the expected version!

[2016-05-07 09:54] rtfpessoa commented on #74
I was really thinking I was using this right.

@adius, thanks a lot for the heads up.

Can you please check it is fixed?

[2016-05-07 12:28] adius commented on #74
No problem ;-) Looks good!
Thanks for your fast response!

[2016-05-07 12:28] #74 closed

[2016-05-07 12:44] adius commented on #74
Btw: You should check out https://docs.npmjs.com/cli/version .
It's super useful npm subcommand for releasing new versions!
It automatically creates the corresponding commit and tag.
Actually I'd even go so far to say that this should be the only way to create new versions!
Then it's also impossible to create invalid version numbers ;-)

[2016-05-07 13:07] rtfpessoa commented on #74
Cool 😄

I just checked it, and did some changes to the scripts I use for releases.

It should be smother now. Really appreciated your help 👍

[2016-05-07 19:28] adius commented on #74
Haha thx for posting on hackernews. 😂
Had a funny encounter with myself: https://twitter.com/AdrianSieber/status/729028804518289408

[2016-05-07 19:35] rtfpessoa commented on #74
Hahaha, amazing.

I though it could be a good guide/example for other people 😄

[2016-05-07 22:18] lantian opened #75 "Highlight is working not as supposed"
It applies on line... but not on code block. For fast understanding here is a screenshot:

![spectacle z25642](https://cloud.githubusercontent.com/assets/535545/15094872/43bac94a-14ba-11e6-930c-cdeb3ea820b0.png)

1. It is applying on each line separatly. When it on the comment block - it doesn't understand that this is a comment block.
2. It is applying on whole block. And now it is know about com

[2016-05-07 23:25] rtfpessoa commented on #75
Yup, that is quite bad.

I had one idea to try solving that problem.
It seems to improve overall highlight but still doesn't fix java comments.

The idea is to invoke highlight in the block and then inject the highlighted lines of the block in the HTML again.

I did one commit here: https://github.com/rtfpessoa/diff2html/commit/a48209797050289f8b2a3ac2f270ab80a27b5464

[2016-05-08 08:48] lantian commented on #75
Haha, I have tried such thing yesterday, too! =).  Yup, not closed span problem =).

[2016-05-08 22:23] rtfpessoa commented on #75
Thanks to @isagalaev I was able to fix the highlight in https://github.com/rtfpessoa/diff2html/commit/626daccd0202b96725223ed2db26dcc790feab81 .

Now highlight should be perfect except for cases where the diff
context is not enough to understand what is the code.

[2016-05-09 08:17] lantian commented on #75
Wow! This is great! Thank you very much!

[2016-05-09 08:33] lantian commented on #75
Found new problem, now it looses "hljs" class and language class:
Was:
![1](https://cloud.githubusercontent.com/assets/535545/15107665/b47c71a4-15d9-11e6-8952-405e6c7abdb2.png)

Now:
![2](https://cloud.githubusercontent.com/assets/535545/15107668/b8d8eb6a-15d9-11e6-83ec-5592b7571945.png)

[2016-05-09 08:56] lantian commented on #75
Missing buildClassName function (from highlight API). But currently I don't where it must be. Will try to find correct place.

[2016-05-09 09:45] rtfpessoa commented on #75
@lantian should be fixed here https://github.com/rtfpessoa/diff2html/commit/8a34346ccb0a2faa5d5a55c0587151ee34ae21b9

[2016-05-09 09:52] lantian commented on #75
Yes! Thanks!

[2016-05-09 09:52] #75 closed

[2016-05-09 09:53] rtfpessoa commented on #75
BTW, I also have another but in mind. And I will try to fix it soon.

Basically we have two code snippets in each diff, the old and the new.
If we parse them together it might not make sense. I will fix this by having two states one for each part.
And this way it should be even more accurate.

[2016-05-09 10:17] rtfpessoa commented on #75
@lantian should be fixed here https://github.com/rtfpessoa/diff2html/commit/73999bb78268816dec7539640df0d55c1b1adb61

[2016-05-09 10:23] lantian commented on #75
Seems to be ok! Thank you!

[2016-05-09 10:25] rtfpessoa commented on #75
I will see if there are any more problems and will probably deploy this soon.

[2016-05-09 10:27] lantian commented on #75
:+1:

[2016-05-09 16:16] isagalaev commented on #75
If you guys don't mind me to weigh in, you probably don't need `buldSpan()` or any code from highlight.js itself to assign two classes on a container. "hljs" is a constant, and it looks like you know the language name anyway, since you call `highlight()` with it (and I'm not sure you even need the language in the class attribute).

All this of course is up to you, I'm just pointing out that assign

[2016-05-09 17:09] rtfpessoa commented on #75
@lantian noticed that some colors where not being correctly set without the classes.

I am not sure if it was depending on `hljs` and the language or just `hljs`.

In my case I only know the one of the language alias, usually the extension.

@isagalaev do you think it might work only with `hljs`?

[2016-05-09 17:31] isagalaev commented on #75
Yes, this was an express design goal for a big refactoring a while ago. Provided you're on version 9 or later.

You shouldn't even need that. The only stuff that gets assigned to ".hljs" class itself is this:

[code]

And you have your own block formatting rules and base colors, I believe.

[2016-05-14 12:48] rtfpessoa commented on #75
@isagalaev actually it was @lantian not sure what were the custom colors he was using.

fyi, this was released as version `2.0.0-rc.3`.

[2016-05-14 15:04] isagalaev commented on #75
Cool! Always nice to see highlight.js being used in some interesting fashion :-)

[2016-05-14 17:07] lantian commented on #75
The theme was: "Sunburst-like style (c) Vasily Polovnyov <vast@whiteants.net>"
And exactly missing ".hljs" class was a problem - that class is defined in theme (with css color property) and wasn't provided by the script. From that point I have no any custom css related to highlight =), only for diff2html.

[2016-05-16 07:43] hawthorneluke opened #77 ".d2h-code-side-line del/ins "display: inline-block" hiding lines"
I'm not sure what the best fix would be, but deleting "display: inline-block" from .d2h-code-side-line (etc?) del/ins lets long del/ins blocks sit on the same line as the text they should be on the same line with.

Without doing this (not sure if it matters, but it was with a 1 line only diff), the non del/ins block text was on its own line, and the del/ins block was on a new line down, but the co

[2016-05-16 08:33] rtfpessoa commented on #77
Hi @hawthorneluke,

What is the version of the library you are using? Are you using the corresponding CSS?

I have a live working version here: https://diff2html.rtfpessoa.xyz/

Can you be more precise about the error?

[2016-05-20 22:37] rtfpessoa commented on #77
I am closing this issue for inactivity.

@hawthorneluke if you do not have anything to add, let me know.

[2016-05-20 22:37] #77 closed

[2016-05-21 22:29] #16 closed

[2016-05-25 16:52] rtfpessoa commented on #26
Doesn't seem much relevant today.

[2016-05-25 16:52] #26 closed

[2016-05-25 16:52] rtfpessoa commented on #33
Doesn't seem much relevant today.

[2016-05-25 16:52] #33 closed

[2016-05-25 16:53] rtfpessoa commented on #54
I think for now we should keep it as is.
If we experience any issues of has any concerns we can re-evaluate.

[2016-05-25 16:53] #54 closed

[2016-05-26 16:56] #37 closed

[2016-06-21 07:18] LionelMarbot opened #85 "Failed to parse lines, starting in 0!"
Hi,

Our diffs are generated in PHP with https://github.com/sebastianbergmann/diff. Here is an example diff:

`"--- Original\n+++ New\n@@ @@\n-This is test.\n-A multiline test.\n-With some minor differencs.\n+This is a test.\n+A multi-line test.\n+With some minor differences.\n","translator_comment":"This is a test.\r\nA multi-line test.\r\nWith some minor differences."`

While Diff2HtmlUI does pa

[2016-06-21 07:29] rtfpessoa commented on #85
diff2html is prepared to parse unified diffs, as defined in http://www.gnu.org/software/diffutils/manual/html_node/Detailed-Unified.html#Detailed-Unified. Over this it can also track the extra information added by git diff. In you case you have some different version of the unified diff without base lines.

diff2html does some effort to recover from failed line identification and starts from 0. In

[2016-06-21 07:33] rtfpessoa commented on #85
@LionelMarbot can you provide a full diff example for me to test?

[2016-06-21 08:32] rtfpessoa commented on #85
@LionelMarbot, after reading the diff you gave me I cannot find any problem on my side.

diff2html is parsing the diff as best as it can.

The line number problem is related to the fact that [sebastianbergmann/diff](https://github.com/sebastianbergmann/diff) is not generating a proper unified diff.

It should return something like `@@ 20 21 @@` being 20 and 21 the starting number from the old and

[2016-06-21 15:58] #85 closed

[2016-06-21 16:06] LionelMarbot opened #86 "Line breaks instead of horizontal scrolling"
Hi,

Is it possible to deactivate horizontal scrolling, and instead have line breaks in the diff view, the same way it is done on GitHub?

Here is an example:

![Line breaks instead of horizontal scrolling](https://doc.enuvo.ch/8d0ea1f536.jpg)

That would be sweet!

Thanks,
Lionel

[2016-06-21 16:14] rtfpessoa commented on #86
Currently it is not possible. It could be some configuration option.

But the CSS might be tricky.

Any contributions are welcome.

[2016-06-27 16:17] emohamed opened #87 "Removed lines starting with 2 dashes are breaking diff output"
Diff2html fails to recognise a line as removed when it starts with 2 or more dashes:

[code]

Here is proof of the problem: http://diff2html-bug-preview.surge.sh/

[2016-06-27 20:02] rtfpessoa commented on #87
@emohamed I think you found a bug. I will look into this.

[2016-06-27 20:24] rtfpessoa commented on #87
Just released version `diff2html@2.0.0-rc.7`, it should fix this issue.
Please test and give me some feedback if something is still missing.

[2016-06-27 20:25] #87 closed

[2016-06-28 05:40] emohamed commented on #87
Works like a charm!

Thanks for the quick fix :+1:

[2016-06-28 17:41] emohamed commented on #87
Actually, this case is still broken:
https://gist.github.com/emohamed/dc5c9449dec39a0fdbacaf2f2ca535f1

[2016-06-28 17:48] rtfpessoa commented on #87
I was actually thinking about it today and I remembered that case. (which is kind of obvious, but I missed it)

But actually I cannot find an easy solution I think I have to do some minor refactor to better find the beginning of files in the diff.

I will let you know when I have something.

[2016-06-28 21:21] rtfpessoa commented on #87
@emohamed I just released `2.0.0-rc.8` now I added more through tests. Let me know if you find any other cases.

[2016-06-29 21:13] rmpestano opened #89 "Performance issue"
Hi guys,

I am facing some performance issues on some diffs which are taking too much time to render.

For example I've generated a diff from the last commit of this repository: https://github.com/rtfpessoa/diff2html/commit/8fe49abaa4977a6c33608ed4b4f84449804fa9db

the full diff content can be found here: http://pastebin.com/VUaXjSSt

I've reduced the diff to a small part and it still takes 20 sec

[2016-06-29 21:26] rtfpessoa commented on #89
@rmpestano It can be the line matching. Can you try to invoke diff2html with 'matching' = none.

If it works maybe you can just decrease the 'matchingMaxComparisons' value.

[2016-06-29 21:35] rmpestano commented on #89
Hi @rtfpessoa,

yea, matching none did the trick!

I'll work on 'matchingMaxComparisons' to see if I find reasonable value.

Thank you very much!

[2016-06-29 21:35] #89 closed

[2016-06-29 21:36] rtfpessoa commented on #89
@rmpestano I also bet it is related to the minified files. Maybe we can ignore matching in lines above certain size.

[2016-06-30 02:29] rmpestano commented on #89
I've tried to work on matchingMaxComparisons but it didn't helped, only 'matching none' solved the issue.

 I think limiting by size would solve this issue, e.g the diff I've talked above is composed by 4 files with a few changes (~60 changes) but two of them are big (diff2html.js 130kb and diff2html.min.js 80kb).

 We could have an attribute like

[code]

[2016-07-12 13:24] rmpestano opened #90 "Binary files not listed in the diff"
Hi,

I've made a diff from the following commit: https://github.com/rmpestano/last-changes-plugin/commit/1d620edfc16476650af3aa696389f42535f6034d

As you can see there are two files changes. The problem I'm facing is that diff2html is ignoring the binary file diff.

Here is the diff I've generated:

[code]

Here is the output where binary file change is ignored:

![generated-diff](https://cloud.gi

[2016-07-12 15:12] rtfpessoa commented on #90
Hi @rmpestano , apparently I broke it with the last fix.
The parser was missing a test for binary files.

Will release a fix soon.

[2016-07-12 15:14] rmpestano commented on #90
great :+1:

[2016-07-12 15:23] rtfpessoa commented on #90
@rmpestano released as version `diff2html@2.0.0-rc.9`

[2016-07-12 15:23] #90 closed

[2016-07-12 15:38] rmpestano commented on #90
Its working great now, thank you very much!

[2016-07-12 17:15] rmpestano commented on #90
Hi again @rtfpessoa,

Although it is working I'm getting the following javascript error:

[code]

Attached a zip containing a sample.

[diff2html-sample.zip](https://github.com/rtfpessoa/diff2html/files/359885/diff2html-sample.zip)

[2016-07-12 17:36] rtfpessoa commented on #90
That is "expected" behaviour.

If I cannot find `@@ ........ @@` I log that error.

Maybe I can log it only If the line starts with `@` and ignore it there is no suck line, like in binary files.

[2016-07-12 17:49] rtfpessoa commented on #90
@rmpestano just did a quick fix for the binary files.

BTW, also released major version `2.0.0` after the first fix (for more than a month to do it).

So this fix is in `2.0.1`.

[2016-07-12 19:15] rmpestano commented on #90
@rtfpessoa, working without errors now, thank you again :+1:

[2016-07-22 07:36] adamjimenez opened #92 "Allow files to be collapsable"
Allow files to be collapsible.

Ideally this could be just CSS to avoid Javascript usage.
We could then allow an option to choose if the files start open or collapsed.

---------

If enabled then the diffs will start as collapsed when there is more than one file.
You would then be able to click the header to toggle the collapse state of the different files.

[2016-07-23 18:37] rtfpessoa commented on #92
I am up for any contributions regarding this.
Seems like an interesting idea 👍
Feel free to throw some ideas here and maybe be a bit more specific about the details.

[2016-07-30 18:26] adamjimenez commented on #92
I'm thinking something along the lines of the github client e.g:

![image](https://cloud.githubusercontent.com/assets/573192/17272326/676a9db2-568b-11e6-9079-9e72dba9a656.png)

[2016-08-06 01:38] rtfpessoa commented on #92
@adamjimenez it looks good.

Maybe we could have an HTML version without the file summary and where all the files are collapsed.

[2016-08-08 15:10] adamjimenez commented on #92
Yes, that would be good. And if there is only one file then default it to expanded.

[2016-08-08 20:22] georgeedwards opened #93 "TypeScript Definitions?"
Would it be possible to write a `.d.ts` file to describe this module, so it can be used with TypeScript?

[2016-08-08 21:48] georgeedwards opened #94 "Question: Diff2Html.getJsonFromDiff is not a function"
I am trying to follow your docs, but haven't found any examples of usage, or function signature docs, have I missed something?

Without the above, I have guessed and created a script like this:

[code]
Note - it's slightly ugly because it's compiled from typescript. When this is run, I get the following error:

[code]

What have I done wrong?

NB:

docs@0.0.0 C:\Users\George\Source\Repos\docs
`--

[2016-08-08 22:03] rtfpessoa commented on #94
Hi @georgeedwards

The API is basically defined by:

[code]

And I have some docs about parameters etc here: https://github.com/rtfpessoa/diff2html#how-to-use

You can also find some real usage examples in the UI helper I have here: https://github.com/rtfpessoa/diff2html/blob/master/src/ui/js/diff2html-ui.js

The error is probably because you need: `require('diff2html').Diff2Html` instead of `requ

[2016-08-08 22:05] rtfpessoa commented on #93
Just answered in your other issue. I will close this one. You can re-open it if you have any other questions.

[2016-08-08 22:06] #93 closed

[2016-08-08 22:21] georgeedwards commented on #94
Thanks! It would be good to add that example to the README docs? The functions seem to return strings? Would you like me to put together a definition file for TS in a PR?

[2016-08-08 22:30] rtfpessoa commented on #94
I know nothing about ts definitions. I can try.

When I have some time I can look into it.

[2016-08-08 22:36] georgeedwards commented on #94
Awesome - that'd be great. This is what I got which I believe fully describes the two main functions, just not the UI helper stuff.

[code]

[2016-08-08 22:50] rtfpessoa commented on #94
That seems to be it. I will give the code a check to see if the docs are missing something.

[2016-08-17 21:29] rtfpessoa commented on #94
@georgeedwards sorry for the delay.

There is one thing that can be more specified. In `getJsonFromDiff` it returns an object and that object has some properties. I will try to make some interfaces for it.

[2016-08-17 21:58] rtfpessoa commented on #94
@georgeedwards, just finished it, what do you think?

[code]

Where is this supposed to go? Should I PR it to DefinitelyTyped?

[2016-08-17 22:30] georgeedwards commented on #94
Awesome! Looks good to me! Yes PR the [Definitely Typed](https://github.com/DefinitelyTyped/DefinitelyTyped) repo, [here](http://definitelytyped.org/guides/contributing.html) is the contributing guide if you need any more info.

[2016-08-17 22:35] rtfpessoa commented on #94
Just tried the test but I cannot seem to make it work.

Due to the `var Diff2Html = require('diff2html').Diff2Html ;`

I have no idea how to write the `declare module`. This one is wrong.

Do you have any idea how to do it?

[2016-08-17 22:59] rtfpessoa commented on #94
I think now is fine:

[code]

[2016-08-17 23:16] rtfpessoa commented on #94
@georgeedwards, just did a PR here: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/10681

[2016-08-30 13:44] rtfpessoa commented on #94
@georgeedwards take a look ate the published version. And let me know if it works.

[2016-08-30 13:44] #94 closed

[2016-08-30 14:43] ssvendsen opened #95 "Problems parsing diff blocks which with certain header statements"
It seems the commit tagged as v2.0.0-rc.9 introduced some problems with parsing certain block header statements.

In this commit, lines 2575 in diff2html.js changed from

[code]

to

[code]

A block is now potentially started _before_ the hunkHeaderPrefix when parsing a diff produced by git with the --find-renames flag specified, leading to garbage in the displayed html diff.

An example of a bloc

[2016-09-02 15:56] rtfpessoa commented on #95
@ssvendsen I need to take a look. I have a really hard time parsing both Git Diff and Unified diff.

If you have any code suggestion it would be really appreciated.

Even though I will try fix this.

[2016-09-02 16:51] #95 closed

[2016-09-02 16:53] rtfpessoa commented on #95
@ssvendsen this should be fixed in version 2.0.3

[2016-09-04 20:27] ssvendsen commented on #95
Thanks, I'll give it  try!

[2016-09-04 22:07] codingtwinky opened #97 "Wordwrap function"
diff2html 2.0.1 is working well for us at Ungit and I was able to fix our custom css bindings relatively easy from 1.6.x.  Except for one feature, word wrap.

CSS word-wrap will not work with diff2html's resulting html code as it is not using actual whitespace, it is using `&nbsp`.  Because of once easy CSS class injection fix for this feature is no longer viable.

1. What is the reasoning behind

[2016-09-05 19:55] rtfpessoa commented on #97
Dam. I knew this would come to hunt me. Even with more tests. Can never get rid of problems. 😒

This is related to the code formatting. I will look into it. I need to use `word-wrap: pre;` and then be able to have the html to not go crazy.

Will let you know as soon as I can get this.

[2016-09-05 21:36] rtfpessoa commented on #97
@codingtwinky just added a fix in #98

Please take a look and if you can test it.

I will merge it probably tomorrow or something like that.
I just need to have a better look and see if nothing else is broken.
Since this changes some big CSS stuff.

[2016-09-10 12:57] rtfpessoa commented on #97
@codingtwinky this should be fixed in `diff2html@v2.0.4`

[2016-09-10 12:57] #97 closed

[2016-09-10 14:00] rtfpessoa commented on #97
@codingtwinky after release 2.0.4 I found some problem with the line css, now it should be fixed in `diff2html@v2.0.6`

[2016-09-11 22:41] codingtwinky opened #99 "Changed row height from "wordwrap" isn't applied in side by side view"
Thank for a quick response on #97 and we do have word wrap working in default view but not in side by side view.  Wordwrap view has always been challenging in side by side view but I figure I would use this time to describe the problem.

Side by side view with wordwrap is challenging because when word is wrapped in one table, that height needs to be applied to another table.  For example, in below

[2016-09-13 12:10] jameshoward opened #100 "Is there a way to modify the templates / HTML?"
We are using your awesome project to display a diff before importing files into a webapp. What we're hoping to achieve is having a checkbox next to each filename title to select whether to include that file in the import.

The first thought I had was to add checkboxes with JS after but it would be useful to have more details on the file and build the HTML at once. I noticed there are templates bui

[2016-09-13 12:21] rtfpessoa commented on #99
That is probably the biggest layout problem.
Even for the line-by-line view it hard to get the breaks correct.

For the side-by-side having only one table. I am not sure if you can make the widths and the overflows work. And even harder should be to have scroll.

If you have any suggestions. I can take a look, but this is quite difficult.

[2016-09-13 12:33] rtfpessoa commented on #100
Currently there is no easy way to make this happen out of the box.

That use case was already mentioned several times and is definitely I want to have.

Just to start the discussion. There are several ways this can be done:

* Allow to inject templates.

* Have some kind of subscription that you can hook to. After one html element is generated you receive the element and can apply some changes and

[2016-09-13 12:40] jameshoward commented on #100
Not saying this is the 'right' way but what I've seen elsewhere is a way to override a template like your option 1. So something like this in the config object:

[code]

Then any that aren't overridden use the default, library-provided versions.

I've not used Hogan so I'm not familiar with it but I'm getting the `…` above could be like the existing templates, e.g. `new Hogan.Template(…)`.

[2016-09-13 12:56] rtfpessoa commented on #100
Any pull requests are welcome. I can try to play with this as soon as I get some time.

[2016-09-16 07:31] arnaspet opened #101 "TypeError: diffInput.replace is not a function"
So im trying to use this library with no success, in backend i do diff with `php`, first i tried `sebiastian/diff` library, after problems with it and google help i found that some people have same problems with that library too. So after that i have changed library to `neos/diff` but still same problems left.

i tried debugging this problem, is it suppose to call this function twice ? Because fir

[2016-09-16 09:00] rtfpessoa commented on #101
Hi @arnaspet,

I found a possible bug in the diff2html-ui leading to a possible bad behaviour.

You can avoid it by explicitly passing the `inputFormat`, and you can also use `$(this)`.

[code]

When I get some time I will review the API and see if there are any more problems. In the meanwhile  try that fix.

[2016-09-16 09:26] arnaspet commented on #101
ok thanks,
also it creates only empty wrapper:
[code]
when i added `"--- a/sample\n+++ b/sample\n"` to start of string only then it started working.

[2016-09-16 09:32] rtfpessoa commented on #101
@arnaspet do not close this for me not to forget to fix this.

Regarding the diff. That is expected. I only support unified diffs or the extended git diff version.

So you need to at least have :
[code]

Your diff is currently not a valid unified diff.

Read more about it here:
http://www.gnu.org/software/diffutils/manual/html_node/Detailed-Unified.html#Detailed-Unified

[2016-09-16 09:34] arnaspet commented on #101
@rtfpessoa Thanks ! Sorry for closing, missclicked it.

[2016-09-16 09:36] rtfpessoa commented on #101
@arnaspet no problem 😄

[2016-09-17 09:28] kevinsimper opened #102 "Working online version of diff2html"
I made a online version which I will use to embed diff2html on my blog with iframes. Soo much better when you are explaining code!

Works but giving a github diff url you it fetches it and shows it online.

https://github.com/kevinsimper/diff2html-example

[2016-09-17 17:31] rtfpessoa commented on #102
Cool! I might even use the idea and add this as a feature of https://diff2html.xyz

[2016-09-17 22:14] kevinsimper commented on #102
Yeah, no problem, the code is pretty simple, wondered why nobody had done similar before! 😄

[2016-09-18 21:07] rtfpessoa commented on #101
Fixed in https://github.com/rtfpessoa/diff2html/commit/d3b053cae0fd40a4e0950fa17375b1d00d5c2848

Will be released soon.

[2016-09-18 21:07] #101 closed

[2016-09-20 20:07] emarcotte opened #103 "Overlapping text in 2.0.6"
Hello,

The changes in 2.0.6 seem to cause a me to get some overlapping text in firefox and chrome on windows. It mostly it seems to affect comments, as if they're not given their own row or something. I've tried to attach a screenshot of the issue here:

![overlap](https://cloud.githubusercontent.com/assets/249390/18686733/f6dc68da-7f4a-11e6-8877-bd92056c9a99.png)

A downgrade to 2.0.5 fixes the

[2016-09-20 20:57] rtfpessoa commented on #103
Actually I cannot replicate the problem if you look in the live version all seems fine.

https://diff2html.xyz/demo

[2016-09-22 08:50] emarcotte commented on #103
Turns out it was due to not having a doctype forcing html5. Simply adding `<!DOCTYPE html>` fixed my problem.

[2016-09-22 08:50] #103 closed

[2016-09-22 09:01] rtfpessoa commented on #103
Ok. Cool 😄

[2016-09-26 02:39] GeorgePhillips opened #104 "Binary files are not included in files changed or diffs"
It would be nice to show all files that have been changed in the diff. Even if this just shows "Binary file updated..." for each file. This would give a complete list of all changes. Happy to add this.

[2016-09-26 09:51] rtfpessoa commented on #104
@GeorgePhillips I have one commit in my pc with some changes related to this. But I cannot find a full spec for the git diff, that contains all the possible sentences.

The one I have is `Binary files {OLD} and {NEW} differ`

[2016-09-27 00:47] GeorgePhillips commented on #104
@rtfpessoa I think thats it. I can't find anything about either. We could change it to understand the new file mode code and fallback to say the rest of that files diff is unreadable.

https://github.com/jekyll/brand/commit/1401b66b3a6a938fb141e405323cbbd96d1f7c2a.diff

[2016-10-08 15:10] rtfpessoa commented on #104
Fixed by #105

Will release soon. Sorry for the delay, been busy lately.

[2016-10-08 15:58] rtfpessoa commented on #104
Released as version `diff2html@2.0.7`

[2016-10-08 15:58] #104 closed

[2016-10-09 15:44] rtfpessoa commented on #100
@jameshoward today I got some time to play around with this.

I made a pretty simple solution in #106 that provides a way to override templates through the initial configuration passed to diff2html.

Let me know if it works for your use case.

[2016-10-09 22:03] rtfpessoa commented on #102
@kevinsimper just did #107 using your idea.

If you can, take a look and let me know if you have any suggestions.

[2016-10-12 16:10] jameshoward commented on #100
It looks good to me. I'll be working on the same piece again tomorrow so will check it works but looks promising.

[2016-10-13 16:15] jameshoward commented on #100
Checked out  that branch and got running with it. I suppose the barrier to entry is having to compile the Hogan template and pass it in when the library (quite rightly) doesn't expose Hogan or the JS utils.

It works fine for my case though, where I can pre-compile the template and use Hogan directly so I say merge and release! 🎉

[2016-10-13 16:23] rtfpessoa commented on #100
@jameshoward I exposed one method to help compilation in HoganJsUtils, do you think I should expose it in the main API of the library?

[2016-10-13 16:26] jameshoward commented on #100
I'm using the library in a browser so I'm assuming the only globals are `Diff2Html` and `Diff2HtmlUI` and there's no way to compile a template through either?

I'm not sure about exposing it on the API. There would be pros and cons, I'm sure.

[2016-10-13 16:34] rtfpessoa commented on #100
I can accept uncompiled templates, maybe it helps.

Initially I thought it would not be interesting, since people might want to cache it.

[2016-10-14 18:58] webchaz opened #108 "Compare two strings of html"
Looking at the API it seems there's only one input option, what format should this input be to compare two strings?

[2016-10-14 19:18] rtfpessoa commented on #108
Hi @webchaz, this library's purpose is only to parse git or unified diff output and generate pretty HTML.

The diff part must be generated by any outside tool such as git or diff or any other compatible tool.

Even though, you can use [diff2html-cli](https://github.com/rtfpessoa/diff2html-cli) to do it.

Ex:

[code]

Note: Run exactly as described the `--` are meant to separate the attributes of d

[2016-10-14 19:18] #108 closed

[2016-10-15 21:23] rtfpessoa commented on #102
This is already online in https://diff2html.xyz/url.html?diff=https://github.com/rtfpessoa/diff2html/pull/106

[2016-10-15 21:23] #102 closed

[2016-10-15 21:23] rtfpessoa commented on #100
This was released as version 2.0.8

[2016-10-15 21:23] #100 closed

[2016-10-16 00:13] rtfpessoa commented on #99
Related to #86

[2016-10-16 00:14] rtfpessoa commented on #86
Duplicated by #99

Closing this one since the other has already more information

[2016-10-16 00:14] #86 closed

[2016-10-20 01:36] samiraguiar commented on #92
For starters, it could be possible to collapse the body of the diffs by clicking on its headers. This can be achieved with jQuery. I currently do this with the following code:
[code]

[2016-10-21 22:06] rtfpessoa commented on #92
@samiraguiar actually it should not be hard. It is even possible with CSS.

I guess the hardest part is making it look good and usable.

If you have some time, maybe doing something like GitHub has would be easy.

I am always open for new PRs 😄

[2016-10-25 14:51] jameshoward commented on #100
That's really cool, thank you. I've used the 2.0.8 version to do exactly what I need.

[2016-11-11 04:50] frostbane opened #115 "binary file diff"
Browser crashes when trying to parse a large diff of a binary file.

If the file is small, it shows nothing.

![0](https://cloud.githubusercontent.com/assets/12523422/20204746/b83da8de-a815-11e6-9870-65781ed8bd73.png)

I suggest that instead of parsing it, return the SHA-256 (or what not) or return "binary file", or anything that can be displayed to the user.

![1](https://cloud.githubusercontent.

[2016-11-12 22:43] rtfpessoa commented on #115
Did a possible fix in #116. Do you have any open source project that I can test on?

[2016-11-21 15:59] soumali opened #117 "diff2 v 2.0.3, not working for large files (size 12MB)"
Hi,

I am working on Oracle Linux 6.7.
diff2html v 2.0.3 fails to run for a large diff file of size 12MB, with below exception:

<--- Last few GCs --->

    5922 ms: Mark-sweep 824.6 (1456.2) -> 824.3 (1456.2) MB, 177.3 / 0 ms [allocation failure] [scavenge might not succeed].
    6114 ms: Mark-sweep 824.3 (1456.2) -> 824.3 (1456.2) MB, 192.1 / 0 ms [allocation failure] [scavenge might not succeed

[2016-11-21 22:35] rtfpessoa commented on #117
That seems to be a problems with the matching algorithm.

Try disabling it with large files. https://github.com/rtfpessoa/diff2html#configuration

Use option matching = none

[2016-11-21 22:35] #117 closed

[2016-11-22 07:02] soumali commented on #117
@rtfpessoa Thanks a lot! It seems to be working. I am using the command line version. Adding option
"--matching "none" ", made it run successfully:

diff2html  -F  <output_html> --matching "none" -i file -- <input_diff>

[2016-12-01 17:07] soumali commented on #117
Not able to view complete file name in generated html from diff. Filename gets truncated in generated html
Eg. <DirectoryName>/FileName<truncated>....
Is there any way to display entire filename in the generated html?

[2016-12-01 17:08] soumali opened #118 "File Name inside generated html gets truncated"
Not able to view complete file name in generated html from diff. Filename gets truncated in generated html
Eg. <DirectoryName>/FileName<truncated>....
Is there any way to display entire filename in the generated html?

[2016-12-01 17:23] rtfpessoa commented on #118
What version are you using? Can you provide an example?

[2016-12-02 05:33] soumali commented on #118
\<DirectoryName\>/FileName\<truncated\>....

[2016-12-03 15:18] rtfpessoa commented on #118
Do you have any suggestions about how to fix this?

#84 Was kind of a fix but the contributor dropped it. Since it still had some corner cases.

I am open to any prs.

[2016-12-05 05:25] soumali commented on #118
Thanks for your comment @rtfpessoa. I will revert back with the solution if any.

[2016-12-05 06:24] soumali opened #119 "Output HTML displays binary file name header as in input diff, but shows diff of previous source file present in same input diff"
In diff2html v2.0.3, If diff contains Binary Files, post diff2html exec, output html displays name of binary file in header as present in input diff, but difference of previous source file that is present in the same diff:

Eg.
Input diff:
![image](https://cloud.githubusercontent.com/assets/3131481/20875497/3f2f391a-bae1-11e6-8db1-f6ed69eef55f.png)

Output HTML:
![image](https://cloud.githubuserco

[2016-12-06 15:03] emarcotte opened #120 "Right side of diff being highlighted as comments"
Hello,

I'm using 2.0.10 and have noticed that some files seem to cause an issue where the right hand side of a side-by-side diff is considered to all be a comment:

![image](https://cloud.githubusercontent.com/assets/249390/20930019/0660817a-bb9a-11e6-9a96-ec324ab52612.png)

I have not figured out what actually triggers the issue, I spent some time trying to step through the line-by-line highligh

[2016-12-07 22:20] rtfpessoa commented on #119
@soumali can you try 2.0.11 version?

[2016-12-11 15:09] rtfpessoa commented on #115
I am considering this fixed. If you have any more questions let me know.

[2016-12-11 15:09] #115 closed

[2016-12-11 15:10] rtfpessoa commented on #119
I am considering this fixed. If you are still experiencing problems let me know.

[2016-12-11 15:10] #119 closed

[2016-12-11 15:11] rtfpessoa commented on #120
@emarcotte can you provide one diff example for me to test?

[2016-12-12 01:43] frostbane commented on #115
I'm terribly sorry I have been very busy with the end of the year stuff.

I actually made a test project but never got the chance to test
[https://bitbucket.org/isochrone/binary](https://bitbucket.org/isochrone/binary)

[2016-12-13 17:55] emarcotte commented on #120
Try this one: [diff2.zip](https://github.com/rtfpessoa/diff2html/files/649679/diff2.zip)

It's got the whole page (including json diff). I'm wondering if my diff generation tool is not generating the right out put, actually. I have hackedly tried to get perforce to spit out git-like diffs (I don't have access to p4-git or whatever it is called).

[2017-01-05 16:57] thinkpozzitive commented on #99
@codingtwinky what changes did you make in order to get "word wrap working in default view"? Can you show me an example?

[2017-01-15 19:39] rtfpessoa commented on #120
@emarcotte, I cannot find out what can be the problem. But you can try to add more context lines when you get the diff command using something like `-U20`.

This is a problems of using highlight in partial code.

For now there is not option for me to get around this.

[2017-01-15 19:39] #120 closed

[2017-02-04 13:37] Lowcase opened #121 "White spaces"
I observed some strange white spaces when I created simple example which you can see bellow.
![image](https://cloud.githubusercontent.com/assets/779950/22618767/80d83c70-eae5-11e6-91c7-e92aa9fcc001.png)

* For some reason there is space on top of the left table. Because of this the lines in left and right tables doesn't match and it is hard to visually match corresponding lines.
* Each file panel'

[2017-02-05 22:32] rtfpessoa commented on #121
Seems like you need to add `<!doctype html>` before the `<html>` tag.

Not sure why it matters, but after I adding it, it now works.

Can you confirm?

[2017-02-06 07:10] Lowcase commented on #121
Wow. Yes, that's it. Thank you.

[2017-02-06 07:10] #121 closed

[2017-02-07 11:06] chenliangyu opened #122 "can not parse diff created by svnlook"
command:     svnlook diff -r REVISION REPOS_PATH
diff output:
Deleted: 44.txt
===================================================================
--- 44.txt	2016-12-09 11:23:56 UTC (rev 10)
+++ 44.txt	2017-02-07 07:48:54 UTC (rev 11)
@@ -1,2 +0,0 @@
-dddd
-ddd

Modified: 4444.txt
===================================================================
--- 4444.txt	2016-12-09 11:23:56 UTC (rev 10)
+++ 4

[2017-02-12 18:33] rtfpessoa commented on #122
@chenliangyu that diff is not following the [Unified Diff Spec](https://www.gnu.org/software/diffutils/manual/html_node/Detailed-Unified.html#Detailed-Unified)

At first glance it seems that it has the Timezone and adds information about the revision in the end.

Seems possible to change the parser so it support that format too.

PRs are welcome. If you want a head start take a look into https://g

[2017-03-17 10:24] J2BB opened #123 "How to customize templates"
Hi,

Does somebody know how to customize templates ?

The doc says : https://github.com/rtfpessoa/diff2html#configuration

For example, I would like to customize the "generic-wrapper".
(See : https://github.com/rtfpessoa/diff2html/blob/master/src/templates/generic-wrapper.mustache)

But I don't see how to that in options. I suppose I need to replace the "global.browserTemplates["generic-wrapper"]"

[2017-03-17 11:52] rtfpessoa commented on #123
Hi @J2BB for exact usage details check https://github.com/rtfpessoa/diff2html/blob/c2c253d3e3f8b8b267f551e659f72b44ca2ac927/test/hogan-cache-tests.js#L39

I have both types used there. The only difference is that you are passing the config to Diff2html and not HoganJsUtils since it is a hidden component.

[2017-03-17 11:52] rtfpessoa commented on #123
Hi @J2BB for exact usage details check https://github.com/rtfpessoa/diff2html/blob/c2c253d3e3f8b8b267f551e659f72b44ca2ac927/test/hogan-cache-tests.js#L39

I have both types used there. The only difference is that you are passing the config to Diff2html and not HoganJsUtils since it is a hidden component.

Let me know if you have any more questions if everything is fine close this please

[2017-03-17 13:23] J2BB commented on #123
Hi @rtfpessoa ,
Thank you for this fast answer !

Sorry, but I don't see the exact way to do that :(

I try that :
`    diff2htmlUi.draw(
      '#diff',
      {
        templates: {
          'generic-wrapper': HoganJsUtils.compile('<div class="d2h-wrapper"></div>')
        }
      }
    );`

But without success...

[2017-03-17 14:14] J2BB commented on #123
Hi @rtfpessoa ,

Thank you for this fast answer, it works perfectly !

Solution :
`var HoganJsUtils = new (require('../../../../node_modules/diff2html/src/hoganjs-utils.js').HoganJsUtils)();
diff2htmlUi.draw( '#diff', { templates: { 'generic-wrapper': HoganJsUtils.compile('<div class="d2h-wrapper"></div>') } } );`

Thanks !

[2017-03-17 14:19] rtfpessoa commented on #123
Ok, now I understand your problem.

That is definitely a recommended way, you should use the `rawTemplates`. The idea is that I will compile the `rawTemplates` and `templates` is only if you want to depend on hogan and compile them yourself.

[2017-03-17 14:25] J2BB commented on #123
Ok, so i will prefer this way :

`{ rawTemplates: { 'generic-wrapper': HoganJsUtils.compile('<div class="d2h-wrapper"></div>') } }`

?

[2017-03-17 14:27] rtfpessoa commented on #123
No, you just need the HTML:
[code]

[2017-03-17 14:32] J2BB commented on #123
Oh ok ;)

And another question : what is the best way to replace the content of the "d2h-file-header" block in a side-by-side diff ?

@See : https://github.com/rtfpessoa/diff2html/blob/master/src/templates/line-by-line-file-diff.mustache

[2017-03-18 00:09] rtfpessoa commented on #123
Currently I guess you would have to completely replace the template `side-by-side-file-diff` template. But I would also be open for a PR separating it into it's own template.

[2017-04-26 03:54] zjh1943 opened #126 "Not parse `svn diff --git` output right"
When parse `svn diff --git` output, we will get errors below:

### parse the wrong file name

svn diff --git will output header like this:

diff --git a/color_doc.docx b/color_doc.docx
--- a/color_doc.docx	(nonexistent)
+++ b/color_doc.docx	(revision 10)

We got b/color_doc.docx (revision 10) as file name.

### Not support 5 characters file mode

`svn diff --git` will output file mode like that:
[

[2017-04-26 19:46] jkm opened #127 "Show moved lines"
Often when reviewing code that does refactoring, code is moved in files or between files. Currently it's hard to identify when code is merely moved. I'd like to have such a feature as it speed-ups reviewing. I am also open for other ways to address the issue. I hope you also share that visualizing moved code or lines in general is useful.

[2017-04-26 20:35] rtfpessoa commented on #126
Fixed with #125 right?

[2017-04-26 20:35] rtfpessoa commented on #122
Closing for inactivity.

[2017-04-26 20:35] #122 closed

[2017-04-26 20:36] rtfpessoa commented on #127
Not sure if that is possible, but PRs and ideas are always welcome 😄

[2017-04-26 20:36] #123 closed

[2017-04-26 20:36] #118 closed

[2017-04-26 20:48] jkm commented on #127
If you have an idea how to visualize a moved line and combine neighboring moved lines it's possible. We only need to define how to specify moved code. In diffs you usually only see removed or added lines. Can you advice where the information of a moved line should be provided?

[2017-05-04 03:02] zjh1943 commented on #126
Yes.

[2017-05-05 21:06] Thorpe89 opened #129 "Doesn't integrate alongside Angular"
I'm trying to run this plugin within an Angular app, I've having no luck due to a conflict with `$`.

The error I'm getting is:

`TypeError: $ is not a function at Diff2HtmlUI._initSelection at new Diff2HtmlUI`

We run noconflict and use `jq` in other places, had no issues with other plugins but this one just doesn't seem happy. I've searched but no one else seems to have had this issue?

There's

[2017-05-05 21:14] rtfpessoa commented on #129
Seems like you already have some clues in stackoverflow.

You can also use diff2html directly instead of using the diff2html-ui helper, as described in the api here: https://github.com/rtfpessoa/diff2html#api. This way you can separate the html generation and insertion in the dom. But you will also have to bind the expandable files, side scroll and highlight separately.

Let me know if you need mo

[2017-05-05 23:29] Thorpe89 commented on #129
I'm completely lost, the API examples don't seem to explain anything and `docs/diff2html.d.ts` doesn't exist? Are there any code examples without using the UI helper?

[2017-05-07 09:50] rtfpessoa commented on #129
I just fixed the typescript definition location. It is actually in `typescript/diff2html.d.ts`, but if you are using typescript I am definitely not the right person to help you since I never actually used it. But from my understanding it is just like normal js after you include the definition, which is also included in the https://github.com/DefinitelyTyped/DefinitelyTyped repo.

About the library

[2017-05-10 09:34] #129 closed

[2017-06-15 15:48] adispartadev opened #132 "Compare 2 html string"
Is that possible to compare 2 string of html and showing the diferent side-by-side?

[2017-06-15 18:38] rtfpessoa commented on #132
As described in previous issues this is just a diff parser. But since it integrates nicely with git if you follow the solution described here it will do https://github.com/rtfpessoa/diff2html/issues/108

[2017-06-15 18:38] #132 closed

[2017-06-30 08:42] nonelove opened #134 "How can I import 'Diff2HtmlUI' in Node.js?"
Hi,

In 'package.json', only the 'Diff2Html' module is exported. Could you export 'Diff2HtmlUI', too?

Thanks.

[2017-07-02 19:06] rtfpessoa commented on #134
Hi @nonelove,

If you are referring to the field "main", as it says in the npm website we should only export one JS file there.

[2017-07-02 19:06] #134 closed

[2017-07-02 19:09] rtfpessoa commented on #127
@jkm it could be shown in the color or with any other css style tip.

Currently we have a correlation algorithm that associates lines that look similar but does not exactly identify them differently.

Let me know if you are still interested in going on with this.

[2017-07-21 14:45] Dropth opened #135 "synchronisedScroll doesn't work with Diff2Html.getPrettyHtml"
Hi there !

### Environement

  * OS: Windows 10
  * diff2html version: 2.3.0
  * Using diff2html directly or using diff2html-ui helper: diff2html directly

### Problem

When using `Diff2Html.getPrettyHtml`, if we set true to the synchronisedScroll, it dosn't work.

### CodePen Example

[Diff2Html.getPrettyHtml Example](https://codepen.io/anon/pen/RZbWYG?editors=0010#0)

In any case, thanks for yo

[2017-07-21 22:09] rtfpessoa commented on #135
To have synchronized scroll you need JS and for that reason it only works with the diff2html UI helper. Also you need to have JQuery for it to work. Check the examples in the Readme on how to use it.

I updated the README for it to be more explicit.

[2017-07-21 22:09] #135 closed

[2017-08-24 07:54] YechengZhou opened #136 "when the first file diff has many lines in side-by-side format, the first file will cover the second one"
### Step -1: Before filling an issue check out troubleshooting section

  * Go to [README.md#Troubleshooting](https://github.com/rtfpessoa/diff2html#troubleshooting)

### Step 0: Describe your environment

  * OS: ___macos__
  * diff2html version: __2.3.0___
  * Using diff2html directly or using diff2html-ui helper: ___2.0.12__
  * Extra flags: _____

### Step 1: Describe the problem:
when the fir

[2017-08-24 22:43] rtfpessoa commented on #136
That input is kind of corruped you have `\x2b\x2b\x2b` instead of `+++` in several places. Can you provide clean input?

[2017-08-27 06:12] YechengZhou commented on #136
`diff --git a\/build-golang.py b\/build-golang.py\nindex 6a77a27..84184bc 100755\n--- a\/build-golang.py\n+++ b\/build-golang.py\n@@ -1,105 +1,100 @@\n #!\/usr\/bin\/env python\n-\n-# CHANGE LOG ###\n # maintainer: taowen@test.com\n # 0.1\n # 0.2 support BUILD_LDFLAGS\n-# 0.3 fix dep \x26 govendor\n \n-import os\n import sys\n import subprocess\n \n # input arguments\n gopath_dir = \x27\/tmp\/buil

[2017-08-28 03:30] YechengZhou commented on #136
`diff --git a/build-golang.py b/build-golang.py
index 6a77a27..84184bc 100755
--- a/build-golang.py
+++ b/build-golang.py
@@ -1,105 +1,100 @@
 #!/usr/bin/env python
-
-# CHANGE LOG ###
 # maintainer: test@test.com
 # 0.1
 # 0.2 support BUILD_LDFLAGS
-# 0.3 fix dep & govendor

-import os
 import sys
 import subprocess

 # input arguments
 gopath_dir = '/tmp/build-golang'
 os.environ['GOPATH'] = gop

[2017-08-28 03:32] YechengZhou commented on #136
@rtfpessoa  updated with my clean input

[2017-08-28 03:33] YechengZhou commented on #136
line-by-line is ok, but when switch to side-by-side, this issue occured

[2017-08-28 07:02] YechengZhou commented on #136
all code
[code]

[2017-08-28 13:02] czb opened #137 ".d2h-file-diff max-height"
I would like to limit the height of every diff to e.g. 300 px. Therefore I do

[code]

but then line numbers do not follow. I see they are set to:

[code]

If I remove it, everything works just fine (at least it seems to).

Is there any particular reason for heaving `position: absolute` or can I just remove it?

PS: Thanks a lot for this great library!

[2017-08-30 04:23] sidgwick opened #138 "SSL certificate of https://diff2html.xyz has expired."

[2017-08-30 17:21] rtfpessoa commented on #138
Thanks for the heads up. For some reason the renewal was failing. Should be
back now.
On Wed, 30 Aug 2017 at 05:23, Zhigang Song <notifications@github.com> wrote:

--
Best,
Rodrigo

[2017-08-31 13:12] #138 closed

[2017-09-01 20:47] rtfpessoa commented on #137
Actually I have no idea. That was a long time ago and my CSS skills are a bit limited.

I can give it a try when I have some time.

[2017-09-01 20:53] rtfpessoa commented on #136
The diff you updated is still not valid since the spaces in the beginning of the lines are missing and the one inside the HTML is all added lines and does not replicate the problem. Can you pipe the diff to a file and upload that file here without changing it?

[2017-09-02 10:39] lndj opened #139 "How to show all content, not just diff part"
How to show all content, not just diff part
I want to show diff of two api's response, I need all content, not just different parr

[2017-09-02 13:37] rtfpessoa commented on #139
Hi @lndj, diff2html is just a parser and pretty generator of diffs. If you want more context it needs to be done in the tool you are using to generate the diff. For example git diff has option `--unified=<n>` where you can ask for more context lines.

[2017-09-02 13:37] #139 closed

[2017-09-30 16:36] #126 closed

[2017-09-30 16:37] rtfpessoa commented on #127
Closing due to inactivity

[2017-09-30 16:37] #127 closed

[2017-09-30 16:37] rtfpessoa commented on #136
Closing due to inactivity

[2017-09-30 16:37] #136 closed

[2017-09-30 17:03] rtfpessoa commented on #137
After a better look I discovered that `position: absolute` is keeping the line numbers together. Is a solution similar to Bitbucket. GitHub uses tables style and breaks lines. Not sure if it is possible to have the best of both. For #99 it would be great.

[2017-10-06 04:59] isaac opened #142 "Can't generate HTML for minified Javascript diff"
### Step 0: Describe your environment

  * OS: macOS Sierra (10.12.6)
  * diff2html version: 2.3.1
  * Using diff2html directly or using diff2html-ui helper: directly
  * Extra flags: --matching "none"

### Step 1: Describe the problem:

#### Steps to reproduce:

[code]

OR try and load the same diff using the demo website here: https://diff2html.xyz/demo?diff=https://github.com/isaac/jquery-min-d

[2017-10-09 17:04] beebek commented on #72
I have following code snippet for which diffs are not getting highlighted.

        <script>
            var lineDiff = `diff a/sample b/sample
    --- a/sample
    +++ b/sample
    @@ -11 @@
    -test
    +test1r`;
            document.addEventListener("DOMContentLoaded", function() {
                var diff2htmlUi = new Diff2HtmlUI({diff: lineDiff});
                diff2htmlUi.draw('#line-by-l

[2017-10-09 17:39] rtfpessoa commented on #72
Hi @beebek  you are drawing in `#line-by-line` and highlighting on `#side-by-side`

[2017-10-09 17:53] beebek commented on #72
Hi, @rtfpessoa sorry for the typo, actually I am drawing on `#line-by-line` div.

[2017-10-09 18:00] rtfpessoa commented on #72
Also I am not sure what you want to highlight. That is not code so not sure what is the highlight

[2017-10-09 18:05] beebek commented on #72
Thanks for that quick reply. Please check this.
<img width="1042" alt="screen shot 2017-10-09 at 11 03 09 am" src="https://user-images.githubusercontent.com/1183800/31351872-8cde3b32-ace1-11e7-8657-f220f4509690.png">

[code]
if I do not have that `addition` line, it will basically not highlight the changes as in the screenshot.

[2017-10-09 19:05] rtfpessoa commented on #72
Ahh I see what you mean now.

Highlight is a very hardcore feature since it relies on filenames to detect the language and with partial snippets the job is even harder. I am using highlight.js but this case might just be a problem with the few information.

Since the filename is not correctly grabbed the job of the highlight is even harder. So I guess there is not much to do here.

Are you using g

[2017-10-09 19:19] beebek commented on #72
I am using diff.
[code]

The same diff content is correctly rendered by diff2html from terminal though. e.g.
`diff -U 0 /tmp/content1.json /tmp/content2.json | diff2html -i stdin --style side`

[2017-10-09 20:07] isaac commented on #142
@rtfpessoa just wondering - were you able to reproduce this bug yourself?

Is this something you have seen before?

I'm happy to help fix this, but I don't much experience debugging these kind of issues with Javascript libraries. If you could point me in the right direction that would be much appreciated :)

[2017-10-09 20:18] rtfpessoa commented on #72
Wow that is weird. They are both the same. Just a CLI wrapper.

[2017-10-09 20:21] rtfpessoa opened #144 "Problem with date parsing"
Check https://www.gnu.org/software/diffutils/manual/diffutils.html#Detailed-Context for more docs and https://github.com/rtfpessoa/diff2html/pull/143 for context

[2017-10-09 20:24] rtfpessoa commented on #142
Since this happens online it can be a problem.

Still not sure yet where exactly it happens I would also have to check.

You can for example try to use the chrome debugger to see where it breaks. If I get some time I will also take a look.

[2017-10-11 00:19] isaac commented on #142
@rtfpessoa I did some profiling of the CLI process - here is the gist: https://gist.github.com/isaac/87a46b2cd4ecc0aa90cc2d97e12f1398

I generated this by running this command: `NODE_ENV=production node --prof /usr/local/bin/diff2html -F jquery-min.html --matching none -i file -- jquery-min.diff` in the same directory where I generated the diff above. This then creates a log file which I processed

[2017-10-16 22:49] #142 closed

[2017-10-18 10:10] hellojukay opened #146 "How can i use it in Angular4?"
This project is nice, but how can  i use it in Angular4!

[2017-10-18 23:21] rtfpessoa commented on #146
I never used it with angular, but there should not be any problem. You just
need to include the js, css and then invoke the html generator. You can
also use the Ui helper but you would need to include jquery which I guess
does.not make much sense with angular. Check the examples in the readme for
the details.
On Wed, 18 Oct 2017 at 11:10, hellojukay <notifications@github.com> wrote:

--
Best,
Rodr

[2017-10-19 01:34] hellojukay commented on #146
@rtfpessoa
![qq20171019-093019](https://user-images.githubusercontent.com/10371891/31750075-5e5afa34-b443-11e7-80e4-189622e05db7.png)
that is my code in angular4,i am sure i include this package in node_modules,but this look likes undefined.
![image](https://user-images.githubusercontent.com/10371891/31750139-aaea7a3c-b443-11e7-90d8-6b144b5920c2.png)

[2017-10-19 02:55] hellojukay commented on #146
I fix it.

[2017-10-19 02:56] hellojukay commented on #146
`import { Component, OnInit } from '@angular/core';
import {Diff2Html} from 'diff2html'

@Component({
  selector: 'app-app-diff',
  templateUrl: './app-diff.component.html',
  styleUrls: ['./app-diff.component.css']
})
export class AppDiffComponent implements OnInit {

  htmlString: string;
  constructor() { }

  ngOnInit() {
    console.info(Diff2Html);
    let d2h = Diff2Html.Diff2Html;
    cons

[2017-10-19 14:43] #146 closed

[2017-10-19 17:13] rtfpessoa commented on #146
Nice. Glad you were able to make it work. Would you be interested in creating some extra documentation for the README for the specific angular case.

[2017-10-23 02:27] hellojukay commented on #146
@rtfpessoa That is ok!

[2017-10-24 08:32] tdurieux opened #148 "Incorrect code highlight when a previous chunk end with a block comment"
### Step 0: Describe your environment

  * OS: Ubuntu
  * diff2html version: 2.3.1
  * Using diff2html directly or using diff2html-ui helper: diff2html-ui
  * Extra flags:
[code]

### Step 1: Describe the problem:

The code of the second chunk is highlighted as a comment because the first chunk ends with a block comment.

![image](https://user-images.githubusercontent.com/5577568/31931366-4cd02262

[2017-10-26 11:08] 4picht commented on #137
If I replace `position: absolute` with `display: block` everything seems to work fine, even in scroll containers. I haven't checked many browsers though ...

[2017-11-04 15:47] rtfpessoa commented on #148
@tdurieux this is a know issue, but is also the best I could do with the partial information available in the diff. If you want to take a look at the code in https://github.com/rtfpessoa/diff2html/blob/master/src/ui/js/diff2html-ui.js#L82 and make any suggestions, fell free to open a PR.

NOTE: If you retrieve a diff with more context can also help but you will have bigger diffs.

[2017-11-04 15:47] #148 closed

[2017-11-04 15:51] rtfpessoa commented on #137
Sorry for the delay answering.

If you change that, when scrolling horizontally the lines wont be fixed on the left side. That might be the initial reason.

[2017-11-07 11:17] rolshevsky opened #150 "[Question] Is it possible to use diff2html just for code highlighting?"
Hello,

In some specific cases along with `diff-view` I need to show code as-is, and I want to show it in the same way as `diff-view` doing it.

Right now I using some tricky solution where I creating patch compared with empty string:
[code]

And it works in following way:
![firefox_2017-11-07_13-10-54](https://user-images.githubusercontent.com/4366995/32490797-1c3d2d78-c3bd-11e7-8744-22eac38e0620

[2017-11-07 11:23] rolshevsky commented on #150
I hope that I can do it using `template overrides` for these specific cases, but maybe we have some better way to do that?

[2017-11-15 10:00] ManojkumarV opened #151 "Add new div between diff lines"
Is it possible to add github like commenting div element in between two lines in both side by side and line-by-line view.

[2017-11-16 17:58] masad-frost commented on #134
You can import both and re-export them in a common module/file?

[2017-11-17 21:39] rtfpessoa commented on #151
I guess that could be done by overriding the line template. Did you try?

[2017-11-17 21:43] rtfpessoa commented on #150
With a first look I think you could do that with overriding `generic-line` to remove the prefixes, then disabling the comparison of lines and also removing the header line from the json. Let me know if you need any other tips.

[2017-11-22 07:43] gonogo opened #152 "Including the commit message, hash, author etc. in the output"
Hi,

When rendering a diff, I'd like to include the git commit message and the author. I can't see any examples of how to do this.

Is this possible?

Thanks!

[2017-11-22 09:22] pbu88 commented on #152
I've thought about this, which is a nice to have but in fact it falls out of the scope of the tool per se. Commit info is not part of a diff, is part of a commit (which incidentally has a diff as part of it).

In the case when a commit output is read by the tool, it would be possible to parse the commit info as well and provide it in the output object. When is just a plain diff, we don't do any of

[2017-11-26 15:49] rolshevsky commented on #150
@rtfpessoa, thanks a lot. That's all what I need.

[2017-11-26 15:49] #150 closed

[2017-11-28 10:16] adamjimenez opened #153 "lodash.merge is not a function"
For some reason I was getting this error, which I fixed by changing:
`lodash.merge(newCfg, defaultConfig, cfg);`

to:
`_.merge(newCfg, defaultConfig, cfg);`

The lodash var was an empty object. Is there some issue with require and exports?

[2017-11-28 11:03] pbu88 commented on #153
How are you using lodash and how is it relevant to this project? Could you share where your fix was made? A diff or something?

[2017-11-28 11:09] adamjimenez commented on #153
https://diff2html.xyz/assets/diff2html.js
line: 21788

[2017-11-28 11:15] pbu88 commented on #153
I see, could you please provide code (a minimal example) of a use case that would trigger this error and also the full stack trace? I can see what you mean but is very hard to reproduce by looking directly to the generated JS. Looks like a problem in utils.js module but I can't really spot it just by looking. Some steps to reproduce and the stacktrace would be very helpful.

Thanks!

[2017-11-28 11:22] adamjimenez commented on #153
In my code I'm doing this:
[code]

Stack trace is:

  at Utils.safeConfig (diff2html.js:21787:12)
  at Diff2Html.getJsonFromDiff (diff2html/diff2html.js:20576:21)
  at new Diff2HtmlUI (diff2html-ui.js:26:28)
  ...
 undefined

[2017-11-29 12:39] rtfpessoa commented on #153
I really have no idea why that would happen. The only file where lodash is used is here: https://github.com/rtfpessoa/diff2html/blob/b88c775ebeb9c02a882f1e0b1da0f88fa3794418/src/utils.js and it seems fine.

[2017-12-04 17:52] cyphercodes opened #154 "Diff2HtmlUi typescript Type definitions"
Are Typescript definitions implemented for Diff2HtmlUi?

How can we currently use Diff2HtmlUi in typescript?

[2017-12-04 17:54] cyphercodes commented on #154
#134

[2017-12-05 01:32] rtfpessoa commented on #154
Not atm. Feel free to send a PR with the definition.

[2017-12-08 15:32] dilips86 commented on #94
@rtfpessoa
I'm trying to use the Diff2HtmlUI for two json comparison like below as per doc.
`var diff2htmlUi = new Diff2HtmlUI({diff: lineDiffExample});`
Trying in Angular 2.

Squawking with error saying Diff2HtmlUI() is not a defined constructor?

Can you provide help how to integrate in Angular2 to compare two json objects and highlight the differences?

[2017-12-08 15:45] rtfpessoa commented on #94
@dilips86. I never used Angular so I am not sure if I can help.

Also diff2htmlui does not have a typescript definition, only diff2html has.

Maybe you can check https://github.com/rtfpessoa/diff2html/issues/146 and see if it helps you.

[2017-12-08 17:00] dilips86 commented on #94
@rtfpessoa Thanks . Will check.

[2017-12-10 06:27] josharian opened #155 "Visual artifacts in side-by-side diffs"
* OS: macOS 10.13.1
  * diff2html version: 25631b3ed70ae5b4d97c5f7f07246c3ba770643b
  * Using diff2html directly or using diff2html-ui helper: `diff2html-ui helper`
  * Extra flags: `{inputFormat: 'diff', outputFormat: "side-by-side", showFiles: false, matching: 'lines'}`; see html below
  * Chrome 62.0.3202.94 (update to date), similar on Safari

---

I'm getting ugliness in my side-by-side diffs

[2017-12-10 21:20] rtfpessoa commented on #155
@josharian wow that is quite a nasty bug you got there.
The CSS is pretty hardcore atm. I never was experienced in CSS and to achieve all the tricks I had to make some weird decisions.

In this case seems like the side by side panels are having issues.
I need to learn the new trends like flexbox and implement this properly.

In the meanwhile if you change some things you might fix it with this css

[2017-12-10 21:59] josharian commented on #155
Thanks for the super speedy reply!

Those changes fixed things for me, at least for this diff. I'll continue exploring others over the coming week and report back if I find anything else.

I wish I had the CSS skill to send a useful PR, but I'm not even close.

[2017-12-11 05:47] dilips86 commented on #94
@rtfpessoa Hey thanks. Anyways I figured it out the issue and fixed it. It works fine with difference highlighting as well with diff2html itself and not using diff2htmlUi.

Would also like to know, is there any API or functionality that will do highlighting the differences and still displays the entire json/string contents? Currently it shows only the differences [diff patch] snippets.

[2017-12-11 11:55] jmecosta opened #156 "weird overlap of lines"
### Step 0: Describe your environment

  * OS: windows 10
  * diff2html version: diff2html@2.3.2
  * Using diff2html-ui helper: 2.3.2
  * Extra flags: showFiles: true, matching: 'lines', outputFormat: 'side-by-side'

### Step 1: Describe the problem:

using example in readme.md, i get this:

![image](https://user-images.githubusercontent.com/1041352/33829869-a886908a-de7a-11e7-8106-123107698955.pn

[2017-12-12 22:25] rtfpessoa commented on #94
@dilips86 diff2html does not generate any kind of diff. For you to have the full file you need to tell git to give you more context and pass a parameter to git like [this](https://git-scm.com/docs/git-diff#git-diff--Ultngt).

[2017-12-12 22:29] rtfpessoa commented on #156
Just checked and here seems normal. Might be related to any css you have in the page. Like table styles, spacing, etc.

The CSS is not very bullet proof.

[2017-12-14 01:30] Caiyeon commented on #94
@dilips86 were you able to get Diff2HtmlUi working? I'm seeing the same error
`"TypeError: Diff2HtmlUI is not a constructor"`
when importing via `require('diff2html/dist/diff2html-ui.js')`.
I'm not sure if this is because the Diff2HtmlUI constructor was never exported or if I'm missing something.

[2017-12-16 00:30] rtfpessoa commented on #151
Closing due to inactivity

[2017-12-16 00:30] #151 closed

[2017-12-16 00:34] rtfpessoa commented on #152
I completely forgot to answer this issue, sorry for the delay.

I completely agree with @pbu88. Having more information about the commit is kind of out of scope but would be nice to have. If you have any suggestion about how to do it let me know.

[2017-12-16 00:35] rtfpessoa commented on #153
Closing due to inactivity

[2017-12-16 00:35] #153 closed

[2017-12-16 00:35] rtfpessoa commented on #154
Closing due to inactivity

[2017-12-16 00:35] #154 closed

[2017-12-16 00:35] rtfpessoa commented on #156
Closing due to inactivity. Let me know if I can help with anything else

[2017-12-16 00:35] #156 closed

[2017-12-16 06:23] jmecosta commented on #156
I'm working on other stuff, during next week i will come back to this to see if I can spot the issue. Thanks anyway

[2017-12-16 16:54] jmecosta commented on #156
yep, it was a table td style that was messing up the all thing. thanks

[2017-12-18 13:52] dverbru opened #157 "Show "no newline at end of file" warning"
### Step 1: Describe the problem:

Often text editors add new lines at EOF to comply with UNIX standard as git expects. When such newlines are introduced (or accidentally removed) to an already tracked file, this diff viewer doesn't offer a visual clue about that missing invisible character. Please note that git-diff shows a warning for this case in the terminal and GitHub supports it on their dif

[2017-12-19 14:31] adamjimenez commented on #153
please re-open - [here's a fiddle](http://jsfiddle.net/adamjimenez/zocpxtyb/3/). check the console error..

[2017-12-20 10:15] adamjimenez opened #158 "lodash.merge is not a function"
please re-open #153

[2017-12-22 11:32] rtfpessoa commented on #158
Come on?
Why would you need to open a new issue?

You did not provide any PoC I think it was ok to close the issue.
If you have more details just wait a bit so i can take a look again, opening new issues is not going to help the process.

[2017-12-22 11:32] #158 closed

[2017-12-22 11:38] rtfpessoa commented on #157
@dverbru that makes complete sense. PRs are welcome 😄

[2017-12-23 14:14] adamjimenez commented on #153
ok,, any reason why we can't use my suggested fix?

[2017-12-23 17:07] rtfpessoa commented on #153
Your fix would only work in a browser where the default imported lodash is
defined as _. That would never be true in node or somewhere else. Since the
diff to html I am providing is a fat js with all the deps included. There
must be a way for require js to work. Or some other way to do the code but
I am not sure how yet. And did not have much time to check. If you want to
test just change run the

[2018-01-02 18:35] adamjimenez commented on #153
it works if I build with webpack instead of browserify

[2018-01-02 18:37] adamjimenez commented on #153
I had another issue when building with r.js ("has more than one anonymous define").
I got around it by removing the diff dependency and adding it externally, not ideal!
More on this issue:
https://github.com/webpack/webpack/issues/989
https://github.com/requirejs/r.js/issues/558

[2018-01-10 09:10] wesssel opened #160 "Lodash merge function"
Hello,

Currently your module is loading the whole lodash module.

This is ~500kb

I created a PR that only loads the needed function.

Please have a look => https://github.com/rtfpessoa/diff2html/pull/159

[2018-01-10 18:34] #160 closed

[2018-01-23 10:56] xqin opened #161 "can not display correct with `/$/`"
* OS: macOS Sierra Version 10.12.6
  * diff2html version: 2.5.3
  * nodejs version:  v9.3.0
  * Using diff2html directly or using diff2html-ui helper: directly
  * Extra flags: NONE

`git diff` output:
![image](https://user-images.githubusercontent.com/1265888/35271837-4852b962-006e-11e8-8486-152d60608991.png)

`diff2html` result:
![image](https://user-images.githubusercontent.com/1265888/35271851

[2018-01-24 03:54] xqin commented on #161
this bug is `diff2html-cli` problem.

![image](https://user-images.githubusercontent.com/1265888/35313625-5865f344-00fc-11e8-8eb4-aa1e31075354.png)

[code]

![image](https://user-images.githubusercontent.com/1265888/35313720-e9496d0a-00fc-11e8-9c20-e0d59d154d6a.png)

how to fix:
[code]
![image](https://user-images.githubusercontent.com/1265888/35313766-2c1d8d64-00fd-11e8-9d3a-d6cfd969c610.png)

[2018-01-24 03:54] #161 closed

[2018-01-26 16:45] pbu88 opened #162 "The types for typescript are not up to date in npm"
Basically, doing `npm install --save-dev @types/diff2html` will install a not up-to-date version of the types. In particular, the return type of `getJsonFromDiff()`, which is `Result[]` is wrong. This was fixed here: https://github.com/rtfpessoa/diff2html/commit/23419f7568e9aa281d7a38c27b42158ab7c18b86

I'm not sure why npm has not been updated and not sure what the process to update it is, that's

[2018-01-28 14:18] rtfpessoa commented on #162
I have very few experience with typescript. Not even sure what `@types/diff2html` means. Initially the types were submitted to https://github.com/DefinitelyTyped/DefinitelyTyped and maybe that is the problem.

[2018-01-28 15:01] pbu88 commented on #162
I see, I can take a look then, will try to understand how the process is to submit the types to npm and update them. Will keep the issue open until we fix it, does that sound ok?

[2018-02-05 22:21] pbu88 commented on #162
Couple of findings:

Indeed we need to make a PR to DefinitelyType, here's the relevant doc link: https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html

We have most of the types defined for typescript but some functions are missing, so this are fine to be added on demand whenever needed.

My main concern is that we don't have a way to connect the type definitions in this

[2018-02-06 09:11] rtfpessoa commented on #162
Maybe adding the types here was a bad idea. Maybe try to make a test for
the types on the official repo. And remove the types from here. That way it
would fail and require a private there.

On Mon, 5 Feb 2018, 10:21 pm Paulo Bu, <notifications@github.com> wrote:

--
Best,
Rodrigo

[2018-02-09 22:23] pbu88 commented on #162
The PR was merged on DefinitelyTyped and the changes are visible now in the package     `"@types/diff2html": "0.0.4"`.

I think is ok to close this issue now and I agree with you. Maybe having the types *only* on DefinitelyTyped is a better approach. In Whenever someone submits a PR there you get notified and have to review it so I assume is safe to just have them there.

Having them here is usefu

[2018-02-09 22:23] #162 closed

[2018-02-20 22:01] astridx opened #163 "Is it possible to use diff2html for showing differences of two local files"
Thank you very much for providing diff2html. I like the views (output Formats).

I would like to show differences of two local files. Can you suggest a way to create the format of the input data: 'diff' or 'json'?

[2018-02-21 19:59] rtfpessoa commented on #163
Hi @astridx,

From what I understood what you want is something like this:

`git diff --no-index file1 file2 | diff2html -i stdin`

Let me know if it worked.

[2018-02-21 22:49] ahtahkr opened #164 "Is it possible to beautify just the patch of a single file"
<h2>This is just a question.</h2> Is it possible to beautify just the patch of a single file. The patch is a string: <br><br><b><i>"@@ -0,0 +1,26 @@ +## Contributing + +[fork]: https://github.com/github/fetch/fork +[pr]: https://github.com/github/fetch/compare + +Hi there! We're thrilled that you'd liske to contribute to this project. Your help is essential for keeping it great. + +Contributions t

[2018-02-22 17:44] scottix commented on #163
Aww I see how this work now. This is not very clear.

My thought was you could diff any files but turns out it uses git diff on the backend. I understand you can do this sort of hack to do local files but having a native way to do this would be very beneficial and I think it could expand use cases outside of git.

[2018-02-22 17:59] astridx commented on #163
@rtfpessoa Thank you for your answer. Yes, this works. But like @scottix I had the hope, that there is a way without the need that git is installed on a machine.

[2018-02-22 18:59] scottix commented on #163
@astridx Hey so we have been working with it more there is another way to diff local files

`diff -u file1 file2 | diff2html -i stdin`

[2018-02-22 19:00] astridx commented on #163
@scottix Yes, you are right.
I close this issue, as the question is answered.

[2018-02-22 19:00] #163 closed

[2018-02-22 19:02] #164 closed

[2018-02-23 18:56] rtfpessoa commented on #163
@astridx the idea here is mostly to do a parser and html generator for unified diffs. After this we also have git diff as an extra.
The other project `diff2html-cli` is a wrapper for this project with a helper to get diffs from git.

In this case like you checked you can also get the diffs from diff unix tool or from any other `Unified Diff` compatible generator.

[2018-03-20 21:50] AGiesey opened #165 "diffJson not overwritten if a new Diff2HtmlUI is instantiated and cfg.diff = """
### Step -1: Before filling an issue check out troubleshooting section

  * Go to [README.md#Troubleshooting](https://github.com/rtfpessoa/diff2html#troubleshooting)

### Step 0: Describe your environment

  * OS: doesn't matter
  * diff2html version: 2.3.3
  * Using diff2html directly or using diff2html-ui helper: diff2html directly
  * Extra flags: _____

### Step 1: Describe the problem:

####

[2018-03-20 22:35] rtfpessoa commented on #165
@AGiesey I am not completly sure what you mean.

But if you invoke diff2html with `{ diff: ""}` it will not show anything since that is empty.
diff2html is just a unified diff parser and generator of html from the parser output.

Does this make sense? If not can you extend a bit on the issue?

[2018-03-20 22:42] AGiesey commented on #165
If you invoke it with an empty string after it has already been invoked
with a value that works, then that value will be displayed because it still
exists until the browser is reloaded. There is nothing that overwrites the
value of  diffJson if you pass Diff2Html an empty string. So if diffJson is
set that is what will be displayed, does that make sense?

On Tue, Mar 20, 2018 at 3:35 PM Rodrigo Fe

[2018-03-20 23:29] rtfpessoa commented on #165
Can you provide a code example that replicates the issue?

[2018-03-20 23:48] AGiesey commented on #165
Ya, it might be a couple of days tho. Thanks

On Tue, Mar 20, 2018 at 4:29 PM Rodrigo Fernandes <notifications@github.com>
wrote:

[2018-04-18 19:30] rtfpessoa commented on #165
If you get something to test I will re-open.

[2018-04-18 19:30] #165 closed

[2018-04-27 21:24] myelsukov opened #166 "Use random output file names instead of fixed diff.html"
Fixed (default) output file name (e.g. file:///private/var/folders/xz/jt5vrgxj3nb7vnb6hhp8lrvsqy78qg/T/diff.html) makes impossible looking into diffs from different projects at the same time because they override each other.

Please use either random default output file names or make output file name a function of the git repository name.

[2018-04-27 23:00] rtfpessoa commented on #166
@myelsukov that refers to https://github.com/rtfpessoa/diff2html-cli and not this repo. Still it could be a nice addition. Feel free to send a PR there.

[2018-04-27 23:00] #166 closed

[2018-04-27 23:07] myelsukov commented on #166
Done: https://github.com/rtfpessoa/diff2html-cli/issues/37

[2018-05-01 20:08] marcusfollrud commented on #137
Setting `.d2h-code-linenumber` to `position:relative;` worked for me. Only tested on chrome though.

[code]

[2018-05-01 21:25] rtfpessoa commented on #137
Have you tried that on https://diff2html.xyz/demo?diff=https://github.com/rtfpessoa/diff2html/pull/106 for example? Does not seem to work for me.

[2018-05-02 14:09] marcusfollrud commented on #137
Just did, there's a slight difference in how it's processed as it's using tables with two columns. My css looked like:
[code]

Below is the result for hoganjs-utils, a quite large diff:
![diff2html](https://user-images.githubusercontent.com/81167/39527839-79bebd5a-4df0-11e8-9e81-84dc7ac50ce2.PNG)

[2018-05-07 16:27] amaralDaniel commented on #164
Hey! Were you able to do it?

[2018-05-07 18:27] ahtahkr commented on #164
No, I decided to go with the patch for the entire commit

[2018-05-13 16:31] AndersBillLinden opened #168 "The json format is not explained in the README"
diff2html supports two input formats: diff and json, but the README at
https://github.com/rtfpessoa/diff2html
does not explain or examplify those formats.

[2018-05-13 16:33] rtfpessoa commented on #168
@AndersBillLinden the diff format is a unified diff and the json is the one generated by the method `getJsonFromDiff`.

I will try to make it more explicit.

[2018-05-13 16:34] AndersBillLinden commented on #168
Wow, fast answer. Is there some way of just passing two strings?

[2018-05-13 16:39] rtfpessoa commented on #168
diff2html only aims to parse and generate pretty html from a unified diff.
But there are plenty of tools doing the diff part.

For example you can just use diff2html-cli published in npmjs.org and do:
`git diff --no-index file1 file2 | diff2html -i stdin`

[2018-05-13 16:40] AndersBillLinden commented on #168
What I need is a javascript library that I can use from a webpage that will give me the diff view. I am getting the impression that this will rather create a webpage.

[2018-05-13 16:46] AndersBillLinden commented on #168
Maybe I should use https://github.com/google/diff-match-patch instead

[2018-05-13 18:01] rtfpessoa commented on #168
I guess it depends on what are you needs.

[2018-05-13 20:13] #168 closed

[2018-06-16 13:35] SumNeuron opened #169 "Issue with rollup"
Installed via npm
tried `import {Diff2Html} from 'diff2html;`

but get

path (imported by node_modules/diff2html/src/hoganjs-utils.js, commonjs-external:path)
(!) Missing global variable name
Use output.globals to specify browser global variable names corresponding to external modules
path (guessing 'path')

[2018-06-16 18:10] rtfpessoa commented on #169
I have no idea what that might be. My experience with Typescript is very limited.

If you find anything please report here. Maybe @sss0791 can help? He was the last person to use this with Typescript.

[2018-06-20 10:49] dxz6228 opened #171 "Can't seem to get it to display the diff"
* OS: Linux Mint 64bit
  * diff2html version: 2.4.0
  * Using diff2html directly or using diff2html-ui helper: helper

Hello.
This isn't as much a bug report as it is a request for help in explaining how to use this thing. I have approximately 0 JavaScript knowledge, so I'm working in the dark here and, while I don't mean to offend, the getting started documentation section is... **confusing.**
I

[2018-06-20 20:48] rtfpessoa commented on #171
At first sight seems like you are using the wrong parameter when invoking
draw. You need to pass the div id there.

Regarding the docs if you have any suggestions PRs are very welcome.

On Wed, 20 Jun 2018, 11:49 am Denis Zhenilov, <notifications@github.com>
wrote:

--
Best,
Rodrigo

[2018-06-20 20:48] rtfpessoa commented on #171
The same applies to highlightCode.

On Wed, 20 Jun 2018, 9:47 pm Rodrigo Fernandes, <rtfrodrigo@gmail.com>
wrote:

--
Best,
Rodrigo

[2018-06-20 22:03] dxz6228 commented on #171
Thanks for the reply.
I've edited the message, but in any case the updated code is:
<div id="diffOutJS"></div>
        <script>
            $(document).ready(function() {
            var diff2htmlUi = new Diff2HtmlUI({diff: "--- yaml1file\t2018-06-19 16:53:44.467207184 +0300\n" +
                "+++ yaml2file\t2018-06-19 16:53:44.467207184 +0300\n" +
                "@@ -1,4 +1,4 @@\n" +

[2018-06-21 13:20] dxz6228 commented on #171
Disregard. Worked it out with outside help.

[2018-06-21 13:20] #171 closed

[2018-06-21 20:38] rtfpessoa commented on #171
@dxz6228 thats nice. Any information that might be relevant to update on the README?

[2018-06-22 09:47] dxz6228 commented on #171
Your call, but I would've perhaps added a section for Browser Library section of how to use in addition to an example for Diff2Html-UI. Something like:
[code]
This is in my view only relevant to people like me who need to use the functionality in something but have zero knowledge of JavaScript. So I don't know how relevant you'd think this to be. Your call.

[2018-06-24 13:35] rtfpessoa commented on #171
@dxz6228 will try to add something like that. Thanks

[2018-06-24 13:42] rtfpessoa commented on #171
@dxz6228 added here https://github.com/rtfpessoa/diff2html#browser-library. Let me know if it looks nice.

[2018-06-24 23:19] dxz6228 commented on #171
Yep. That looks like it'd be helpful to someone in my shoes.

So, good!

[2018-07-02 12:25] oldrich-s opened #172 "existHunkHeader"
The `existHunkHeader` in

https://github.com/rtfpessoa/diff2html/blob/master/src/diff-parser.js#L171

has probably a bug as it fails on e.g.:

[code]

When the line is set to `rename to...`, it overflows into the next `diff` and `---`, so `existHunkHeader` responds `true` which it should not.

The second thing is that `possibleNewName` and `possibleOldName` are wrong as they do not take into accou

[2018-07-03 20:41] rtfpessoa commented on #172
Seems like the spaces might be the issue.
Regarding `possibleNewName` it is used to have the best of Git and Unified.

I am not sure I understand your last EDIT.

Any PRs with a fix are welcome.

[2018-07-24 05:23] mohanapriyac1995 opened #173 "Wrap long lines"
No option to wrap the overflow diff within the container.

[2018-07-24 05:29] #173 closed, assigned to nobody

[2018-07-24 21:51] rtfpessoa commented on #173
I think what you want is something like https://github.com/rtfpessoa/diff2html/issues/99. Any prs are welcome.

[2018-08-28 10:10] geraldpereira commented on #169
I tried to import Diff2Html in an Angular 6 project but faced the same issue.

The only (ugly) solution I found so far is to copy the diff2html dist files in my project assets.

**angular.json**
[code]

And import them from **index.html** the usual way:
[code]

Finally to use Diff2Html in a component, I have to import it from the window object:
```const Diff2Html = (window as any).Diff2Html;```

I

[2018-08-28 21:46] geraldpereira commented on #169
I cound a better solution.

I simply include the diff2html files in **angular.json**:
[code]
( you may also need to add the css, I use my own to handle the resizing of the diff container using flexbox).

And keep importing the Diff2Html from the window object:
`const Diff2Html = (window as any).Diff2Html`

[2018-09-02 11:00] rtfpessoa commented on #169
@geraldpereira thanks for your help. If you have any suggestions regarding what I can change to improve this let me know.

[2018-09-02 11:00] #169 closed

[2018-09-21 10:20] mohanapreeya commented on #99
I have solved this issue in my worspace with some new template files and code changes. I would like to contribute my changes.

[2018-09-21 13:15] rtfpessoa commented on #99
@mohanapreeya that would be nice. Can I check the working version somewhere?

[2018-09-24 10:17] mohanapreeya commented on #99
I have a temporary output in this fork https://github.com/mohanapreeya/diff2html.git. You can view the output in demo page. Source code changes are in the same repository.

[2018-10-02 06:39] Vintic opened #176 "Add file info to list of file. (Modified date, ...)"
Hi,
Is there a way to add file info (like modified date) in a file list section

I use Jenkins for deployment. And would like to check (highlight) files that was modified on production from last deployment.

Usage:
I want to highlight files that has modified date greater than specific date (date of last deploy to production). And check them first.

[2018-10-05 13:05] rtfpessoa commented on #176
I would not mind adding a flag/option allowing to sort the files by some rule, date could be one of them.
PRs are welcome.

[2018-10-12 16:09] stockmind opened #177 "side-by-side blank lines style"
In a side-by-side view (when there are completely new lines or deleted lines in only a side) Is it possible to highlight the blank lines of the other side or append a specific class to target and style them?
I would like them more visible

Something like this:
https://ibb.co/iH2jg9

At the moment those blank lines are only` <td>` with apparently no content but no specific classes to target them

[2018-10-14 12:35] rtfpessoa commented on #177
@stockmind that could be a nice improvement. Should not be hard to implement.
PRs are welcome.

[2018-10-18 14:57] stockmind commented on #177
Yeah, probably something like this should work:
https://diffy.org/diff/rk3z7u5a344m6ioxygki6bt9

line 224 of src/side-by-side-printer.js
[code]

[code]

It would just take a bit to me to put up a build environment to try it

[2018-10-21 17:58] rtfpessoa commented on #177
That seems like a good way to do it.

[2018-10-25 16:30] shileen commented on #169
Sorry I'm bumping up the old thread, I am having the same issue when using with typescript.

@geraldpereira Can you elaborate why does typescript give an error in this line? Does it need additional typings for this? I'd be willing to make an effort to fix this, but I'm not sure I understand what's causing typescript to give error.

[2018-11-09 02:39] mattwomple commented on #155
One quick fix for me to clean-up line misaligned left/right lines was to adjust the CSS of `.d2h-diff-tbody > tr > td`. It seems the browser (Chrome 70 atm) more accurately handles `line-height: 1` than matching the `px` value of font-size. Unitless line heights are valid: [MDN line-height](https://developer.mozilla.org/en-US/docs/Web/CSS/line-height).

I haven't looked very closely, but if you ha

[2018-11-14 21:42] stockmind commented on #177
Sorry, took me a while. Tested, linted and pushed!

Pull request: #178

[2018-11-14 22:51] rtfpessoa commented on #177
Looking into it right now

[2018-11-14 23:12] rtfpessoa commented on #177
Released as version 2.5.0. Thanks for your contribution.

[2018-11-14 23:12] #177 closed

[2018-11-23 17:17] gglang opened #182 "Can't get diff2html cli hello world working..."
I have installed diff2html cli, and try to get a basic case of it working with a .diff file generated by  the following:
git diff --no-color "F:\Dev\TestSandbox\test.cpp" "F:\Dev\TestSandbox\testModified.cpp" > "F:\Dev\TestSandbox\testmystuff.diff"

I then feed it into diff2html with:
diff2html -i file -- F:\Dev\TestSandbox\testmystuff.diff

This opens preview which shows "Files changes (0)", and

[2018-11-23 18:05] #182 closed

[2018-11-23 18:06] gglang commented on #182
It seems to work as soon as there are more than 1 file in the diff... Strange.

[2018-11-26 17:18] sidagarwal opened #184 "Use diff2html library"
Hi Rodrigo.

This is Sid from Seattle, WA. I am looking to use your diff2html library in one of my project I am building for Salesforce app exchange marketplace.

Use case - Allow users to compare 2 piece of codes side-by-side. Your application seems to be perfect fit for this.

Let me know, if its fine to for me to use diff2html library code for free.

P.S. Apologies for contacting you here. I di

[2018-11-26 18:24] rtfpessoa commented on #184
Sure, feel free to use. If it is something public you can even add it to this list: https://diff2html.xyz/#users

[2018-11-26 18:24] #184 closed

[2018-12-07 00:32] thodoris commented on #169
@shileen It  has nothing to do with typings.
Just do a :` npm install path`

[2018-12-11 03:04] sidagarwal commented on #184
Thank you so much.

[2018-12-11 19:49] rtfpessoa commented on #184
Maybe this: https://www.npmjs.com/package/unidiff

[2018-12-11 23:14] sidagarwal commented on #184
Thanks. I will take a look.

[2018-12-19 09:56] BennieMeng opened #185 "row td wrong position"
### Step -1: Before filling an issue check out troubleshooting section

  * Go to [README.md#Troubleshooting](https://github.com/rtfpessoa/diff2html#troubleshooting)

### Step 0: Describe your environment
  * diff2html version: 2.5.0

### Step 1: Describe the problem:

#### Steps to reproduce:

 1. use bootstrap modal
2. put dom in modal-content

#### diff example:

![image](https://user-images.gi

[2018-12-19 09:57] BennieMeng commented on #185
should we remove the position: absolute; and padding-right attribute?

[2018-12-22 20:53] rtfpessoa commented on #185
@BennieMeng I started doing some work a while ago in https://github.com/rtfpessoa/diff2html/pull/180/files can you try that css?

[2019-01-03 01:49] starpit opened #186 "trim lodash dependence"
### Step 0: Describe your environment

  * OS: any
  * diff2html version: 2.5.0
  * Using diff2html directly or using diff2html-ui helper: directly
  * Extra flags: _____

### Step 1: Describe the problem:

lodash is pulled in, in its entirety, via the package.json depenendence. #160 covered the dynamic part, but did not address the unused weight of the full lodash npm.

the fix is fairly straight

[2019-01-04 23:30] rtfpessoa commented on #185
@BennieMeng please check version 2.6.0

[2019-01-04 23:41] rtfpessoa commented on #176
Closing this to keep the discussion in #152.

[2019-01-04 23:41] #176 closed

[2019-01-04 23:43] rtfpessoa commented on #186
Released as version 2.7.0

[2019-01-04 23:43] #186 closed

[2019-01-05 23:38] rtfpessoa commented on #185
Closing this for now. If needed we can reopen.

[2019-01-05 23:38] #185 closed

[2019-01-14 07:14] PhoebeWho opened #189 "could diff2html-ui provide a jump link like the origin svn diff shows"
* OS: linux
  * diff2html version: lastest
  * Using diff2html directly or using diff2html-ui helper: diff2html-ui helper
  * Extra flags: _____

Hi, I met a problem when using diff2html-ui (side-by-side). Diffs of data.py which contains a dict format data with long values. I want to know the key of the changed values, so I set svn diff -U500 to guarantee the key is shown. But then the content is

[2019-01-19 11:10] rtfpessoa commented on #189
@PhoebeWho I am not sure I understand your question. Can you provide an example?

[2019-02-02 16:09] tomastrajan opened #191 "Themes doesn't work"
I have been trying to replace `github.min.css` theme with other highlight.js themes but without success. The text color is taken but the whole result is a combination of some default styles and theme which looks weird?
![bu](https://user-images.githubusercontent.com/3764868/52166421-45c35c80-270d-11e9-9d86-15ef5e4695cd.png)

[2019-02-02 16:11] tomastrajan commented on #191
Also, my css and scripts seem to be ok hmm...
![bug2](https://user-images.githubusercontent.com/3764868/52166440-8e7b1580-270d-11e9-8231-492b389047a6.png)

[2019-02-07 22:56] tomastrajan commented on #191
@rtfpessoa thank you for getting back to me, yeah I might have a look but cant promise anything ;)

[2019-02-07 22:56] tomastrajan commented on #191
@rtfpessoa btw thanks for the killer lib, it's very useful!

[2019-02-11 08:08] xged opened #193 "What arguments Diff2Html.getJsonFromDiff takes?"
`string` is not descriptive enough.

[2019-02-11 22:55] rtfpessoa commented on #193
I try to explain it above with `git or unified diff output` if you have some suggestion on how to make it more explicit please send a PR.

[2019-02-11 22:55] #193 closed

[2019-02-12 05:44] vanessadnguyen opened #194 "Is there anyway to style the @@-2, +4@@ ?"
Because of the accessibility requirement, I have a need to make the @@-2, +4@@ to be darker. Is there anyway to style the @@-2, +4@@ ?

Thanks,
Vanessa

[2019-02-12 18:35] whyboris opened #195 "Possible render bug when rendering $"
diff2html-cli `2.7.0`
using `diff2html -s side` command with the _cli_
Mac OS _High Sierra_ `10.13.6`
Angular project, working in an _html_ file

Actual code change:
[code]

Diff output in HTML:
[code]

Note that `$"` has become `quot;`

When doing `git diff` the diff renders correctly: `[listSubject]="magazineDate$"`

[2019-02-12 19:20] vanessadnguyen opened #196 "Change diff colors."
Is there anyway to change diff colors to something else instead of pink and green?

[2019-02-12 21:06] vanessadnguyen commented on #194
Never mind. I figured out I can just change the following css class:
.d2h-info

[2019-02-12 21:06] #194 closed

[2019-02-12 21:07] vanessadnguyen commented on #196
Never mind. I figured out that I can just change the following css classes:
d2h-del, d2h-ins

[2019-02-12 21:07] #196 closed

[2019-02-12 22:02] rtfpessoa commented on #194
@vanessadnguyen that should be the easiest way. Nice you got it.

[2019-02-12 22:03] rtfpessoa commented on #196
@vanessadnguyen that should also be the easiest way.

[2019-02-13 09:30] rtfpessoa commented on #195
Weird. There must be a bug somewhere.
Need to find some time to do a test and debug it.
--
Best Regards,
Rodrigo Fernandes

[2019-02-19 07:44] PhoebeWho commented on #189
Thank you very much for your reply.

In short, I mean tags or buttons function like the "Next difference" in origin svn diff show in TortoiseSVN.
![image](https://user-images.githubusercontent.com/7943460/52997886-b92ed300-345c-11e9-9c72-799042d03ec3.png)

Is it possible that diff2html provide a similar function?

[2019-02-19 23:44] rtfpessoa commented on #189
@PhoebeWho that should not be hard to do.

If you take a look at https://github.com/rtfpessoa/diff2html/blob/master/src/ui/js/diff2html-ui.js#L43, maybe something similar could be done for navigating between files. If JS added a btn discovering the next and previous would be easy.

Feel free to send a PR.

[2019-02-21 00:32] piacenti opened #197 "Diff Ignoring Whitespaces"
I'm using a unified diff generator that apparently keeps whitespace differences. Does diff2Html have any way to ignore whitespaces or that has to be done at the diff generation step? Also any libraries out there that generate unified diff ignoring whitespaces? I couldn't find one.

[2019-02-23 20:42] rtfpessoa commented on #197
Not sure if this is what you need but you can choose `matching` with value `word` as described in the README to have bigger matches when rendering. Nothing tther than that.

[2019-02-23 20:42] #197 closed

[2019-02-24 02:12] piacenti commented on #197
I tried that but saw no differences for tree specific text I was dealing with. It was some xml that had app the same data with only difference in formatting (tabs vs spaces)

[2019-02-24 03:31] chan4lk opened #198 "Generate diff text from 2 files"
I am planning to use diff2html to show diffs between 2 text files. How do I generate the input diff string using javascript ? Are there any libraries I can use. Please help me. Thank you.

[2019-02-26 18:16] emarcotte opened #199 "Question: access to old and new file names in templates?"
### Step 1: Describe the problem:

Background: I'm trying to make a template for the file list to list files to show a hierarchy of directories to the left of the diff(s). The goal is to mimic what bitbucket does for its diff viewer.  So far I've gotten this working for simple cases by post processing the DOM.

Question: I'm stumbling a bit on what to do with file names that get transformed via  P

[2019-02-26 21:57] rtfpessoa commented on #197
Then I think there is nothing easy we can do. If you feel like this could be a post processing feature I think that would be ok and PRs are welcome.

[2019-02-26 22:02] rtfpessoa commented on #198
You can use the cli in https://github.com/rtfpessoa/diff2html-cli/ with something like: `diff2html -- --no-index file1 file2`

[2019-02-26 22:02] #198 closed

[2019-02-26 22:04] rtfpessoa commented on #199
I think it could be nice to delay the `PrinterUtils.prototype.getDiffName` to as late as the template drawing and allow for better templates. Feel free to send a PR.

[2019-03-04 13:20] emarcotte commented on #199
Cool. I'll see if I can find some time in the next few weeks to try that out.

[2019-03-05 10:00] zabbixfan opened #200 "templates config not work"
We are trying to use your awesome project to display code diff.but templates config confuse me a long time.my code is below, when i run my code, the error 'Error in render: "TypeError: template.render is not a function"' appears. but rawTemplates works very well. could you help me ? my vue version is 2.3.3 diff2html version is 2.7.0, it's my code:

[code]

[2019-03-05 22:57] rtfpessoa commented on #200
@zabbixfan your problem seems that you are passing uncompiled templates in the wrong variable.
`templates` should be a already compiled template. For your use case you need to pass with the name `rawTemplates`.

Let me know if you have any other question.

[2019-03-05 22:57] #200 closed

[2019-03-06 01:51] zabbixfan commented on #200
could you give me a simple example use templates?

[2019-03-06 22:08] rtfpessoa commented on #200
This should do it:
[code]

[2019-03-07 02:12] zabbixfan commented on #200
ok,does it mean if i use templates ,it shoud be { 'line-by-line-numbers': '<div class="line-num1">123</div><div class="line-num2">123</div>' } ,and use rawTemplates, i can be { 'line-by-line-numbers': '<div class="line-num1">{{oldNumber}}</div><div class="line-num2">{{newNumber}}</div>' }?

[2019-03-07 10:10] zabbixfan commented on #200
another problem that bothers me is, i found 'line-by-line-numbers.mustache' in src/templates, but i can't find 'side-by-side-numbers', why is that?

[2019-03-08 22:10] rtfpessoa commented on #200
The templates variable needs to provide a compiled version of the template, e.g.: the output of hogan.js (the templating engine used). rawTemplates allows for the same content available in the mustache files.

They are two implementations and in the side by side the numbers are in another template because the organization is different.

[2019-03-12 08:37] rickywu opened #202 "Uncaught TypeError: diffInput.replace is not a function"
Seems this issue closed 3 years ago but I still got this error,
download diff_match_patch.js from https://github.com/google/diff-match-patch and change path if needed

 try this sample
[code]

[2019-03-16 01:18] rtfpessoa commented on #202
@rickywu what is the value of `d`?

[2019-03-16 05:36] rickywu commented on #202
@rtfpessoa copy the code save as html and open it in browser, you can see the two texts and d is the diff from these two input box

[2019-03-17 21:54] rtfpessoa commented on #202
@rickywu if it would be that easy I could have done it. Time is always short to help.
In general as a generic note please provide as much information as possible to help other people instead of trying for them to fix your problems.

Still, after a quick look in the documentation of google/diff-match-patch it does not seem to provide a unified diff which is the required input for diff2html. You nee

[2019-03-17 21:54] #202 closed

[2019-03-21 03:17] rickywu commented on #202
var dmp = new diff_match_patch();
        var a = dmp.diff_linesToChars_(firstDescribe, secondDescribe);
        var lineText1 = a.chars1;
        var lineText2 = a.chars2;
        var lineArray = a.lineArray;
        var diffs = dmp.diff_main(lineText1, lineText2, false);
        dmp.diff_charsToLines_(diffs, lineArray);
        console.info(diffs);
        let patchMake = dmp.patch_make(firstDes

[2019-03-23 20:41] rtfpessoa commented on #202
That should work

[2019-03-28 00:07] christiancadieux2 opened #204 "How to pass 2 files to diff in vuejs"

[2019-03-29 23:19] rtfpessoa commented on #204
This is a unified diff parser and HTML generator. It does not create unified diffs from two files.
You can check: https://github.com/rtfpessoa/diff2html/issues/198 and other issues in the backlog.

[2019-03-29 23:19] #204 closed

[2019-04-08 03:53] ChihYuLin opened #205 "Vue.js with diff2html-ui"
* OS:  Win 10
  * diff2html version: 2.7.0
  * Using diff2html directly or using diff2html-ui helper: diff2html-ui helper
  * Extra flags: help wanted

Hi, I tried diff2html-ui in vue.js but it didn't work.
I've successfully used diff2html at first and can use prettyHtml correctly.
But when I use diff2html-ui like:
[code]

It never worked as the error message went like:
__WEBPACK_IMPORTED_MODULE_0

[2019-04-12 12:27] sabi0 opened #206 "Output is not printing-friendly"
### Step 0: Describe your environment

  * OS: Win 7 + Firefox 66
  * diff2html version: whatever is used by the online demo at diff2html.xyz

### Step 1: Describe the problem:

Printing diff2html output does not preserve color highlighting and clips long lines.

I wanted to print some diff's to review them "pen and paper" style while being offline. But this turned out to be infeasible with diff2h

[2019-04-12 12:36] sabi0 opened #207 "Allow to have more context lines in the diffs"
Diffs are produced with 3 context lines by default. Sometimes that's not enough for understanding the nature of the change (e.g. to see which method was changed).

It would be nice if diff2html allowed specifying custom number of context lines to render more detailed diffs.

It seems Bitbucket has it in the API directly with the `context` query parameter:
https://developer.atlassian.com/bitbucket/

[2019-04-12 23:11] enzious opened #208 "Rust Port"
@rtfpessoa I'm porting this library to rust and I was wondering if it would be alright to use the same name, diff2html.

Thanks.

[2019-04-13 13:26] rtfpessoa commented on #206
Hi @sabi0,
I actually never thought of that use case.

1. Since highlight is only done in the browser using DOM manipulation by highlight.js is normal that it does not get printed.
2. Wrapping is mostly a CSS problem, due to the way the HTML and CSS are done it is hard to achieve it with the current setup.

If you feel like working on improving any of these things I would gladly accept the PR.

[2019-04-13 13:31] rtfpessoa commented on #207
Since diff2html is just a parser and html generator it does not have a way to get more context.

To achieve this you just have to generate the diff with more context and then pass it to diff2html.

If you are referring to https://github.com/rtfpessoa/diff2html-cli, since it uses git below you can pass the git flag to request more context after ‘--’.

[2019-04-13 13:31] #207 closed

[2019-04-13 13:32] rtfpessoa commented on #208
Sure no problem. Post it here after you finish I can also point to it in the readme as a rust port.

[2019-04-13 13:32] #208 closed

[2019-04-13 22:17] enzious commented on #208
@rtfpessoa Alright.

Here's the git: https://github.com/enzious/diff2html
Here's the crates.io page: https://crates.io/crates/diff2html

Right now it's just a cli app for my immediate needs, but I'll work on the library and docs.

Any thoughts on the attribution?

[2019-04-24 21:26] rchancey opened #211 "single file diff?"
This is a nice package but is there any way to just have this work against 2 files (strings) ? Or an array of files?

[2019-04-25 11:41] ashfp commented on #211
Hi @rchancey -  Just been playing around with this today and I was able to get this to work with 2 strings by using the [npm "diff" package.](https://www.npmjs.com/package/diff).

Example:
[code]

[2019-04-25 13:17] rchancey commented on #211
wow.. Thank you!.. I was researching 'unified diff' last night and wondering when something a simple as a diff got so complicated :) .. will give this a shot. thank you again.

[2019-04-25 22:51] rchancey opened #212 "Return nothing if no change? renderNothingWhenEmpty not working"
I am using the flag renderNothingWhenEmpty and expected to get an empty string.. but it still returns a diff. Also somehow it says changed when there are no changes.

I don't want to display anything for files that have no change.. is there a way to determine that from the result?
<img width="334" alt="Screen Shot 2019-04-25 at 5 51 16 PM" src="https://user-images.githubusercontent.com/29101431/56

[2019-04-26 00:22] rchancey commented on #212
I ended up with..  if (diffHtml.indexOf('File without changes') >= 0) continue;.. but is there a better way?

[2019-04-26 00:47] rchancey opened #213 "Template example to remove non changed text?"
I looked at the templates and the mustache files but not being a pro.. is there an example of how to craft a template, for example I need to 'not' show the unchanged text and only show the changed lines?

I need to provide a diff view for approvers who are not 'technical' and this package is just the trick but just need to move some info and then provide a check box for 'approved'.

I somehow did

[2019-04-26 23:09] rchancey opened #214 "What is the correct way to handle new or deleted? passing null blows up."
I am running through a list of files and when a file is 'new' I found passing in a null for the diff (for the non existent file) blows up. I passing in an empty string and it shows add but it is not hitting the tag added file template.

Is there a correct way to handle added files and removed files (were one side of the diff is missing?)

[2019-05-01 08:39] rtfpessoa commented on #211
Sorry for the delay getting back here. Thanks for the answer @ashfp

[2019-05-01 08:39] #211 closed

[2019-05-01 08:44] rtfpessoa commented on #205
@ChihYuLin, diff2html-ui is a set of helpers to manipulate the DOM with jQuery. For this reason it will not work with Vue.
To get it working you would have to adapt the functions but even that would probably lead to a completely different approach.

If you are interested maybe creating diff2html-vue could be the way. The code is not complicate there, let me know if you need help understanding.

Fe

[2019-05-01 08:44] #205 closed

[2019-05-01 08:50] rtfpessoa commented on #212
@rchancey can you provide an example of a diff with that result?

[2019-05-01 08:54] rtfpessoa commented on #213
@rchancey altought it might seem a good feature for diff2html, but IMO it should be done on the diff creator side.
Since diff2html is just a parser and HTML generator it mostly just adds value over the diff.

In your case, if I understood correctly, you could just ask the diff creator for no context.
For example if git, by passing `-U0` (check https://git-scm.com/docs/git-diff#Documentation/git-di

[2019-05-01 08:57] rtfpessoa commented on #214
@rchancey I do not understand your question. Can you provide a diff for me to check and maybe some pointers to that diff?

[2019-05-01 09:36] rtfpessoa commented on #208
@enzious not really feel free to do as you wish.

[2019-05-01 19:14] bryannielsen commented on #85
For anyone else ending up here like I did, the solution is to use the [StrictUnifiedDiffOutputBuilder](https://github.com/sebastianbergmann/diff#strictunifieddiffoutputbuilder)

[2019-05-08 21:14] YOU54F opened #216 "CVE-2018-16487 - lodash.merge high vulnerability"
@starpit @rtfpessoa

This [PR](https://github.com/rtfpessoa/diff2html/pull/187) has pulled in a vulnerable version of lodash.merge

https://hackerone.com/reports/380873

it is possible to cherry pick the modules from lodash, without pulling in the whole tree, or you could just pull in the function directly into your source

[2019-05-08 22:28] rtfpessoa commented on #216
I will try to replace this soon with https://www.npmjs.com/package/merge .  Thanks for the headup

[2019-05-08 22:45] #216 closed

[2019-05-08 22:48] rtfpessoa commented on #216
Released as version 2.9.0

[2019-05-09 09:34] YOU54F commented on #216
Thank you for the quick response @rtfpessoa

[2019-05-15 11:30] brian-lagerman commented on #100
I'm going to hang my question here cause it's very related. I've managed to supply the rawTemplates in their uncompiled versions, and that's working well. Now I'm trying to compile them, so I cloned the repo, changed my templates, and ran the 'templates' script which outputs chunks to 'diff2html-templates.js' 'like:

`
global.browserTemplates["generic-line"] = new Hogan.Template({code: function (c

[2019-05-15 19:49] rtfpessoa commented on #100
@brian-lagerman it should be just like this test https://github.com/rtfpessoa/diff2html/blob/1d01d73e748dbb74cc5c9855e8528b94c514579c/test/hogan-cache-tests.js#L39

[2019-05-21 17:49] mikabytes opened #219 "Using Node API, not pretty at all"
### Step 0: Describe your environment

  * OS: _____ Ubuntu
  * diff2html version: _____ Latest
  * Using diff2html directly or using diff2html-ui helper: _____diff2html directly
  * Extra flags: _____

### Step 1: Describe the problem:
I'm generating HTML as per the instructions. I am not using UI Helper, there's no documentation describing what that is for, except "Simple wrapper to ease simple

[2019-05-21 18:07] rtfpessoa commented on #219
In https://github.com/rtfpessoa/diff2html#browser-library you can see the CSSs needed to render the HTML. Are you missing those?

You can use the ones in https://cdnjs.com/libraries/diff2html

[2019-05-22 15:34] mikabytes commented on #219
Oh, that's better. I thought that section was for in-browser use only. I was following the Node section, because this is being rendered on server.

![image](https://user-images.githubusercontent.com/1054229/58187860-e6875900-7cb7-11e9-98dd-f9e2df604dec.png)

[2019-05-22 15:34] #219 closed

[2019-05-23 19:12] rtfpessoa commented on #219
@mikabytes will try to make it more explicit in the README. thanks for the feedback.

[2019-05-23 19:45] rtfpessoa commented on #214
Closing for inactivity. Let me know if you still need help.

[2019-05-23 19:45] #214 closed

[2019-05-23 19:45] rtfpessoa commented on #213
Closing for inactivity. Let me know if you still need help.

[2019-05-23 19:45] #213 closed

[2019-05-23 19:45] rtfpessoa commented on #212
Closing for inactivity. Let me know if you still need help.

[2019-05-23 19:45] #212 closed

[2019-05-23 19:49] rtfpessoa commented on #155
This should be fixed, let me know if I should look more into it.

[2019-05-23 19:49] #155 closed

[2019-05-30 15:23] YOU54F commented on #216
all sorted now @rtfpessoa

[2019-06-01 14:53] rarkins opened #220 "Out of memory error sometimes when matching words"
**Describe the bug**

The `getPrettyHtml` function runs out of memory on certain diffs when matching words. The one I found by accident is only 1000 lines long and about 100kb size.

**To Reproduce**
Steps to reproduce the behavior:
1. Use this diff: https://gist.github.com/rarkins/4e39a43c92c9ca698310392e82951a95
2. Run `getPrettyHtml` with `matching: 'words'`

I suspect it's because of the minif

[2019-06-07 19:48] rtfpessoa commented on #220
Please check https://github.com/rtfpessoa/diff2html/issues/117#issuecomment-262089378 or any of the other options in https://github.com/rtfpessoa/diff2html#configuration.
It is hard to go for that type of files. If you have any suggestions that we can apply let me know.

[2019-06-07 19:59] rarkins commented on #220
I think it’s a pity to close this unresolved. 100kb doesn’t seem large and this explodes the browser with no ability to try/catch, meaning the only option is to greatly reduce the output value permanently. Do you have any learnings from production use, apart from disabling functionality?

[2019-06-07 20:06] rtfpessoa commented on #220
I can re-open this but I would like to have any actionable idea here.
Like I mentioned above this is very probably related with the matching algorithm, since that was historically always the cause.

`escitalopram` already improved it a bit in the link above, but unless you have any suggestions I am not sure we will be able to have anything here.

The problem is usually related to the size of the l

[2019-06-09 05:11] rarkins commented on #220
Is there anything that either the algorithm itself can do, or the caller of the algorithm can do, to predict if there will be a problem?

My experience is this:
- Certain files cause the algorithm to blow up the browser
- So, I need to disable word matching permanently

I'd like something in-between where word matching can be done "if possible". The problem was the inability to try/catch and recov

[2019-06-13 11:24] sunmoondeer opened #221 "How to use it when get diff info from git diff command"
HI, I  am sorry I cannt understand how to use diff2html。For Example,  I can get the diff info from git command "git diff commitid1 commitid2" or throught the Jgit APi, then How to  transfor the diff info to html file with diff2html? Can you explain it for me? Thanks a lot

[2019-06-13 12:30] rtfpessoa commented on #220
Why reducing the size of the blocks for comparison is not enough for you?
I really have no idea what else you can do, I only can see to solutions:
* Change the maximum block comparisons value?
* Improve the resource efficiency of the algorithm?

The first one you need to test, and if it does not work we can maybe try to work with other parts of the size, but the second seems much less achievable r

[2019-06-13 12:34] rtfpessoa commented on #221
The readme has a full section about usages with examples. What don't you understand?

You just need to pass it in place of `<Unified Diff String>` to the method `Diff2Html.getPrettyHtml`.

Note: When you ask a question in a project in the future please try to provide more details and read the docs first. It is quite impossible to provide much help from my side with this information you provided he

[2019-06-13 13:49] rarkins commented on #220
What I really need to avoid is that the browser blows up and kills the page because it hits a memory limit (e.g. 2GB). I can always handle code that throws exceptions that can be caught and recovered from, but this is a case that is unrecoverable. I guess what makes it toughest is that the browser is essentially crashing out rather than the code, and I don't know if the code can be made "aware" th

[2019-06-14 02:08] sunmoondeer commented on #221
Got it. It works for me. OW, amazing

[2019-06-14 02:08] #221 closed

[2019-06-14 15:19] rtfpessoa commented on #220
Closed automatically by GH because of my mistaken commit.

[2019-06-20 21:07] #220 closed

[2019-06-20 21:10] rtfpessoa commented on #220
Released as version `2.10.0` let me know if you need anything else.

[2019-07-01 00:12] mikij opened #223 "Typscript definition file"
I see Typescript definition file does not cover all possible options mentioned in documentation? Is there any particular reason why some options missing like templates and rawTemplates from this file?

[2019-07-02 10:15] IllegalNick opened #224 "Html. getPrettyHtml diff. Not a valid diff."
I recerve diff from \SebastianBergmann\Diff, something like:

[code]

On my page I run next javascript:

[code]
Result does not include <!DOCTYPE html><html lang="en-US1">, like on picture.

[https://cdn1.imggmi.com/uploads/2019/7/2/ab9e4f43ead8c385a1d74c4917abe4cd-full.png](https://cdn1.imggmi.com/uploads/2019/7/2/ab9e4f43ead8c385a1d74c4917abe4cd-full.png)

[2019-07-03 19:00] bsrunnels opened #225 "Remove diff header"
Is there a way to remove the "Diff to HTML by rtfpessoa" header in the diff? I could not find a way to do it from the documentation.

[2019-07-03 19:22] rtfpessoa commented on #223
@mikij that is probably just my fault. I need to find a better way to avoid divergence.
Any suggestions are welcome.

[2019-07-03 19:23] rtfpessoa commented on #223
Extra: Also what matters is the file in the official types repo this is just for reference.

[2019-07-03 19:49] #223 closed

[2019-07-03 19:59] rtfpessoa commented on #223
Also updating here https://github.com/DefinitelyTyped/DefinitelyTyped/pull/36629

[2019-07-03 20:13] rtfpessoa commented on #224
Your question is why it says it is not a valid diff?

From your input I can see at least of immediate problem.
After the chunk start (`@@`) all the lines must start with one of `-`, `+`, ` `.
In your case it starts with `\`.

Maybe you broke it while pasting? But you need to really pass the diff as it is generated.

[2019-07-03 20:14] #224 closed

[2019-07-03 20:17] rtfpessoa commented on #225
I believe you are referring to the output of the node/npm CLI https://github.com/rtfpessoa/diff2html-cli and not this repo, is this right?

If yes, there is no way to do it unless you use this library manually.
But if you feel that is a problem I would accept a PR to hide that part with an option under the CLI.

Closing for now, let me know if this makes sense.

[2019-07-03 20:17] #225 closed

[2019-07-03 20:57] bsrunnels commented on #225
Great, thanks!

[2019-07-05 09:28] i6448038 opened #227 "I get an ERROR in ./node_modules/diff2html/src/hoganjs-utils.js"
**Describe the bug**

ERROR in ./node_modules/diff2html/src/hoganjs-utils.js
Module not found: Error: Can't resolve 'path' in '/Users/xxx/Code/projectname/node_modules/diff2html/src'

**To Reproduce**
Steps to reproduce the behavior:
1. npm install diff2html
2.
[code]
3.
[code]
4. run and See error

**Desktop (please complete the following information):**
 - OS: [Mac]
 - Browser [Chrome]

**Additi

[2019-07-05 23:41] rtfpessoa commented on #227
Hi @i6448038, I am not sure I have any idea what can be wrong here. Seems like you have an issue with the path module. It should come by default with node.
If you are using this on the browser you need to use the browser distribution (directory `dist`) and not the one directly from node (directory `src`).

[2019-07-09 22:02] farlock85 commented on #227
@rtfpessoa I'm getting the same error. I believe `path` is not a standard package (at least on Windows), I think the simplest solution is to just include `path` to the package.json.

[2019-07-10 03:19] i6448038 commented on #227
@farlock85 @rtfpessoa I have already solved this problem. I just add the ``path`` module with ``npm install path`` and it worked!

[2019-07-11 21:04] rtfpessoa commented on #227
@i6448038 thanks for the help.
I will try to review the deps and maybe fix this.
@farlock85 For now please use the suggestion by @i6448038.

[2019-07-18 13:17] ecsion opened #230 "Integration of diff2html for in-house git implementation"
Hi Rodrigo, awesome tool. We have tested it for GitHub & bitbucket and it works very nicely.

Is there a way to feed a data from our in house implementation of git server? what should the file format be and what changes will be needed. For instance can we provide data in the format like the one in the file attached?
[diff.txt](https://github.com/rtfpessoa/diff2html/files/3406657/diff.txt)

[2019-07-18 13:19] ecsion commented on #230
what changes to your code would we have to make to support integration of custom git server?
Thanks in advance.

[2019-07-18 20:10] rtfpessoa commented on #230
Hi @ecsion,

That is the format we need. Today you have mostly 5 solutions out of the box:
1. Use diff2html from npmjs.org and build your page to show diffs by just passing that format to the tool
2. Use diff2html-cli as explained in https://diff2html.xyz/index.html#cli and you can get a page for the diff in your local git repo
3. Use diff2html-cli but send your local report to https://diffy.org a

[2019-07-18 20:38] ecsion commented on #230
Hi @rtfpessoa, Thanks for your quick reply. We want to use your tool to display diff results for our self hosted git server. We tried this link https://www.dropbox.com/s/ha8cpvqnmbme0q8/diff.txt.
to https://diff2html.xyz/demo.html
**for some reason it returns no result.**

[2019-07-18 20:40] ecsion commented on #230
Also pasting this link https://github.com/rtfpessoa/diff2html/files/3406657/diff.txt
also returned no results.

Possibly these links are not being accepted because you are doing url link validation?

[2019-07-18 22:08] rtfpessoa commented on #230
So you are using the demo in the website, right?
That is probably not the best way to use this. The current problem you are facing is that I was using `https://crossorigin.me/` to be able to get contents of the files and it seems to be down for some reason, I can't also find another stable alternative. Still that is mostly a demo and not a real use case for continuous use.

Can you describe a bit

[2019-07-19 00:20] ecsion commented on #230
Hi @rtfpessoa, We are currently in process of creating a tool that is Github like. We have created the webpages to view commits & branches and files and such. We also have a solution for file compare that does the job but not as well as your tool does. We want to do a POC with your tool and if it works, we will consider utilizing your tool instead..

[2019-07-20 10:14] rtfpessoa commented on #230
The best way to integrate it in your app is as described in https://github.com/rtfpessoa/diff2html#how-to-use

If you just want to check random diffs to see the results you can use the cli as explained in https://diff2html.xyz/index.html#cli

Does this solve your problem?

[2019-07-20 15:11] ecsion commented on #230
It is very helpful. Thanks.

[2019-07-20 15:11] #230 closed

[2019-07-22 05:35] marataziat opened #231 "How to show diff of more than 1 commit?"
### Step 1: Describe the problem:
How can I put two or more commits into diff2html? ['https://github.com/OTRS/otrs/commit/0680603a07b8dc37c2ddca6ff14e0236babefc82', 'https://github.com/OTRS/otrs/commit/2997b36a7c84e933c4b025930cabe93efc4d261d', 'https://github.com/OTRS/otrs/commit/c4ec9205bde9c49770ddad94c1a980c006164949']

I know that I can get diff via https://github.com/OTRS/otrs/commit/0680603

[2019-07-22 08:17] rtfpessoa commented on #231
diff2html does not support support multiple diffs.
Actually in don't even see a way to combine diffs that would be doable and
made sense, specially since you need context.

If what you are talking about is to do a diff between multiple commits you
can do that with git and then pass it to diff2html.

e.g.: `git diff HEAD~4`
--
Best Regards,
Rodrigo Fernandes

[2019-07-25 09:58] PAX523 commented on #189
We need this feature in our environment, too. Alternatively, a minimap would also help.

[2019-07-25 22:10] rtfpessoa commented on #189
Hmm, do you have any idea on how we could approach that?

[2019-07-26 08:07] PAX523 commented on #189
Unfortunately, I have no much JavaScript experience. Otherwise, I would conern myself with that feature.

[2019-08-03 10:23] marataziat commented on #231
How can I show more than 1 commit? I'm working on CVE browser, which will show users source code of vulnerable applications! And some CVE's have multiple git commit references which I need to render! so is this possible to render more than 1 git commit?

[2019-08-03 14:56] rtfpessoa commented on #231
@marataziat I am not sure how I can explain this better.
But if you just have completely unrelated commits I don't see a way to show them as one.

What you can try is just append the contents  of the several diffs and see the result (should work ok in theory), but if you have files with the same name seems quite impossible to merge them. You will end up with the names repeated.

[2019-08-03 14:58] rtfpessoa commented on #189
@PAX523 ok let's see if I get some time to pick this and maybe some idea appears.

[2019-08-04 11:13] #231 closed

[2019-08-21 22:29] kalahari commented on #227
In order to get @i6448038's work-around to build/run, I had to add this to my `polyfills.ts` under Angular 8.
[code]

[2019-08-27 10:20] hungdev commented on #99
@jung-kim could you tell me how to break word like your image?

[2019-08-27 16:18] hungdev commented on #99
@jung-kim yes, which class should i override `overflow-wrap: break-word;`?
or how do i do to make like your image?

[2019-08-27 16:29] hungdev commented on #99
@jung-kim no, my mean is break the work if the sentence too long.
look at the online example: https://stackblitz.com/edit/react-em2guv
i dont want to horizontal scroll, i want to break line.

[2019-09-06 08:15] charlieviolet opened #233 "Binary file diff show previous file diff and all added/deleted files showed as RENAMED label in header"
**Describe the bug**
Sorry to bother you.

actually, i use latest release version 2.11.2 in react js.

the diff string passed into getPrettyHtml function and get the html output as expected.

but unfortunately, there were 2 tricky things :

1. acting like https://github.com/rtfpessoa/diff2html/issues/119, binary files have displyed diff-content of other files (maybe previous plain file)

2. all ne

[2019-09-07 16:44] unmem opened #234 "*Bug* Rendering "-->" in text as deleted indicator"
**Describe the bug**
It should not be consider a deleted text.

**To Reproduce**
Steps to reproduce the behavior:
1. ```diff -u <(echo "First\nSecond") <(echo "First\n-->Second\nThird") | diff2html -i stdin```
2. ```diff -u <(echo "First\nSecond") <(echo "First\n-->Second\nThird") | pbcopy``` and paste it to [diffy.org](https://diffy.org)

**Expected behavior**
It rendered WRONG as:
<img width="41

[2019-09-07 17:17] rtfpessoa commented on #233
Can you provide the simplest example for me to replicate this in a test?

[2019-09-07 17:20] rtfpessoa commented on #234
Thanks for the detailed explanation and examples. I will try to take a look when I get some time.

If you are able to check it yourself a PR is always welcome.

[2019-09-07 17:57] rtfpessoa commented on #234
Please check https://github.com/rtfpessoa/diff2html-cli/pull/54 for more information.

[2019-09-07 17:57] #234 closed

[2019-09-18 08:46] sunmoondeer opened #235 "The report result is opposite"
**Describe the bug**
The report result is opposite

version:
# diff2html -v
3.0.4

![error](https://user-images.githubusercontent.com/9718565/65132614-d0a25e80-da33-11e9-85fe-1ba4502aada3.jpg)

[2019-09-18 20:33] rtfpessoa commented on #235
@sunmoondeer how did you generate the diff?
I think you just generated the opposite direction of the diff, just invert the order and it should be fine.

[2019-09-18 20:33] #235 closed

[2019-09-20 10:58] sunmoondeer commented on #235
I used command git diff branchA master >>info.diff,   git diff master branchA >> info.diff

diff2html -s side -F 4.html -f html -i file info.diff

The result still is opposite. What am i wrong?

[2019-09-20 22:30] rtfpessoa commented on #235
You should be using `git diff master branchA | diff2html -i stdin -s side -F 4.html -f html` to check what changes are in branchA that are not yet in master.

I just tested with the latest version and it only fails if you change the order and use the wrong one `git diff branchA master`

[2019-09-23 07:14] sunmoondeer commented on #235
fixed. Thanks a lot

[2019-10-05 15:57] rtfpessoa commented on #233
@charlieviolet let me know if you are able to provide some example to replicate and we can then re-open.

[2019-10-05 15:57] #233 closed

[2019-10-05 16:10] #144 closed

[2019-10-05 16:10] #152 closed

[2019-10-05 16:12] #189 closed

[2019-10-05 16:15] #199 closed

[2019-10-05 16:17] rtfpessoa commented on #206
Since `2.` is related to https://github.com/rtfpessoa/diff2html/issues/99 and `1.` is kind of an out of scope case closing it for now.
If someone feels like thinking about this let me know.

[2019-10-05 16:17] #206 closed

[2019-10-05 16:42] rtfpessoa commented on #172
Could not replicate, if you get a full example that I can use I will try to fix it.

[2019-10-05 16:42] #172 closed

[2019-10-06 15:24] #195 closed

[2019-10-06 15:24] rtfpessoa commented on #195
Will be available in the next release

[2019-10-06 15:30] rtfpessoa commented on #227
@i6448038 after a bit more of investigation I just remembered this is being solved in the result available in the dist directory. If you import that one for the browser it will work as expected,

[2019-10-06 15:30] #227 closed

[2019-10-09 09:26] svilenkov opened #239 "ability to render custom DOM content between lines"
@rtfpessoa As per your [comment](https://github.com/rtfpessoa/diff2html/pull/238#issuecomment-539550766)
I'm considering using diff2html in our product that in itself has a manual code reviewing tool based on diff patches. diff2html covers almost all of our needs, however we would like to implement some additional functionality, so anyhow my plan is to implement it in a fork if it's not necessaril

[2019-10-09 10:27] rtfpessoa commented on #239
@svilenkov today diff2html is a kind of simple library to generate a static HTML from a unified/git diff.
The process is just about input and output.
We have a custom dom manipulation inside the diff2html-ui which does, highlight and other JS things.

With the model currently in the code it is hard to use this in react or in a more modular way like you seem to need.

I am open to think about this.

[2019-10-25 07:34] zabbixfan commented on #99
I really need this feature,please

[2019-10-27 12:48] madelavega opened #241 "Error when diffString is a json"

[2019-10-27 15:24] #241 closed

[2019-10-27 15:25] madelavega commented on #241
wrong repository, sorry

[2019-10-27 16:10] madelavega opened #242 "Is there support for Bitbucket 1.0 api version diffs?"
Hi,

Bitbucket 1.0 api versions works with a custom json format, as it has been attached... It seems to not be supported in the current version, or I don't find the way to work with.

Maybe n old diff2html could support this. It is possible? thnaks in advance

[diff.txt](https://github.com/rtfpessoa/diff2html/files/3776096/diff.txt)

[2019-10-29 06:10] AlenJhon opened #243 "diff"
### Step -1: Before filling an issue check out troubleshooting section

  * Go to [README.md#Troubleshooting](https://github.com/rtfpessoa/diff2html#troubleshooting)

### Step 0: Describe your environment

  * OS: _____
  * diff2html version: _____
  * Using diff2html directly or using diff2html-ui helper: _____
  * Extra flags: _____

### Step 1: Describe the problem:

#### Steps to reproduce:

[2019-10-30 22:52] rtfpessoa commented on #242
@madelavega I am not exactly sure what you are talking about.
Are you referring to the demo example in the website?

This tool is a unified diff parser (from raw diff output like what git gives you to a custom json) and then you can also generate some pretty HTML.

This tool does not support any custom formats, but since it supports the unified and git diff formats you can easily get nice output f

[2019-10-30 22:54] #243 closed

[2019-11-05 08:56] sdivakarVDMS opened #244 "Diff2Html.getPrettyHtml not returning HTML when called from an async call"
**Describe the bug**
In Vue app, the Diff2Html.getPrettyHtml works when the diff-string is statically defined within the component. But when the app is loading the data from API via async call, the  return value is `files-changed(0)`. Apologies that it might be that I miss something in the docs, but I couldn't find anything.

**To Reproduce**
Steps to reproduce the behavior:
1. Have this code, whi

[2019-11-21 19:44] ruohomaa opened #245 "Render html also for identical files"
Is it possible to render the html also in cases where the files are identical ? There could be a separate option for this.
I have a case where I compare 2 files from different systems and in cases where these are identical it would be nice to show them side-by-side (and the type of change would be identical)
Similar to how Beyond Compare is showing he changes.

[2019-11-22 22:58] rtfpessoa commented on #244
@sdivakarVDMS I really don't see any problem here. Unless you can give me a sample output that replicates the error, I cannot do much on my side.

Diff2Html does nothing special with the output. Are you sure that the string you are retrieving is a valid unified diff or git diff?

[2019-11-22 23:00] rtfpessoa commented on #245
@ruohomaa not sure I completely get your idea.
Still, if what you want is for Diff2Html to show files that don't change that is quite out of scope here.
Diff2html just parses and generates pretty html from a diff, if the information was never in a diff there is not much we can do.
If you find a way for the diff to have that information we should be able to show it.
Does it make sense?

[2019-11-23 10:18] ruohomaa commented on #245
Thanks for answering,
I realize that it is a bit out of scope since the unified diff file does not actually contain anything if the files are identical
My use case is a bit like Beyond Compare app with which you can compare 2 files side-by-side (in the case when the files are identical it still shows the content of the files)
I need to come up with some other solution
Thanks

[2019-11-23 18:17] rtfpessoa commented on #245
I guess you could try to increase the number of context lines (which defaults to 3 in git) to a big number like 1000 and maybe that way you might get it.
Closing this since we cannot do much on this side. Let me know if I can help with anything else.

[2019-11-23 18:17] #245 closed

[2019-11-27 19:47] timomayer opened #246 "Filter by filetype"
**Is your feature request related to a problem? Please describe.**
In some cases you are only interested in changes in specific file types like html

**Describe the solution you'd like**
Give an option to whitelist or blacklist file extensions which are then not shown.

[2019-11-27 20:12] rtfpessoa commented on #246
@timomayer I would prefer to avoid doing that inside diff2html.
That is mainly a peice of how and where you generate your diff.

How do you obtain your diffs? Git?

In git you can do something like `git diff -- '*.html' | diff2html -i stdin` to whitelist files.
Does it work for you?

[2019-11-27 21:45] timomayer commented on #246
thanks for your quick reply, i am aware that it is possible with GIT, we are using github prs and therefore it could be useful. what about just a filter option in the (in generated html diff) UI to show or hide some filetypes?

[2019-11-27 22:01] rtfpessoa commented on #246
Can you explain bit more about your use case?
How are you invoking diff2html?
Would it be important to change filters? Or you usually just want to check a diff with some file extensions?
Anything else that can be relevant?

[2019-12-03 20:16] pinkcloud98 opened #247 "How do I localize "File without changes" text?"
**Describe the bug**
How do I localize "File without changes" text?
Is there anyway to pass a locale?

**To Reproduce**
Steps to reproduce the behavior:
When there is no change, "File without changes" text is not localized into the browser's current locale setting.

**Expected behavior**
"File without changes" text should be localized to Chinese if Chinese is the current language set in the browse

[2019-12-05 03:30] sxbo opened #248 "mn"
### Step -1: Before filling an issue check out troubleshooting section

  * Go to [README.md#Troubleshooting](https://github.com/rtfpessoa/diff2html#troubleshooting)

### Step 0: Describe your environment

  * OS: _____
  * diff2html version: _____
  * Using diff2html directly or using diff2html-ui helper: _____
  * Extra flags: _____

### Step 1: Describe the problem:

#### Steps to reproduce:

[2019-12-05 03:31] #248 closed

[2019-12-08 13:43] rtfpessoa commented on #242
Closing due to inactivity

[2019-12-08 13:43] #242 closed

[2019-12-08 13:43] rtfpessoa commented on #244
Closing due to inactivity

[2019-12-08 13:43] #244 closed

[2019-12-08 13:43] rtfpessoa commented on #246
Closing due to inactivity

[2019-12-08 13:43] #246 closed

[2019-12-09 13:54] vickyrathee opened #249 "Can I use diff2html with already compared HTML?"
I am using a server side comparison script which generate the difference HTML. Can I use the diff2html to show that generated HTML?

- I don't have 2nd file, and no comparison needed using diff2html
- Just need to show the HTML with green/red highlighted as per `ins` and `del`  in my html string

[code]

[2019-12-09 17:51] rtfpessoa commented on #249
@vickyrathee this is a tool to parse diffs and generate html from it.
To show your html you just need to use an HTML file and some css. You can check the css here for examples https://github.com/rtfpessoa/diff2html/blob/master/src/ui/css/diff2html.css#L119

[2019-12-09 17:51] #249 closed

[2019-12-14 20:53] mathiasrw opened #250 "Placement of --no-color"
**Describe the bug**
When I want to diff a specific folder from another branch the option `--no-color` is placed after the input and the command breaks.

**To Reproduce**
Steps to reproduce the behavior:
1. Execute `diff2html develop 'test/*'`

**Expected behavior**
The same diff as running `git diff develop 'test/*'` is converted to html

**Screenshots**
![image](https://user-images.githubusercon

[2019-12-17 02:23] josharian opened #251 "misaligned text in side-by-side diff"
I tried the most minimalist side-by-side diff I could think of, using the diff text found in the readme. I expected text before and after a diff area to be aligned. It was not. See screenshot at the end; I expected the "THIS FILE IS GENERATED" text to be aligned with each other. Thanks!

Here's the standalone html. Paste into a file and open in any browser. (I tried Firefox, Safari, and Chrome on

[2019-12-22 16:44] rtfpessoa commented on #250
@mathiasrw I think you might be referring to https://github.com/rtfpessoa/diff2html-cli right?

[2019-12-22 16:52] rtfpessoa commented on #250
@mathiasrw if you need more customization you can always build your own command with `git diff <all-my-arguments-options-and-flags-here> | diff2html -i stdin` and that way you should avoid these type of issues.

Let me know if you need anything else.

[2019-12-22 16:52] #250 closed

[2019-12-22 17:51] #251 closed

[2020-01-06 21:55] rszachtsznajder opened #276 "Problem with HTML comments comparison"
I've tried to use latest diff2html (at this moment 3.0.0-master.aa6dd18). I found an issue related to HTML comparison. It doesn't work properly with HTML comments. Take a look on the example below.

**diff file:**

[code]

**result is printed as:**

![diff2html-issue](https://user-images.githubusercontent.com/18330466/71851462-ed43ce80-30d6-11ea-9c4e-c4fa6ec83dc6.png)

**configuration**

[code]

A

[2020-01-08 22:08] rtfpessoa commented on #276
@rszachtsznajder that seems like a nasty bug. Not sure how it passed through the tests.
Thanks for reporting, I will try to see what is the issue and get a fix soon.
If you have any time PRs are always welcome.

[2020-01-08 22:20] rtfpessoa commented on #276
I think I got the reason. Seems like my refactor to achieve more standardized escaping caused some issues with the diff difference highlight between lines.

[code]

[2020-01-08 22:45] #276 closed

[2020-01-08 22:51] rtfpessoa commented on #276
Released fix as version `3.0.0-master.746d3e6`

[2020-01-08 22:51] rtfpessoa commented on #276
Thanks a lot for reporting ! :+1:

[2020-01-13 08:31] pbu88 opened #292 "dependabot incredibly spammy"
Hello,

This is not a conventional issue, feel free to close at any time. I just wanted to bring up that the automated emails from dependabot are incredibly spammy for whoever is subscribed to the notifications of this repo.

It's just a feedback. I know I can un-subscribe but I don't want to :-)

Cheers!

PS: Attached is an email on how it looks on my email every time we get a burst of these emai

[2020-01-13 10:24] pebbles186 opened #293 "Release version layout"
Hey,

starting with version 3.0.0 the release version does not follow the semantic versioning anymore.
For example in npm the latest version is 3.0.0-master.128204d
Is this intended or can you fix it, to have back the semantic versioning?

![grafik](https://user-images.githubusercontent.com/33489439/72248263-0aa4fb00-35f7-11ea-9291-89f8bfa67e60.png)

[2020-01-14 09:59] rtfpessoa commented on #292
@pbu88 sorry for the spam. I started testing this as a mean to keep stuff updated.
I completely understand your pain.
I have changed the updates just to security and changes the amount to immediately to reduce the amount at a time.
Let me know if it still bothers you.

[2020-01-14 09:59] #292 closed

[2020-01-14 10:04] rtfpessoa commented on #293
Hi @pebbles186,
The idea behind this versioning is to allow pre-releases as defined in https://semver.org/.
This means that this version is prior to 3.0.0 to allow for some wider experimentation while I finish the big update.

I guess the mistake was releasing this as `latest` tag since it is probably used by npm by default, but it happened while I was tweaking the build process.

Now that you kno

[2020-01-14 10:09] pebbles186 commented on #293
Hi @rtfpessoa,
yes makes perfect sense :)
Thanks for the quick response.

[2020-01-14 10:09] #293 closed

[2020-01-20 07:56] pebbles186 opened #298 "Bash diff new file not shown"
### Step 0: Describe your environment

- OS: CentOS 7
- diff2html version: 2.12.2
- Using diff2html directly or using diff2html-ui helper: ui helper
- Extra flags: none

### Step 1: Describe the problem:

#### Steps to reproduce:

1. Create two directories e.g. /test/dir1 and /test/dir2
2. Add a file to /test/dir1
3. Execute via bash "diff --recursive --exclude=".*" --unified /test/dir1 /test/dir2

[2020-01-20 22:17] rtfpessoa commented on #298
@pebbles186 as detailed here https://www.gnu.org/software/diffutils/manual/html_node/Unified-Format.html I do not think the `Only ...` are part of a valid unified spec.

In this case by adding `-N` to your command I started getting the expected output.

You can also use `git diff --no-index /test/dir1 /test/dir2` to get a nice output.

Let me know if you have any other questions.

[2020-01-22 07:06] absukumaran opened #299 "error TS2322: Type '"side-by-side"' is not assignable to type 'OutputFormatType'."
I'm using below code in my angular application
const outputHtml = Diff2Html.html(strInput, { drawFileList: false, outputFormat: 'side-by-side'});

While running program. It throws error.
The expected type comes from property 'outputFormat' which is declared here on type 'Diff2HtmlConfig'

[2020-01-23 21:16] rtfpessoa commented on #299
@absukumaran that is an interesting question. I think in practice a string should work, but since I defined it as an enumeration to be able to enumerate values it complain if you don't use the enumeration.

Can you try passing `OutputFormatType.SIDE_BY_SIDE`?

[2020-01-26 00:09] rtfpessoa commented on #299
@absukumaran I also released version `3.0.0-releasemajorversion.5b2c3ab` without enums and now you should be able to use strings.
Let me know if it works.

Sometimes you might need to cast your string to constant type with `'side-by-side' as const`.

[2020-01-26 00:09] #299 closed

[2020-01-27 07:51] pebbles186 commented on #298
You are right, was my mistake, thanks for the hint. Now I get the file in the output, but it is always shown as changed.
Here is my diff output, maybe you can check this on your side.
[code]

Or is my assumption wrong and this is not possible with a bash diff output? Unfortunately we do not use git :(

[2020-01-28 21:24] rtfpessoa commented on #298
No problem.
I am not sure what is the current issue.

Can you extend a bit better on what you get and what you were expecting?

[2020-01-28 21:25] rtfpessoa commented on #298
If you check here https://diffy.org/diff/z2mdvog5ayerlvk5hy2xzuxr the output seems correct. What am I missing?

[2020-01-29 07:19] pebbles186 commented on #298
Okay, then I am probably wrong. I thout it will show the label added for the new file. As shown here:
[Example with git](https://diff2html.xyz/demo.html?matching=none&matchWordsThreshold=0.25&maxLineLengthHighlight=10000&diffStyle=word&renderNothingWhenEmpty=0&matchingMaxComparisons=2500&maxLineSizeInBlockForComparison=200&outputFormat=line-by-line&drawFileList=1&synchronisedScroll=1&highlight=1&f

[2020-01-31 12:44] absukumaran commented on #299
@rtfpessoa Yes, Now It is working fine.

[2020-01-31 13:16] absukumaran commented on #299
@rtfpessoa I have one more issue. Some pull id's diff showing like this. It showing diff wrongly and repeating the same file diff again and again.
![sas](https://user-images.githubusercontent.com/58422135/73542023-d1271900-4459-11ea-880f-0cf19ffd752a.png)

[2020-01-31 23:28] rtfpessoa commented on #299
@absukumaran can you provide a sample for me to replicate?

[2020-01-31 23:31] rtfpessoa commented on #298
@pebbles186 since you are not using git I won't detect if it is a new file.
I could infer it from the type of the lines, but that could still be wrong when no context lines are provided.

[2020-02-02 10:03] re2005 opened #300 "Types are missing in the Diff2HtmlConfig interface"
Running the latest version.

In your example there are a few optional parameters:

[code]

But the types are missing for these in the interface 'Diff2HtmlConfig'.

I've manually added (fileListToggle and matching) so my typescript doesn't complain.

fileListToggle?: boolean;
matching?: string;

[2020-02-02 17:21] rtfpessoa commented on #300
@re2005 not sure if I completely get your point, but I think you might be mixing some concepts here.

As explained better in the new README specially in the branch where I will do the final release, there is Diff2Html (parser and html generator) and Diff2HtmlUI (wrapper around the previous to render stuff in the browser).

In this case `fileListToggle` is a config from Diff2HtmlUI and not Diff2Htm

[2020-02-02 18:23] re2005 commented on #300
Hi Pessoa, Thanks for the quick reply.
In my case I'm using **Diff2Html**.

My need is to set the fileListToggle to FALSE.

The VUE component has this code:

[code]

The example was from here:
https://github.com/rtfpessoa/diff2html#diff2html-vuejs-example

And my bad because the option 'fileListToggle' is not in the example.

Anyway it's still a valid case right ?

Cheers

[2020-02-02 18:24] re2005 commented on #300
And I can't forget to say: very good job with this repo!

[2020-02-02 18:37] rtfpessoa commented on #300
@re2005 I think I got what is wrong.

The problem here seems to be that you are trying to use a feature of Diff2HtmlUI which is the `fileListToggle`. If you are using Diff2Html with Vue you can only decide if you want the list or not by passing the `drawFileList` parameter.

You can check all the [Diff2Html options](https://github.com/rtfpessoa/diff2html/tree/release-major-version#diff2html-config

[2020-02-02 18:48] re2005 commented on #300
You're totally right. In fact that option is already there.

Thanks a lot man!

[2020-02-02 18:48] #300 closed

[2020-02-03 10:31] pebbles186 commented on #298
@rtfpessoa I understand, thanks for you help.
I am using a workaround now. I detect deleted/added files on myself and add the string which would be added by git. Then your library is working as expected. :)

[2020-02-03 10:31] #298 closed

[2020-02-03 12:54] absukumaran commented on #299
@rtfpessoa
[samplediff.txt](https://github.com/rtfpessoa/diff2html/files/4147952/samplediff.txt)

[2020-02-04 17:25] jtkhong opened #301 "Misaligned left/right panes in side-by-side display"
- OS: MacOS Mojave 10.14.6
- diff2html version: 2.12.2
- Using diff2html directly or using diff2html-ui helper: diff2html directly (getPrettyHtml)
- Extra flags: inputFormat: 'diff', drawFileList: false, matching: 'lines', outputFormat: 'side-by-side'
- Chrome: Version 79.0.3945.130 (Official Build) (64-bit)

### Step 1: Describe the problem:
Misaligned left/right panes in side-by-side display
###

[2020-02-05 18:37] rtfpessoa commented on #301
This should be fixed in 3.0.0.
I will try to do a release soon

[2020-02-05 20:31] rtfpessoa commented on #299
@absukumaran that is not  valid diff. Maybe that is the issue. It contains extra things that are not part of the git diff.
Can you try with just the diff?

[2020-02-05 20:55] jtkhong commented on #301
Thanks for the quick response!

On Wed, Feb 5, 2020 at 1:37 PM Rodrigo Fernandes <notifications@github.com>
wrote:

[2020-02-05 20:59] rtfpessoa commented on #301
Should be fixed in 3.0.0

[2020-02-05 20:59] #301 closed

[2020-02-07 12:19] absukumaran commented on #299
@rtfpessoa But that data, I got from github diff api. I haven't added anything extra.

[2020-02-08 18:33] rtfpessoa commented on #299
@absukumaran when you get from github you need to use the url ending in `.diff`, like `https://github.com/rtfpessoa/diff2html/commit/f89c3481a744f2f1e0ddf830f631f59102941f69.diff` not the one ending in `.patch`.

Seems like you are using the patch one.

[2020-02-09 13:06] campersau opened #303 "SmartSelection only works on first file diff"
### Step 0: Describe your environment

- OS: Windows 10
- diff2html version: 3.0.2
- Using diff2html directly or using diff2html-ui helper: diff2html-ui helper
- Extra flags: `smartSelection: true`

### Step 1: Describe the problem:

Copy & paste copies line numbers from diffs but not from the first one.

#### Steps to reproduce:

1. Go to the demo page (link below)
2. Select and copy text from th

[2020-02-09 15:51] rtfpessoa commented on #303
@campersau thanks for the suggestion.
I had this https://flaviocopes.com/css-disable-text-selection/ in my todo list but somehow it got lost.
I will work on it.

[2020-02-09 16:21] #303 closed

[2020-02-09 16:35] rtfpessoa commented on #303
Released as version 3.1.0

[2020-02-10 10:00] absukumaran commented on #299
@rtfpessoa Yes, your are right. I was using patch file, now I changed to diff file. Now it is working properly. Thanks @rtfpessoa

[2020-02-10 10:57] rtfpessoa commented on #299
Np. Maybe I should add this to troubleshooting

[2020-02-15 23:47] the-turk opened #308 "Render Markdown"
Is it possible to render markdown in diffs like GitHub edit history does? If not, do you know if there is any way to do this (with another repo maybe)?

Thanks.

[2020-02-16 18:01] rtfpessoa commented on #308
@the-turk you provide an example? Not sure what you mean.

[2020-02-16 18:12] the-turk commented on #308
Check my edit history **LIKE THIS** OR _THIS_ OR `THAT`

[2020-02-22 22:58] rtfpessoa commented on #308
@the-turk that is not possible out of the box. You would have to render the markdown into HTML.
This could probably mess with the char/word diff inside each line.

[2020-02-25 11:35] yuliy-otonomo opened #309 "diff2htmlUi.fileListToggle() is broken."
Can't make a PR ATM, but:

diff2html-ui-base.ts:83
  `const showBtn: HTMLElement | null = this.targetElement.querySelector('d2h-show');`

`d2h-show` is missing dot )

[2020-02-25 12:24] rmpestano opened #310 "Bundles directory directory doesn't exist anymore"
In [distributions](https://github.com/rtfpessoa/diff2html#distributions) section all the links for `Manually download and import` gives **404** because `bundles` directory doesn't exist anymore.

[2020-03-01 17:46] #308 closed

[2020-03-09 10:27] azimut2000 commented on #310
+1

I have also problem to understand how your LIB can be use....

In the documentation, you said "Check out for the demo" that is a link on https://github.com/rtfpessoa/diff2html/blob/master/docs/demo.html but this page do not exist !
I also have problem to use npm because i have proxy in my compagny and i have had a lot of difficulties to find file like "diff2html.min.js" or "diff2html.min.css"

[2020-03-09 10:42] rmpestano commented on #310
Hi @azimut2000 , for past versions like 2.x you can find the dist folder on the tag, [see here](https://github.com/rtfpessoa/diff2html/tree/2.12.2/dist).

I hope this issue gets fixed so we can grab the latest versions without needing to build locally

[2020-03-09 23:08] azimut2000 commented on #310
Thank's for link...
Have you an example / demo page for using thees 2.x .js ?
Have you a page for the 3.x version too ? What are differents between theses 2 versions ?
Thank's again
Thierry

[2020-03-10 18:13] rtfpessoa commented on #310
Sorry for the delay getting here. I have been recovering from a cirurgy and mostly away from the computer.

I did some quick tests and if I install the latest version as I do in `diff2html-cli` everything seems to be there including the bundles.

@rmpestano @azimut2000 this is a case where I need to improve the documentation.

TLDR, I removed all build outputs from the repository and now they are

[2020-03-10 18:14] rtfpessoa commented on #310
@azimut2000 about the demo you can check `https://diff2html.xyz/demo.html` for a live example.

[2020-03-10 18:16] rtfpessoa commented on #309
Thanks for reporting. Will issue a fix soon.

[2020-03-10 18:32] #309 closed

[2020-03-10 18:33] rtfpessoa commented on #309
Will release this soon

[2020-03-10 18:36] rtfpessoa commented on #310
@azimut2000 @rmpestano if you have any more suggestions for improvements and how to make the docs more approachable. Please let me know or send a PR.

[2020-03-10 20:41] #310 closed

[2020-03-10 21:48] azimut2000 commented on #310
Thank's a lot Radrigo...
Take time for you, it's the most important !
Ok for suggestions... I will send you as soon as i will finish my project.

[2020-03-11 08:11] rmpestano commented on #310
Hi Rodrigo,

I think just direct links to the binaries is enough on the documentation so the ones not using npm can benefit as well.

I hope everything is ok with you, take care!

[2020-03-12 16:09] rohithbalaji123 opened #313 "[Nice To Have Feature] Support staged diff in git"
It would be nice to have a flag which shows diff which are only in git's staging area. Would be helpful in verifying what changes are exactly being committed and have some final fine tunings.

Please do let me know if there is a workaround to attain this with currently supported features.

[2020-03-13 23:30] rtfpessoa commented on #313
@rohithbalaji123 diff2html is merely a parser and html generator it cannot decide what changes you have in your machine at any time.

If you are referring to https://github.com/rtfpessoa/diff2html-cli you can always use a custom git diff command like: `git diff HEAD~2 | diff2html -i stdin`

Is this what you are looking for?

[2020-03-14 07:29] rohithbalaji123 commented on #313
Ohh, yeah. This would be it. I misunderstood the project. Didn't realize giving input source was an option. That's nice. Thanks!

[2020-03-14 07:29] #313 closed

[2020-03-14 21:32] rtfpessoa opened #317 "Update coverage reporting to Codacy"
Codacy deprecated the npm module for coverage reporting.

We need to replace https://github.com/rtfpessoa/diff2html-cli/blob/master/package.json#L55 by the new https://github.com/codacy/codacy-coverage-reporter#setup

[2020-03-24 14:14] dotnwat commented on #152
I was just about to hack on this feature when I stumbled across this ticket. I'd be happy to tackle this, if it is still in scope for the project.

From the standpoint of having a focused tool, I definitely agree that the scope should be limited to the diff. However, like it or not, nowadays the output of `git show` (which includes some basic metadata like commit message and author before the diff

[2020-04-02 19:55] rtfpessoa commented on #152
@dotnwat I tough a bit about this and I have some concerns about that approach. I feel it is not very useful since you not actually parsing the data.

To make the cost of a new entity we should have some clear value in that information.

Some notes of what I have in mind:
* We definitely could create some new parser, that would parse the output of git show
  * If we would do this it would be impor

[2020-04-09 06:02] grantspilsbury opened #318 "How to specify the diff string to diff against?"
This is a terribly stupid question...
If I have stringA "This is a stringA" and stringB "This is also a string"
How do I use the library to diff the 2 strings?
[code]
Where do I set stringB as the string to be diffed against?

[2020-04-10 11:24] rtfpessoa commented on #318
@grantspilsbury the is not a diff generator library, it is a parser for existing unified diffs.
You can use any tool that generates unified diffs  and than pass that input to diff2html to get either the parsed version or the pretty html.

You can use, gnu diff, git diff, or any other language specific tool you want, as long as it outputs the unified syntax.

[2020-04-10 11:24] #318 closed

[2020-04-17 05:20] TiredFalcon commented on #97
I have been trying to get the diff (in lines mode) to work for some time but I cannot figure it out.
The `<table>` element inside the code wrapper overflows.
@jung-kim how did you manage to get the line wrapping to work?

[2020-04-17 19:42] rahulnjs commented on #90
@rtfpessoa is there a flag to ignore binary files? seems to be a good usecase.

[2020-04-17 20:15] rtfpessoa commented on #90
@rahulnjs can you provide more context about your use case?

You can do that when generating the diff, or you can even do:

1. Parse diff string to json using diff2html
2. Filter binary files from the json
3. Generate html using diff2html with the filtered json

In general I think it would be too simple to do outside, cannot find a good use case to bundle that.
Let me know if you have more informa

[2020-04-17 20:40] rahulnjs commented on #90
@rtfpessoa I understand your point.

But when diff2html is already doing so much wouldn't it be nice to filter it during parsing or even during html generation. Which would save me all the 3 steps you have mentioned. So the code  remains clean.

All I have to pass is,
[code]

Thanks.

[2020-04-17 21:44] rtfpessoa commented on #90
@rahulnjs when you say:

I am not sure what you really mean.
Today diff2html only does parsing of diffs and html generation. At mot you can configure some important features of each of these features but if I start adding too many unrelated features it will easily get bloated and over-complicated.

I think what you are requesting is mostly a feature of the diff generation since it makes no sense t

[2020-04-25 13:35] Trim21 opened #320 "typescript example can't be compiled"
### Step -1: Before filling an issue check out troubleshooting section

- Go to [README.md#Troubleshooting](https://github.com/rtfpessoa/diff2html#troubleshooting)

### Step 0: Describe your environment

- OS: **windows**
- diff2html version: **3.1.6**
- Using diff2html directly or using diff2html-ui helper: **directly **
- Extra flags: **null**

### Step 1: Describe the problem:

I try to use `di

[2020-04-25 17:05] rtfpessoa commented on #320
@Trim21 you should not need `@types/diff2html` anymore. That was used when the code was JS.
Not that it is TS the types ship with the code.

That should be the reason why `function html` is not available, since it was introduced in the redesign of the migration to TS.

[2020-04-25 17:15] Trim21 commented on #320
Thank you

[2020-04-25 17:15] #320 closed

[2020-04-29 08:36] Parker29 opened #321 "Issue with HTML Comparisons"
While comparing HTML files,
 < > get replaced automarically while rendering the output on browser.
I think its a bug but still not fixed.
![Screenshot from 2020-04-29 13-57-39](https://user-images.githubusercontent.com/28523227/80576084-3622e880-8a22-11ea-8891-b6d004679ea3.jpg)

![Screenshot from 2020-04-29 13-54-59](https://user-images.githubusercontent.com/28523227/80576081-34592500-8a22-11ea-94

[2020-04-29 18:52] robertwalsh0 commented on #99
Not sure if this works in side-by-side but in line-by-line you can get the lines to wrap by changing the following css

[code]

[2020-04-29 19:28] rtfpessoa commented on #321
@Parker29 unless you provide an example diff I cannot replicate.

See https://diff2html.xyz/demo.html?matching=none&matchWordsThreshold=0.25&maxLineLengthHighlight=10000&diffStyle=word&renderNothingWhenEmpty=0&matchingMaxComparisons=2500&maxLineSizeInBlockForComparison=200&outputFormat=line-by-line&drawFileList=1&synchronisedScroll=1&highlight=1&fileListToggle=1&fileListStartVisible=0&smartSelecti

[2020-04-30 06:31] Parker29 commented on #321
Thank you for the reference.
The issue was with the options from my end.

[2020-04-30 06:32] #321 closed

[2020-05-02 13:31] rahul-ecsion commented on #163
Is is possible to see all content in file from diff files by scrolling it?

[2020-05-02 13:31] rahul-ecsion commented on #163
@rtfpessoa  Is is possible to see all content in file from diff files by scrolling it?

[2020-05-02 16:25] rtfpessoa commented on #163
@rahul-ecsion not sure what you mean.

You mean to show more lines that did not change (context lines)?
If that is the case, you can use options line `-U1000` for git diff. diff2html only renders what it gets form the input.
If you want more you need to get it into the original diff.

[2020-05-09 10:18] #239 closed

[2020-05-09 12:13] #317 closed

[2020-05-22 23:27] alamothe commented on #92
If we do this, then files that are `linguist-generated` could be auto-collapsed, like in Github.

[2020-05-23 22:04] rtfpessoa commented on #92
@alamothe can you extend a bit on what you mean? Sorry, I am not familiar with `linguist-generated`.

[2020-05-25 22:58] alamothe commented on #92
This article explains it https://help.github.com/en/github/administering-a-repository/customizing-how-changed-files-appear-on-github

Basically, if you have that file in the repo root, it can list the files which are autogenerated. Then those will be automatically collapsed in GitHub when doing code review.

[2020-06-07 10:21] rtfpessoa commented on #92
@alamothe I think I see what you meant.
This would not be directly possible since diff2html just gets the text from the diff.

It could probably be done in https://github.com/rtfpessoa/diff2html-cli since it can have access to the filesystem, but for diff2html it would have to be manually passed.

[2020-06-28 16:28] campersau opened #324 "HTML entities are not escaped in @@ lines"
### Step 0: Describe your environment

- OS: windows
- diff2html version: 3.1.8
- Using diff2html directly or using diff2html-ui helper: directly
- Extra flags:

### Step 1: Describe the problem:

HTML entities are not escaped in `@@` lines.

#### Steps to reproduce:

1. Take the following diff:

[code]
2. Render it with `Diff2Html.parse` and `Diff2Html.html`
3. The diff HTML on the `@@` line is n

[2020-06-29 21:19] ert2 commented on #324
This does not only happen with HTML on the @@ line.
I use diff2html in a vue-app with diff generated by diff (npm-package). I run my code in Firefox on a Linux-machine.
I am using this in my bachelor's thesis and I would be forever grateful if someone could solve this issue.
 This diff: (sorry, i can't get my code to display properly, screenshot below)

`Index: file
===============================

[2020-06-30 01:06] campersau commented on #324
@ert2 Can you please edit your comment and [use triple ` at the start and the end of the code](https://help.github.com/en/github/writing-on-github/creating-and-highlighting-code-blocks#fenced-code-blocks)?

[2020-06-30 06:06] ert2 commented on #324
@campersau done. If you consider adressing this issue let me know when I can give any help.

[2020-06-30 06:31] campersau commented on #324
@ert2 The diff looks ok using the latest version of `diff2html`: https://jsfiddle.net/5rhLkdpy/
But from the screenshot it looks like there is something missing in the diff you posted.

[2020-06-30 06:36] ert2 commented on #324
This is the whole diff:
[code]

[2020-06-30 06:51] ert2 commented on #324
@campersau When i paste this to the fiddle you set up it renders this:
![grafik](https://user-images.githubusercontent.com/15123899/86093205-dc38b080-baae-11ea-807a-943081c74f1f.png)

[2020-06-30 07:04] campersau commented on #324
@ert2 Thanks, now I can reproduce it: https://jsfiddle.net/hkns8f72/ (You need to escape some characters when using js template literals.)

Here is a simpler case: https://jsfiddle.net/znf4yw0g/ when you remove one `a` it will work, so I am not sure if it is related to HTML entities but definetly a bug I guess.

[2020-06-30 07:15] ert2 commented on #324
@campersau Thank you for the effort. Do you have any idea what I could do to fix this? I'm reading the diffs from a database and could alter them, but I can't narrow down what exactly causes the problem. Hints on how to approach such a problem in general would be very appreciated as well. (I am by no means a seasoned developer, but I really need to solve this)

[2020-06-30 07:49] campersau commented on #324
@ert2 You can fix your problem by increasing `maxLineLengthHighlight`. See https://github.com/rtfpessoa/diff2html#diff2html-configuration

[2020-06-30 08:43] ert2 commented on #324
@campersau This works, thank you. Unfortunately it takes ages to calculate :D. Guess I will have to come up with another workaround.

[2020-06-30 17:57] #324 closed