[2020-06-30 18:04] rtfpessoa commented on #324
Released as `3.1.9`

[2020-07-23 02:25] JIACX1995 opened #327 "use"
### Step -1: Before filling an issue check out troubleshooting section

- Go to [README.md#Troubleshooting](https://github.com/rtfpessoa/diff2html#troubleshooting)

### Step 0: Describe your environment

- OS: **\_**
- diff2html version: **\_**
- Using diff2html directly or using diff2html-ui helper: **\_**
- Extra flags: **\_**

### Step 1: Describe the problem:

#### Steps to reproduce:

1. ***

[2020-07-23 02:25] JIACX1995 opened #328 "how to use"
### Step -1: Before filling an issue check out troubleshooting section

- Go to [README.md#Troubleshooting](https://github.com/rtfpessoa/diff2html#troubleshooting)

### Step 0: Describe your environment

- OS: **\_**
- diff2html version: **\_**
- Using diff2html directly or using diff2html-ui helper: **\_**
- Extra flags: **\_**

### Step 1: Describe the problem:

#### Steps to reproduce:

1. ***

[2020-07-23 08:35] #328 closed

[2020-07-23 08:36] #327 closed

[2020-07-29 09:15] ewauq opened #330 "How to show new files?"
Hello,

I know that the question has already been asked but I don't understand answers. I am sorry if the answer is really simple but I can't get it...

I am using `diff2html -u pbcopy` to get all diffs in my git repo. In vscode I see all new/updated/deleted files, but when using diff2html I only get updated files and not new ones.

What is the command or option to use to get **updated and new fil

[2020-07-29 17:40] madooei opened #331 "CSS issues"
I'm putting this as a general observation of an issue - which is a serious one in my view - your CSS in some places uses relative and other places absolute units. There is also an inherent coupling on default (browser) styling of e.g. tables. If one uses a custom styling for their web pages to e.g. style tables in a particular fashion, the diff2html's look will be messed up.

[2020-07-30 12:01] rtfpessoa commented on #330
@ewauq diff2html will wrap a command to git so what you can do to have all the control is for example: `git diff HEAD | diff2html -i stdin -u pbcopy`

Does this solve your problem?

[2020-07-30 12:06] rtfpessoa commented on #331
@madooei CSS here is specially hammered in several places due to the lack of knowledge about how to structure it properly.
Several features here were hard to put together and lead to some mess.

If you are interested in making a PR (or multiple) I am completly open to help you making it better.

[2020-07-30 12:35] ewauq commented on #330
@rtfpessoa Thank you for the answer!

For some reason the command you provided did not work for me. I am not a git expert, but I searched and found this  [stackoverflow thread](https://stackoverflow.com/questions/855767/can-i-use-git-diff-on-untracked-files). I just needed to do another git command before to do yours:

[code]

Everything is fine now! I think it would very usefull to put this somew

[2020-07-31 13:43] #330 closed

[2020-08-13 21:27] devajith opened #333 "support for diff json from gitlab api"
how can we use [gitlab-diff-of-a-commit](https://docs.gitlab.com/ee/api/commits.html#get-the-diff-of-a-commit) api with diff2html ?

[2020-08-13 22:12] devajith commented on #333
its looks like gitlab api having a [bug](https://gitlab.com/gitlab-org/gitlab/-/issues/24913) for not showing 'diff' properly otherwise we would have use 'diff' directly.

[2020-08-15 14:05] rtfpessoa commented on #333
Hi @devajith,

diff2html is a diff parser and html generator and for that reason it does not support that API. It only supports unified diff formats or supersets of it.

Since that API has a json version that is specific to GitLab it is of no use here.

From GitLab you can get the diff from `https://gitlab.com/gitlab-org/gitlab-foss/-/merge_requests/6763.diff` for a mege request.

[2020-08-15 14:05] #333 closed

[2020-08-25 13:48] etimau opened #335 "buggy char diffStyle?"
Hi and thanks for your great work.
Here is my issue. Sorry if it is irrelevant or already opened.

### Step 0: Describe your environment
- OS: Windows 10 (1909 18363.959 ; french)
- diff2html version: 3.1.12
- Usage:
	var diffHtml = Diff2Html.html(atob(patch), {
  						drawFileList: false,
  						matching: 'lines',
  						outputFormat: 'line-by-line',
  						diffStyle: 'char',
					});

### St

[2020-08-25 21:24] rtfpessoa commented on #335
Hi @etimau,

If I understood it correctly it seems like a feature not a bug.
I rely on [diif](https://www.npmjs.com/package/diff#api) to detect the differences and I use `diffChars` and `diffWordsWithSpace` that you can select in the options.

Not sure if [diif](https://www.npmjs.com/package/diff#api) supports the exact feature you want but if there is a method I can call there let me know.

[2020-09-03 08:41] YazhouMiao opened #336 "line number"
### Step -1: Before filling an issue check out troubleshooting section

- Go to [README.md#Troubleshooting](https://github.com/rtfpessoa/diff2html#troubleshooting)

### Step 0: Describe your environment

- OS: **\_**
- diff2html version: **\_**
- Using diff2html directly or using diff2html-ui helper: **\_**
- Extra flags: **\_**

### Step 1: Describe the problem:

#### Steps to reproduce:

1. ***

[2020-09-03 08:41] #336 closed

[2020-09-15 04:59] BingyuLiu opened #338 "Source Code of diff2html demo"
Can you please share the source code of demo https://diff2html.xyz/demo.html?matching=none&matchWordsThreshold=0.25&maxLineLengthHighlight=10000&diffStyle=word&renderNothingWhenEmpty=0&matchingMaxComparisons=2500&maxLineSizeInBlockForComparison=200&outputFormat=line-by-line&drawFileList=1&synchronisedScroll=1&highlight=1&fileListToggle=1&fileListStartVisible=0&smartSelection=1&diff=https://github.

[2020-09-17 18:07] Kitefr commented on #338
Maybe this is the one : https://github.com/rtfpessoa/diff2html/tree/master/website/templates/pages/demo

[2020-09-17 18:26] rtfpessoa commented on #338
Sorry for the delay, @Kitefr thanks for posting the link.

[2020-10-08 07:47] pacocom opened #339 "Is possible JSON Diff similar a http://www.jsondiff.com/?"
Is possible JSON Diff similar a http://www.jsondiff.com/?
![image](https://user-images.githubusercontent.com/7735329/95429808-2dc4c700-094b-11eb-8af9-7099d10aea2d.png)

Thanks!

[2020-10-09 21:30] drehenr opened #340 "Demo : how to use on standard (raw) diff urls?"
### Step -1: Before filling an issue check out troubleshooting section

- Go to [README.md#Troubleshooting](https://github.com/rtfpessoa/diff2html#troubleshooting)
Done, does not help

### Step 0: Describe your environment
Using your own demo instance in the web : https://diff2html.xyz/demo.html
- OS: **\_**
- diff2html version: **\_**
- Using diff2html directly or using diff2html-ui helper: **\_*

[2020-10-16 08:16] rtfpessoa commented on #339
Hi @pacocom, diff2html is a diffparser and html generator, which means it does not generate diffs.
But if you pass a diff of two json objects it will generate a similar view.

You can try using [jq](https://stedolan.github.io/jq/) to format the contents before doing to diff so it looks better formated.

[2020-10-16 08:16] #339 closed

[2020-10-16 08:17] rtfpessoa commented on #331
@madooei if you want to re-open this let me know.

[2020-10-16 08:17] #331 closed

[2020-10-16 08:22] rtfpessoa commented on #335
@etimau let me know if you want to re-open this.

[2020-10-16 08:22] #335 closed

[2020-10-16 08:22] rtfpessoa commented on #338
@BingyuLiu let me know if you want to re-open this.

[2020-10-16 08:22] #338 closed

[2020-10-16 08:31] rtfpessoa commented on #340
Regarding the demo, for that link it should work. So I am leaving open as a bug.

About the cli, can you post here the command you used that is not working?
Something like `git diff HEAD~5 | diff2html -i stdin -F /tmp/cenas.diff -o stdout` should work without opening the browser.

But after reading the docs seems like `-F` should in fact override the `-o` default. I opened a bug in the cli for tha

[2020-10-16 21:31] #340 closed

[2020-10-16 21:41] rtfpessoa commented on #340
Released in version `3.1.14`

[2020-10-22 18:41] imranazad opened #342 "Changed tag is displayed despite both files being the same"
### Step 0: Describe your environment

- OS: Windows 10
- diff2html version: 3.1.13
- Using diff2html directly or using diff2html-ui helper: diff2html

### Step 1: Describe the problem:
Changed tag is displayed despite both files being the same.

#### diff example:

[code]

#### Observed Results:

I have to files with the words `hello` in them when the html diff is generated the changed tag is dis

[2020-10-22 21:04] rtfpessoa commented on #342
@imranazad diff2html is mostly a parser for diffs, which means that it does not make any special assumptions about them.
In this case the tool you use to generate the diff should only select the files which have changes.
At least this is the case for most tools I have seen like git.

Let me know if you have more questions.

[2020-10-22 21:04] #342 closed

[2020-10-24 09:07] mensfeld opened #343 "Where can I find the changelog with changes in between releases?"
Hey there. First of all, thank you for this amazing library.

Where can I find the changelog with information about changes in between particular versions? I'm really interested in bug fixes and improvements and would love to be able to keep up with all the changes.

[2020-10-24 09:13] rtfpessoa commented on #343
Hi @mensfeld I try to keep the releases updated with relevant information here https://github.com/rtfpessoa/diff2html/releases
But since it is manual I end out forgetting some times.
At least every release is tagged and you can always check the commit messages.

[2020-10-24 09:18] mensfeld commented on #343
Thank you. I was looking for something like a changelog file but this lgtm :) :pray:

[2020-10-24 09:18] #343 closed

[2020-10-25 16:04] julien-c opened #344 "Displaying a diff from nodegit: should I try to bypass diff2html's parse"
Hi,

I am displaying a diff from a git commit, using nodegit – basically following [this official example](https://github.com/nodegit/nodegit/blob/master/examples/diff-commits.js).

I'm wondering if it's ok, or "good enough", to serialize the diff to a string representation, and then to have `diff2html` parse it again, even though we have the structured data (i.e., some `DiffList`, `Diff`, `Patch`

[2020-10-25 19:26] rtfpessoa commented on #344
Hi @julien-c,
I think the best way is definitely for you to get the string representation of the diff like you would get out of a git diff or the unix diff cli. That way you are sure it will work fine.

Mapping the structured data is going to be more work on you.

[2020-10-25 19:26] #344 closed

[2020-10-26 08:16] julien-c commented on #344
Makes sense. Thank you! cc @pierrci

[2020-10-26 19:41] Pierrci opened #345 "Highlighting on server?"
Hi,

I'm currently experimenting with diff2html server-side, and I was wondering if it was possible to highlight the code with highligth.js from there? All the examples I've seen for highlighting the code are client-side, and my different tests were unsuccessful so far.

Thanks!

[2020-10-27 14:17] campersau opened #346 "Leading whitespace when selecting / copying code in Chrome"
### Step 0: Describe your environment

- OS: Windows 10
- diff2html version: 3.1.14
- Using diff2html directly or using diff2html-ui helper: the one the website is using
- Extra flags: default settings used by website

### Step 1: Describe the problem:

When selecting and copying code from diffs there is always an additional leading whitespace.
I have tracked down the issue to the template files w

[2020-10-27 19:42] rtfpessoa commented on #346
Wow, this is such a weird issue.
I do not understand why HTML indentation would influence what you select :exploding_head:

After thinking a bit about this, the CSS option seems better since that way people can use customised templates and all works fine, even if they do not put them all in the same line.

What is your opinion?

[2020-10-27 19:52] rtfpessoa commented on #345
Hi @Pierrci,

I never tried doing highlight in server side.

The code relies in the dom, and uses several operations in it to mutate the dom.

You can check all the code here https://github.com/rtfpessoa/diff2html/blob/master/src/ui/js/diff2html-ui-base.ts#L111

In this case you could probably re-implement this with jsdom or something similar, should not be super hard, but I never tried.

Can you

[2020-10-27 19:53] campersau commented on #346
For browsers there is no concept of "indention" spaces. E.g. these are all visually the same
[code]
[code]

Which of the two CSS options are you referring to? I mentioned two :)
- https://github.com/FredrikNoren/ungit/pull/1430
- `:before` and `content: attr(data-prefix)` like GitHub diffs

[2020-10-27 20:20] rtfpessoa commented on #346
While reading I mixed both thinking they were the same :upside_down_face:

After doing a quick implementation seems like both are not amazing.

The first one solves the problem with only CSS changes but it makes selection much harder since you can only start on lines where there is content.

The second only seems to work if the `span` with class `d2h-code-line-ctn` is in one line like your first s

[2020-10-27 20:46] campersau commented on #346
Yes, the first option also requires changes to the template. Not sure how other dependencies are using this lib but that might break them.

For the second option I thought with the two `width: 100%` the selection felt the same as before. Will recheck that tomorrow.

[2020-10-28 16:03] Pierrci commented on #345
We're using handlebars to compile templates from the server, and we would like being able to directly insert the highlighted version of the diff in the template, but I understand the limitations server-side since it needs the dom.

In parallel, since `Diff2HtmlUI` accepts directly an element with a diff in it, I've been trying a similar behavior to the one of the CLI you linked to, and might go th

[2020-10-28 21:17] simonwiles commented on #346
I think this shouldn't be a problem because of the rules applied to `.d2h-code-line-ctn` (see https://github.com/FredrikNoren/ungit/pull/1430/files#r502941174).

[2020-10-28 21:35] campersau commented on #346
@simonwiles yes, see https://github.com/rtfpessoa/diff2html/pull/348#discussion_r513230974

[2020-10-29 09:46] #346 closed

[2020-10-29 09:53] rtfpessoa commented on #346
Released in version `3.1.15`

[2020-10-30 14:28] rtfpessoa commented on #345
Diff2HtmlUI is not exported in the root, you need to import it directly from the path `import { Diff2HtmlUI } from 'diff2html/lib/ui/js/diff2html-ui'`.

I have a complete list under distributions in https://github.com/rtfpessoa/diff2html#distributions

[2020-11-24 03:11] Tarandeep1000 opened #349 "Need help with the input string."
Hi Team,

I am pulling the data (via API) of various VCS like github, gitlab etc. I need help to construct the input string which has the difference between 2 files, before passing it in the diff2html.
In demo you have shown various files which have been added, renamed, deleted. Could you please provide the input string for them that would be really helpful.
Appreciate your assistance.

[2020-11-24 04:17] #349 closed

[2020-11-27 03:59] borldfly opened #350 "数据量大的情况，比方说10W行，怎么提升它的性能防止浏览器卡死的情况"
文档上面说的matching:none,好像也没有效果，如何保证这种10W行数据比对的时候，既能区分差异，还能保证它的性能

[2020-11-27 17:18] rtfpessoa commented on #350
@borldfly sorry but I can only understand Portuguese, English and a bit of Spanish.
Unless you are able to use one of these I will not be able to help you since the translations do not even seem to make sense.

[2020-12-01 08:48] borldfly commented on #350
When the data is so large as more as one hundred thousand lines,it will work stuck.So I want to know how to make it work normaly in large data situation.

[2020-12-01 09:08] rtfpessoa commented on #350
Did you check if the problem can be the one described in https://github.com/rtfpessoa/diff2html#troubleshooting ?

If not can you send me an example so I can do further debugging?

[2020-12-30 07:47] Liang813 opened #354 "Deviated style"
When I use the code in Diff2Html Browser ，I find something wrong with the style , I don't know what the problem is.
This is the example
![image](https://user-images.githubusercontent.com/62755766/103337396-2af2f180-4ab6-11eb-8e69-38fb9a62ee3e.png)

My code
<script>
document.addEventListener('DOMContentLoaded', () => {
        var diffHtml = window.Diff2Html.html(diffInfo, {
            drawFileLis

[2021-01-12 14:15] VerenaSchreyer opened #355 "Using Diff2HtmlUI after Installation with yarn"
I can't import Diff2HtmlUI.

In package.json is only diff2html.js specified as a module:
  "main": "./lib/diff2html.js",
  "module": "./lib-esm/diff2html.js",
  "types": "./lib/diff2html.d.ts",

node_modules
In Browser it looks like this:
![image](https://user-images.githubusercontent.com/32833654/104325593-187eac00-54e9-11eb-9d95-e5fbb3cb76e0.png)
And in IDE like this:
![image](https://user-image

[2021-01-12 16:04] #355 closed

[2021-01-13 23:03] pinkcloud98 opened #356 "How do I have "File without changes" text to be localized?"
How do I have "File without changes" text to be localized?

[2021-01-13 23:04] pinkcloud98 opened #357 "How do I have "File without changes" text to be localized?"
How do I have "File without changes" text to be localized?

[2021-01-23 18:11] rtfpessoa commented on #345
Closing due to inactivity

[2021-01-23 18:11] #345 closed

[2021-01-23 18:11] rtfpessoa commented on #350
Closing due to inactivity

[2021-01-23 18:11] #350 closed

[2021-01-23 18:12] rtfpessoa commented on #354
Weird, can you provided a full example that I can use to replicate the problem?

[2021-01-23 18:18] rtfpessoa opened #359 "Use spawn instead of exec to perform git diff"
As described in https://github.com/rtfpessoa/diff2html-cli/issues/113 we should probably [use spawn instead of exec](https://stackoverflow.com/questions/48698234/node-js-spawn-vs-execute)

[2021-01-24 00:57] #92 closed

[2021-01-25 06:46] Liang813 commented on #354
There was no problem on my other computer, it was probably a browser zoom problem.

[2021-01-25 06:46] #354 closed

[2021-02-15 18:29] mohsenomidi opened #361 "Question - Merge Capability"
Dear Contributors,

thanks for the library, i want to know is there any merge capability for the diff viewer ?
like araxis merge ? if there is a diff in side by side view the user can send the line form one side to another ? or is there any workaround solution to do this ?

Regards.

[2021-02-20 04:16] davidnewcomb opened #362 "What's a DiffFile?"
In section: https://github.com/rtfpessoa/diff2html#diff2html-api you mention `DiffFile[]` but it isn't mentioned anywhere else.
Please can you add a few words to the documentation describing the type, what it is for and why you might use it instead a plain string.

[2021-02-20 10:26] rtfpessoa commented on #362
Hi @davidnewcomb,

You can check all the types here https://github.com/rtfpessoa/diff2html/blob/master/src/types.ts#L49

I cannot see many usages of it from the outside.
The purpose is for you to be able to run `parse` and then invoke the `html` after with the output of parse.
This way you can manipulate/use the json/objects and then render the HTML whenever you need.

[2021-02-20 10:28] rtfpessoa commented on #361
Hi @mohsenomidi,

This tool is a parser and html generator which works on the base of a static input from a valid unified diff.
It does not generate patches and does not parse diffs with conflicts.

Also it seems very outside of the scope here.

[2021-02-20 10:28] #361 closed

[2021-02-24 12:44] davidnewcomb commented on #362
Thanks

[2021-02-24 12:44] #362 closed

[2021-02-24 23:39] Pierrci opened #364 "File content toggle (checkbox) should not be rendered when using `Diff2Html` only"
### Step 0: Describe your environment

- OS: **MacOS**
- diff2html version: **3.2.0**
- Using diff2html directly or using diff2html-ui helper: **diff2html**
- Extra flags: **\_**

### Step 1: Describe the problem:

#### Steps to reproduce:

1. Call `Diff2html.html` on any diff

#### Observed Results:

- A checkbox to toggle the content of the diff is rendered for each file

#### Expected Results:

[2021-03-04 22:40] #364 closed

[2021-03-04 22:53] rtfpessoa commented on #364
Released in https://github.com/rtfpessoa/diff2html/releases/tag/3.3.0

[2021-03-11 15:01] mantsibor opened #368 "please add on option for SVN like ROW left and right - with highligted DIFF"
![image](https://user-images.githubusercontent.com/26163534/110807155-6adf0d80-828b-11eb-82b7-9aac3d817292.png)

[2021-03-16 09:28] rtfpessoa commented on #368
Hi  @mantsibor,
I am not sure what you mean but from what I see this should be available in the side-by-side mode.
Am I missing something here?

[2021-03-17 17:32] munnie opened #370 "Output is wrongly displayed"
- OS:  MacOS 11.1
- diff2html version:3.4.0
- Using diff2html directly or using diff2html-ui helper: diff2html-ui helper:
- Extra flags:

### Step 1: Describe the problem:

I tried using the example but couldn't make it display properly.

#### diff example:

diff --git a/sample.js b/sample.js
          index 0000001..0ddf2ba
          --- a/sample.js
          +++ b/sample.js
          @@ -1 +1 @@

[2021-03-18 07:46] munnie commented on #370
The problem is there shouldn't be any tab/spacing at the beginning of new lines in diffString.

[2021-03-18 07:46] #370 closed

[2021-03-27 20:01] Jakobud opened #371 "Bug: Adding unnecessary horizontal scroll bars"
<img width="2069" alt="Screen Shot 2021-03-27 at 2 00 07 PM" src="https://user-images.githubusercontent.com/87356/112733311-dddfb980-8f04-11eb-931e-5ab9fd000fe2.png">

For some reason the html is putting in CSS that is forcing this unnecessary extra spacing on the sides of the diffs resulting in unnecessary horizontal scroll bars. Any clues why?

[2021-03-28 09:56] rtfpessoa commented on #371
Hi @Jakobud,

Can you provide the sample to replicate this? I will try to look into it when I have some time.

[2021-03-28 22:03] Jakobud commented on #371
Yeah I'll put an example up in a repo. Do you really not see the horizontal sidebar? I see it literally on every file I do this to.

BTW, how the heck do you use the template system? Where is the documentation for that? It says you past an object of templates to use... why multiple templates? And an object of file paths to the templates? or template strings? Also in your mustache templates I see a

[2021-03-28 22:16] Jakobud opened #372 "Feature Request: Template documentation"
I'm trying to figure out how the templating system works. Is Mustache required? Or can they just be HTML?

Just glancing at your src/templates I see a lot of various code-replace snippets in there. Where is the documentation for those? What do they do? How do you use them?

Regarding the two template options, it says you pass an "object of templates" to it. What does that mean? What does that obje

[2021-03-28 22:18] Jakobud opened #373 "Feature Request for documentation on multi-file diff input format"
I have multiple file diffs that I want to input into your tool. How do you format multiple file diffs into a single Unified Diff format? What is the expected format exactly? Just concat them together?

Thanks!

[2021-03-30 15:26] charguer opened #375 "Document that the order of inclusion of the CSS files matters"
- OS: **Ubuntu**
- diff2html version: **master (084eb40)**
- Using diff2html directly or using diff2html-ui helper: **diff2html-ui **

### Step 1: Describe the problem:

#### Steps to reproduce:

1. *** Include  diff2html.min.css  before   highlight.js/10.7.1/styles/github.min.css

#### Observed Results:

- The display has extra vertical blank lines

#### Relevant Code:

I suggest leaving a short

[2021-03-30 15:33] charguer opened #376 "Add a minimalistic pure HTML/JS example to the documentation"
### Step 1: Describe the problem:

It took me a little while to synthesize a working example in pure HTML.
I understand it makes sense in many project to use Typescript or so,
yet it would make your tool more easily accessible to also document pure html.
I suggested to include the following example code in the README.
Thanks

PS: the version of highlight.js in the current README could be updated t

[2021-03-30 21:30] rtfpessoa commented on #371
I cannot see it happening here https://diff2html.xyz/demo.html?matching=none&matchWordsThreshold=0.25&maxLineLengthHighlight=10000&diffStyle=word&renderNothingWhenEmpty=0&matchingMaxComparisons=2500&maxLineSizeInBlockForComparison=200&outputFormat=line-by-line&drawFileList=1&synchronisedScroll=1&highlight=1&fileListToggle=1&fileListStartVisible=0&smartSelection=1&fileContentToggle=1&diff=https://g

[2021-03-30 21:37] rtfpessoa commented on #372
These are the templates that will be passed the parts of the diff for them to render. If they were just HTML they would be static.

Those are the templates. The file name is the name and their contents are the default contents.

What type of documentation are you looking for? They are +- simple. It is just a mustache file that receives some input.
It is just an advanced use case if you want to mod

[2021-03-30 21:40] rtfpessoa commented on #373
The tool just expects a string with a valid unified diff, you can check the spec here https://www.gnu.org/software/diffutils/manual/html_node/Unified-Format.html. But I guess that what you want is the concatenation.

Most diffs are multi file, I cannot see what would be special documentation for that. You just need to pass the contents, like you get from a git diff.

[2021-03-30 21:40] #373 closed

[2021-03-30 21:43] rtfpessoa commented on #376
I am not sure what you mean. There is a section dedicated to web browsers here https://github.com/rtfpessoa/diff2html#diff2html-browser

What is missing in there?

[2021-03-30 21:47] rtfpessoa commented on #375
Feel free to send a PR

[2021-03-30 22:48] Jakobud commented on #372
Okay thanks. I was looking at the snippets like:

[code]

Like I'm interested in constructing my own templates but have no clue what all these different tags do. I was just looking for some explanation on what they do so I could structure my templates accordingly. Thanks.

[2021-03-30 22:49] Jakobud commented on #373
Thanks all I was wondering about is the concatenation. The above GNU.org link does show an example but it's only for a single file. As far as documentation I guess I was just looking for an example diff for multiple files. Thanks for your help! Cool tool.

[2021-03-31 03:18] giaBaoJS opened #377 "Use template string for input can't see file change in UI , T"
### Step -1: Before filling an issue check out troubleshooting section

- Go to [README.md#Troubleshooting](https://github.com/rtfpessoa/diff2html#troubleshooting)

### Step 0: Describe your environment

- OS: Windows 10
- diff2html version: 3.4.1
- Using diff2html directly or using diff2html-ui helper: diff2html

### Step 1: Describe the problem:

 I'm using diff2html in Angular but when i'm pass

[2021-03-31 09:39] #377 closed

[2021-04-04 10:54] rtfpessoa commented on #368
Closing due to inactivity

[2021-04-04 10:54] #368 closed

[2021-04-04 10:55] rtfpessoa commented on #371
Closing due to inactivity

[2021-04-04 10:55] #371 closed

[2021-04-04 10:58] rtfpessoa commented on #372
I do not think I could have a good description for those values, I guess I could have an image pointing them out but I have no time right now to do that.

Do you have any specific doubt about those?

If you are interested in contributing descriptions it is very welcome.

[2021-04-04 11:01] rtfpessoa commented on #376
@Jakobud I see what you mean. Thanks for pointing them out.
In this situations if you do a PR is usually faster since it is easier to see what you mean.

[2021-04-04 11:01] #376 closed

[2021-04-04 12:12] #375 closed

[2021-04-07 05:42] cenfun opened #379 "v3.4.2 breaked npm install"
npm ERR! code 1
npm ERR! path node_modules\diff2html
npm ERR! command failed
npm ERR! command system32\cmd.exe /d /s /c husky install
npm ERR! 'husky' is not recognized as an internal or external command,
npm ERR! operable program or batch file.

https://github.com/rtfpessoa/diff2html/blob/3.4.2/package.json#L66

[2021-04-10 03:18] kintarowins opened #380 "Cannot use lib locally, SyntaxError: Invalid regular expression: range out of order in character class"
### Step 0: Describe your environment

- OS: MacOS Big Sur 11.2.3
- diff2html version: current as of today
- Using diff2html directly or using diff2html-ui helper: diff2html-ui
- Extra flags: **\_**

### Step 1: Describe the problem:
When using the CDN link for diff2html-ui.min.js, it works, but when used locally, it fails with
[code]
#### Steps to reproduce:

[code]

1. Save the file above as loc

[2021-04-11 08:44] Riken-Shah opened #381 "Line Numbers is overflowing when it's wrapped inside fixed heigh div."
### Step -1: Before filling an issue check out troubleshooting section

- Go to [README.md#Troubleshooting](https://github.com/rtfpessoa/diff2html#troubleshooting)

### Step 0: Describe your environment

- OS: **Mac OS Mojave**
- diff2html version: **3.4.3**
- Using diff2html directly or using diff2html-ui helper: **diff2html directly**
- Extra flags: **\_**

### Step 1: Describe the problem:
When

[2021-04-15 04:05] dafu-wu opened #382 "how can I hide or fog the same part？"
### Step -1: Before filling an issue check out troubleshooting section

- Go to [README.md#Troubleshooting](https://github.com/rtfpessoa/diff2html#troubleshooting)

### Step 0: Describe your environment

- OS: **\_**
- diff2html version: **\_**
- Using diff2html directly or using diff2html-ui helper: **\_**
- Extra flags: **\_**

### Step 1: Describe the problem:

#### Steps to reproduce:

1. ***

[2021-04-19 12:32] rtfpessoa commented on #382
What do you mean by the same part?

[2021-04-19 12:37] rtfpessoa commented on #380
Cannot replicate.
If I open the contents bellow with the css and js urls fixed it works.
[code]

[2021-04-19 12:40] rtfpessoa commented on #380
Ahh, I see what you meant and I just replicated it.

[2021-04-25 10:47] rtfpessoa commented on #380
After some investigation, it was a charset issue.
You need to explicitly say the script is in UTF-8.
This one works fine

[code]

[2021-04-25 10:47] #380 closed

[2021-04-25 10:48] rtfpessoa commented on #382
Closing due to inactivity. If you have more details for me to check we can re-open this.

[2021-04-25 10:48] #382 closed

[2021-04-25 10:53] rtfpessoa commented on #381
Hi @Riken-Shah,

I cannot replicate this behavior, even with ridiculously small widths the lines never break.
Can you provide a complete HTML example where it breaks?
You can check https://github.com/rtfpessoa/diff2html/issues/380#issuecomment-822433106 as a starting point for the example.

[2021-04-25 12:45] Riken-Shah commented on #381
Hey @rtfpessoa,

Here is the HTML code, where you can quickly reproduce the behavior (Try to scroll),
[code]

[2021-04-26 08:32] chimisu commented on #239
@rtfpessoa does this feature be supported now?

[2021-05-07 21:17] rtfpessoa commented on #381
@Riken-Shah After replacing the `pre` tags with a div I can see the issue.
But it cannot be fixed by changing the position to relative since that makes the horizontal scroll hide the line numbers.

Honestly I do not have a solution atm for that scenario.

[2021-05-07 22:56] rtfpessoa commented on #239
@chimisu nothing move here

[2021-05-10 10:57] rtfpessoa commented on #372
Fixed by https://github.com/rtfpessoa/diff2html/pull/384 thanks to @domdomegg

[2021-05-10 10:57] #372 closed

[2021-05-10 10:58] rtfpessoa commented on #239
@chimisu, I do not have any plans for new features atm.
If you are interested in contributing the work we can re-open this discussion and I can help you drive the idea.

[2021-05-19 13:25] ccadek commented on #99
@robertwalsh0 This CSS does work in side-by-side view as well.

[2021-05-21 20:42] rtfpessoa commented on #99
I cannot replicate this, can you provide a working example?

[2021-05-24 12:39] future-pirate-king opened #387 "if diff has space in folderName/fileName in filePath then parsed filename is wrong"
### Step -1: Before filling an issue check out troubleshooting section

- Go to [README.md#Troubleshooting](https://github.com/rtfpessoa/diff2html#troubleshooting)

### Step 0: Describe your environment

- OS: ubuntu 20.04 LTS
- diff2html version: 3.4.3
- Using diff2html directly or using diff2html-ui helper: using both
- Extra flags: **\_**

### Step 1: Describe the problem:
when user creates a f

[2021-05-25 16:32] rtfpessoa commented on #387
@future-pirate-king where did you get that diff from?
I am asking because it is not a valid unified diff, since the lines with `---` and `+++` are missing in the first file.

[2021-05-25 16:38] future-pirate-king commented on #387
so this is generated using these commands

1. first we stage the changes using -> git add .
2. then diff using -> git diff --cached

[2021-06-03 22:52] rtfpessoa commented on #387
That is indeed a very interesting corner case.

I think it is impossible to solve in a simple way.
Since it is not a valid unified diff, due to the lines with `---` and `+++` and since the only header available does not have a clear separator between the file paths, it is very error prone to know the names using it.

Do you have any suggestions?

[2021-06-04 12:04] iHiD opened #391 "How to specify the HightlightJS language"
Hello. Thanks for this great library.

At the moment, it seems highlightJS is guessing the language based on the the file extension (I think Im reading that correctly [here](https://github.com/rtfpessoa/diff2html/blob/master/src/diff-parser.ts#L350)). That often results in incorrect matchings. If we know the language of the file that the diff is for, we'd like to specify it manually. Is there a wa

[2021-06-04 12:21] joshgoebel commented on #391
Perhaps relevant:

https://github.com/rtfpessoa/diff2html/blob/9ed73c7a66b618723745fb74441136a552c53e58/src/ui/js/diff2html-ui-base.ts#L164

[2021-06-04 12:26] iHiD commented on #391
@joshgoebel Thanks. I believe html2diff writes that itself from reading the diff and extracting the extension. My current fallback is to get that attribute and manually change it, then reparse highlightjs on the file, but that's not ideal obviously.

[2021-06-04 12:29] iHiD commented on #391
It's also determining different highlightJS classes for different LOCs

<img width="659" alt="Screenshot 2021-06-04 at 13 28 13" src="https://user-images.githubusercontent.com/286476/120801265-dbb75e00-c538-11eb-9fbb-a047b8f2b70e.png">

<img width="767" alt="Screenshot 2021-06-04 at 13 28 22" src="https://user-images.githubusercontent.com/286476/120801196-c6423400-c538-11eb-8f7a-d61f01cfbb87.png">

[2021-06-04 12:34] joshgoebel commented on #391
Yeah, but It's not terrible either for small amounts of data. :-)

Did you mean _language_ classes? I think so based on your snaps.  I would definitely call that a bug. Of course a REAL diff diff could contain multiple languages (multiple files in one diff) but I'm not sure if that's relevant here.  Definitely randomly changing language from line to line isn't desirable. Auto-detect is not intende

[2021-06-04 12:39] iHiD commented on #391
Yes. Different language classes. The `data-lang` is set to `exs`, which isn't a supported HighlightJS language (although maybe we should add it as a synonym for Elixir?), so therefore highlightJS is guessing the other language classes I presume. This would be fixed if we could manually set the `data-lang` by passing it into the original d2h method call.

[2021-06-04 12:48] joshgoebel opened #392 "Auto-detect language per-line is guaranteed to produce poor results"
Hey, current maintainer of Highlight.js here.  This just came to my attention via #391.

You're looping over lines and then calling `highlightAuto` on every line (when you don't have a known language).  _This is not recommended and guaranteed to produce poor results._  Auto-detect is not intended to be useful with such little data and the noise will be much higher than the signal - you're just as

[2021-06-04 13:03] joshgoebel commented on #391
Sure, we often do have extensions as aliases.

yes, if `getLanguage` fails (can't find the language) it guesses, I believe I saw that in the code.

Yeah, sounds about right.

[2021-06-04 17:01] rtfpessoa commented on #391
Hi @iHiD,

Unfortunately at the moment it is not possible to specify languages.

The code is basically passing the extensions to highlight.js and getting the language from it.
If this does not work we could probably contribute the extension to highlight.js but from the answer from josh in https://github.com/rtfpessoa/diff2html/issues/391#issuecomment-854708394 I am not sure if it makes sense for t

[2021-06-04 17:07] rtfpessoa commented on #392
Hi @joshgoebel,

Thanks for bringing this up.

I was under the assumption that the code was fine, and I even updated it based on your suggestion https://github.com/highlightjs/highlight.js/issues/2277#issuecomment-813084812 leading to https://github.com/rtfpessoa/diff2html/commit/2416b3d2b3f51237c5bff614faf359435117eb70

If I understand correctly you are saying that the only option to correctly hi

[2021-06-04 21:06] joshgoebel commented on #392
Well, "correctly highlight" might be overstating it.   The way IMHO to "correctly attempt" it is to give us all the content and let us decide what it is... that will at least have consistent results, even if not 100% correct.  And it's not the "only" way... you could do a "pre-highlight" (of all the lines) first to get the language... then do your line by line approach... but again v11 will requir

[2021-06-04 21:13] joshgoebel commented on #391
Ok lets circle back.

Can you clarify this, @iHiD.  We don't *guess* the language based on the file extension, we have a discrete mapping table... file extensions are directly aliased to languages.  I suppose you could say then that's it's diff2html "guessing" based on the file extension - but that is what almost all text editors do, and it's mostly correct... are there cases where that alone woul

[2021-06-04 21:22] iHiD commented on #391
@rtfpessoa Hey 🙂 Thanks for the reply.

So my preferred fix would be to add a config option to `Diff2Html`, which takes a highlightjs language and uses that. If that's option isn't passed in then the language-selection falls back to the current behaviour (based on the file extension). That would mean the current behaviour wasn't impacted for existing implementations, and we'd be adding a new featu

[2021-06-04 21:34] joshgoebel commented on #391
That is indeed a problem.  I think that's only true with one of our 184 languages now, but perhaps we're missing some extensions as well...

Well, as I think I mentioned elsewhere Highlight.js traditionally includes canonical extensions.  For example we *should* include `exs` for Elixir.  We do not include vendor specific extensions such as say like 5 different implementations of Pascal, all with

[2021-06-04 21:37] rtfpessoa commented on #391
I think that solution is going to be to hackish. Diffs tend go have multiple files that usually spread across multiple languages, if we just accept a fallback language seems like it is going to be misused really easy and not have a nice outcome.

That is also the reason why I would prefer to receive an extension mapping, since that way it would support the use case correctly.

That sounds weird co

[2021-06-04 21:41] rtfpessoa commented on #391
@joshgoebel just out of curiosity can you share which one it is?

[2021-06-04 21:52] joshgoebel commented on #391
I honestly don't recall.  You can find the full list at:

https://github.com/highlightjs/highlight.js/blob/main/SUPPORTED_LANGUAGES.md

That's why I was asking to see if @ihid has a more concrete real-world example.

[2021-06-04 21:58] joshgoebel commented on #391
Yeah, really you'd have to supporting passing in a map:

[code]

---

There are also ambiguous extensions:

- Is `cpp` Arduino code or C++ code?
- Is `.asm` MIPS, x86, ARM, Atmega?

_So even when the file extension gets you close, sometimes it doesn't get you all the way._

[2021-06-04 22:23] iHiD commented on #391
This would solve my problem. Can you point me to how best to do that please Josh (maybe on Exercism's Slack so as not to take this issue on a tangent too much?). Thanks for your help 🙂

I think I'm done here with that as a solution, so happy to close this. I also still like the idea of specifying a language, and the map approach would work great for that as well, but I'd rather take the additional

[2021-06-04 22:23] #391 closed

[2021-06-04 22:25] iHiD commented on #392
(@rtfpessoa This whole thread might be useful reading: https://meta.stackexchange.com/q/355852/188348)

[2021-06-04 22:36] rtfpessoa commented on #392
@iHiD thanks for the reference. Will definitely read it.

[2021-06-05 05:34] joshgoebel commented on #391
It's just registerAliases: https://highlightjs.readthedocs.io/en/latest/api.html#registeraliases

For example to "fix" Elixir outside of core:

[code]

Creates an alias from `exs => elixir`.  So now the class `language-exs` is effectively `language-elixir` for purposes of which language is used for highlighting.  You could easily imagine an object literal or array of extension to language mappings

[2021-06-05 05:43] joshgoebel commented on #392
That's not really what you want to do as it will break on any scopes that persist past the end of a line boundary.  What you'd really want to do:

- Collect all _sequential_ diff lines
- Do this for both the "original" and the "changed" versions
- So you'll have say 10 lines of code in two strings now, "before" and "after"
- Highlight both blocks of code.
- Split the lines (this will require some

[2021-06-11 15:26] NL33 commented on #99
Is there currently a working way to have text wrap with any of diff2html's formats?

[2021-06-11 17:51] NL33 opened #393 "Can diff2html work with --word-diff?"
In my nodejs app, I want to display some diffs from git that are created using `$ git diff --word-diff`, based on [word-diff](https://git-scm.com/docs/git-diff#Documentation/git-diff.txt---word-diffltmodegt). This is in order to show the changes word-by-word (character by character), instead of block by block.

Is it possible to use diff2html with `word-diff`, so as to add color highlighting to th

[2021-06-13 08:53] future-pirate-king commented on #387
currently this line of code is parsing the filenames for this case
https://github.com/rtfpessoa/diff2html/blob/73ab5ba05059dd476fbbb0b4b1f50a005aae38b7/src/diff-parser.ts#L279

if we change the regex to
`^diff --git "?(a\/.+)"? "?(b\/.+)"?`

seems to work. @rtfpessoa what do you think ?

[2021-06-17 06:21] guicaiyue opened #394 "我有 diff 内容但使用它转为html片段出错"
`diff --git a/sample.js b/sample.js
      index 0000001..0ddf2ba
      --- a/sample.js
      +++ b/sample.js
      @@ -1 +1 @@
      -console.log("Hello World!")
      +console.log("Hello from Diff2Html!")`;
这个样的内容也会提示 file without changes。我不知道怎么办，因为这个例子是你们提供的
https://www.npmjs.com/package/diff2html

[2021-06-17 07:16] guicaiyue commented on #394
我找问题了在字符串通过'\n'切割成数组时，--- @@ - +等符号前面有空格存在，所以失败了。

[2021-06-17 07:16] #394 closed

[2021-06-18 10:29] rtfpessoa commented on #394
@guicaiyue Glad you solved it, next time please try to ask in english since I cannot read in other languages except Portuguese/English.

[2021-06-21 19:25] rtfpessoa commented on #393
Hi @NL33, you can just get a regular diff and than when you invoke diff2html the config `diffStyle` is set to word by default and will generate the differences.

Let me know if you need anything else.

[2021-06-21 19:25] #393 closed

[2021-06-21 19:27] rtfpessoa commented on #387
That is a not going to work if the first path has a ` b/` in it. But probably it is not worse than it is right now.

[2021-06-23 11:54] NL33 commented on #393
Hi. I believe this still shows the diff in (what I am calling, maybe incorrectly) a "block" view, with deletions as a block on top of a block of additions. That is how the default `git diff` works.

Instead of this, running [git diff --word-diff](https://git-scm.com/docs/git-diff#Documentation/git-diff.txt---word-diffltmodegt) produces a comparison where changes are "integrated" in the same place-

[2021-06-27 12:00] future-pirate-king commented on #387
yes @rtfpessoa , that was just an example. if we know the possible prefixes we can create regex like this
`^diff --git "?([abiwco]\/.+)"? "?([abiwco]\/.+)"?`

[2021-06-27 22:37] juancrescente commented on #373
+1

[2021-07-03 05:22] ve3 commented on #185
This happens again in v3.4.5

I tried to add `position: relative;` to the table where contain class `d2h-diff-table` and it seems to be fixed.
Maybe consider to add position relative on the `<table>` itself.

[2021-07-09 21:18] rtfpessoa commented on #185
@ve3 can you provide an example to replicate?

[2021-07-09 21:28] rtfpessoa commented on #373
I added a new section here https://github.com/rtfpessoa/diff2html/commit/9987e7c69552717f253db760a03bae4de0697f56
Let me know if you would add something else. PRs are welcome.

[2021-07-09 21:30] rtfpessoa commented on #387
The problem is not the types of prefixes if if the paths have spaces and a path like this will parse incorrectly still:
`diff --git a/my/amazing b/path.js b/new/different/path.js`

[2021-07-09 21:34] ve3 commented on #185
[code]

[2021-07-09 21:36] rtfpessoa commented on #393
I see what you mean. That is unfortunately not supported by diff2html.

[2021-07-09 21:38] rtfpessoa commented on #99
No, I could not find a way that does not break something else.

[2021-07-09 21:39] #387 closed

[2021-07-09 21:40] rtfpessoa commented on #387
Anyway since it does not stay worse than what it is now I went ahead and merged the update. Let me know how it goes.

[2021-07-09 21:48] rtfpessoa commented on #185
The problem is that it does not support scroll in the tables. At the moment that seems not to be easy to accomplish.
If you have a full solution that does not break other parts feel free to send a PR.

But take into consideration that usually adding relatives will break the line numbers.

[2021-07-09 21:48] rtfpessoa commented on #387
Released as version `3.4.7`

[2021-07-09 21:53] ve3 commented on #185
I have tried add position relation to `d2h-diff-table` class and it's working perfectly.

Just position absolute without relative in the parent is not flexible at all.

[2021-07-10 18:04] NL33 commented on #393
Thanks, @rtfpessoa. Are you familiar with whether git allows you to customize the addition/subtraction symbols that come back with `--word-diff`? That would at least allow some customization like diff2html often provides.

So, if you run `$ git diff --word-diff,` added text shows up as `{+....+}`. Are you familiar with how to change the `{+ `symbol?

Normally you could do `--output-indicator`, but

[2021-07-21 15:59] ve3 commented on #381
I think it is the same as this issue https://github.com/rtfpessoa/diff2html/issues/185

Add `position:relative` to `.d2h-diff-table` class will work and line number still show the same across browsers.
The CSS did not wrap element that have `position:absolute` that's why it will be always break when it is not in the normal element. (in the element that have limited height, overflow scroll will bre

[2021-07-23 20:02] rtfpessoa commented on #393
@NL33 the way diff2html it would never work by changing the git format, since that is the base of the tool.
What you could do would be to not split the lines after we run the line diff internally and that way you could get a similar output. But that would be a bit of work.

[2021-07-23 20:08] rtfpessoa commented on #381
@ve3 like I said before. If I do that change I always get it broken on horizontal scroll.

You really need to provide an example where it is not broken. I cannot replicate the fix.

[2021-07-24 02:29] ve3 commented on #381
I don't see any horizontal scroll broken. https://codepen.io/ve3/pen/LYyOdNQ

Checked on Firefox, Chrome.

How does it broken?
side by side or some special configuration?

[2021-07-24 22:14] rtfpessoa commented on #381
The example you provided is broken. The line numbers are supposed to always be visible.
When you scroll then disappear.

That only happens due to the change.

[2021-07-25 08:48] ve3 commented on #381
I was updated the example -> https://codepen.io/ve3/pen/LYyOdNQ

The code below can help fix horizontal scroll **with** position relative.
[code]

It is not very good result but in case who want to keep both working, this maybe help.

[2021-08-17 14:14] rtfpessoa commented on #393
Sorry for the delay, but I completely forgot about this issue.

I am referring to this piece of code https://github.com/rtfpessoa/diff2html/blob/master/src/render-utils.ts#L246
where we comprar the new and the old line and then highlight the new and old parts. What you want is the version that does not separate the new and old in two different lines but directly the output of jsdiff.

[2021-08-18 20:14] NL33 commented on #393
Thanks. I appreciate the info.

[2021-08-23 11:56] caponetto opened #400 "`Viewed` toggle doesn't work when `side-by-side` is set"
![diff2html](https://user-images.githubusercontent.com/638737/130442839-1c1bda80-1805-4850-8a9a-7752094ccd05.gif)

[2021-08-31 13:54] Shimada666 commented on #381
modify css

[code]
have a try

[2021-09-01 15:31] rtfpessoa commented on #381
@Shimada666 not sure what you were expecting but it does not work.

[2021-09-01 15:40] rtfpessoa commented on #400
Thank you for the report

[2021-09-01 15:44] #400 closed

[2021-09-11 23:23] fatihpense commented on #381
@rtfpessoa, Maybe it is a different but related bug. Inserted HTML creates double scrollbars if a parent div is scroll=auto & fixed height. @Shimada666 's CSS fixed this problem for me.

[2021-09-17 11:06] mensfeld commented on #99
@rtfpessoa could you point out what were the problems, I did really bad POC but this looks sooo good (not side by side):

![Zrzut ekranu z 2021-09-17 13-05-01](https://user-images.githubusercontent.com/392754/133772720-cdf4914a-b6de-4944-a6de-24a7219c52ee.png)

[2021-09-17 12:56] mystiquewolf opened #403 "Add support for dark mode"
### Step -1: Before filling an issue check out troubleshooting section

- Go to [README.md#Troubleshooting](https://github.com/rtfpessoa/diff2html#troubleshooting)

### Step 0: Describe your environment

- OS: Kubuntu 21.04
- diff2html version: 3.4.11
- Using diff2html directly or using diff2html-ui helper: Through [VS Code Diff Viewer extension](https://youtu.be/j9Qx-iU237s)
- Extra flags: **\_**

[2021-09-18 20:21] rtfpessoa commented on #381
Yes, the problem we are trying to solve here is to have a limited height, but the HTML and CSS are not ready for this. It would need a re-write to make it work without breaking the current functionality.

[2021-09-18 20:22] rtfpessoa commented on #99
@mensfeld the problem is in the side-by-side diff. Can you make that work for side-by-side too?

[2021-09-18 20:26] rtfpessoa commented on #403
This should not be hard to implement, is mostly a matter of doing some CSS work and making it work with the dark highlight.js themes. Feel free to send a PR.

[2021-09-18 20:52] mensfeld commented on #99
@rtfpessoa I can give it a shot in 1-2 weeks but I'm not an expert and my solution is rather clumsy.

[2021-09-24 09:15] aldifirmansyah commented on #381
I encounter the same issue. Are there any chance that this will be fixed? Or did you fix this issue on your project @Riken-Shah ?

[2021-09-27 12:13] Riken-Shah commented on #381
@aldifirmansyah, No I also tried but I can't seem to fix it.
I am just using this CSS rule, to make things a little better
[code]
As @rtfpessoa said, using this will create another issue,

[2021-09-27 13:48] ve3 commented on #381
Maybe my sample might help
https://codepen.io/ve3/pen/LYyOdNQ

[2021-10-07 06:50] Kyson opened #405 "Support only render chosen file"
It is too slow render all diff files content, why not render the chosen file by click on file list item, its more clear for users

[2021-10-15 07:09] Kyson opened #406 "support show unchanged lines"
support show unchanged lines

like gitlab merge request

![image](https://user-images.githubusercontent.com/3901140/137446606-125708d5-07b5-4638-980c-96f08b1f7380.png)

[2021-10-15 19:41] rtfpessoa commented on #406
This is out of context for his project. This project only parses and generates HTML for the diff it receives in has no information to get the rest of the lines. If you want you can generate the original diff with more context. You can check the `-U` flag on `git diff` for example.

[2021-10-15 19:41] #406 closed

[2021-10-15 21:16] PrestonTaylor commented on #406
Beyond my abilities and time for now but maybe someone else could pick it up. Add a separate issue for this?

[2021-10-15 21:19] rtfpessoa commented on #405
I went ahead and since this was already talked before I did a PoC.
* Check out branch support-files-lazy-loading
* Run `yarn`
* Run `yarn build`
* Open `docs/demo.html`

Let me know what you think and suggestions about it.

[2021-11-13 17:45] igor77ik opened #414 "Error after installing diff2html-cli"
### Step -1: Before filling an issue check out troubleshooting section

- Go to [README.md#Troubleshooting](https://github.com/rtfpessoa/diff2html#troubleshooting)

### Step 0: Describe your environment

- OS: CentOS 7.9
- diff2html version: last
- Using diff2html directly or using diff2html-ui helper: diff2html
- Extra flags: **\_**

### Step 1: Describe the problem:

# npm install -g diff2html-c

[2021-11-15 16:38] mensfeld opened #415 "Endless diffing upon relatively small git diff payload with HTML output"
### Step -1: Before filing an issue check out the troubleshooting section

- Done

### Step 0: Describe your environment

- OS: `Ubuntu 20.04`
- diff2html version: `5.1.11` cli and `3.4.11` diff2html
- Using diff2html directly or using diff2html-ui helper: directly
- Extra flags: `--matching none`

### Step 1: Describe the problem:

#### Steps to reproduce:

1. `curl https://gist.githubusercontent

[2021-11-20 19:49] rtfpessoa commented on #415
Hello @mensfeld, that issue is regarding the cli in the [other repository](https://github.com/rtfpessoa/diff2html-cli).

The problem seems to be the huge line length.
You can fix it by reducing the `maxLineLengthHighlight` but rn it is not possible to do that in the CLI.

Feel free to send a PR to add the flag, I can do it but I need to find some time.

You can see it working here https://diff2htm

[2021-11-20 19:50] rtfpessoa commented on #414
Hello @igor77ik, that issue is regarding the cli in the [other repository](https://github.com/rtfpessoa/diff2html-cli).

Not sure I can replicate. What version of nodejs and npm are you using?

[2021-11-29 09:35] krisnye opened #417 "Question: Is there an option to output the entire resulting file?"
I want all of the diffs as they are shown, but I also want to see the entire content of the resulting file.

Is there an option for that?

If not, can someone add that or would you accept a PR which added it?

[2021-11-29 16:42] rtfpessoa commented on #417
You can check this issue here https://github.com/rtfpessoa/diff2html/issues/406

TLDR, this is a parser and html generator, it only generates what it receives and the lines which you are asking for are not being passed to the tool. You can ask `git` or whatever tool you are using to give you more context lines.

Let me know if this makes sense.

[2021-11-29 16:42] #417 closed

[2021-12-03 07:12] 1506085843 opened #418 "How to get the complete content comparison of two files through diff"
I now have a.txt and b.txt files, and the diff I got by comparing these two files through Java
diff:

+++ test2.txt
@@ -10,0 +10,2 @@
+insert1；
+insert2；
@@ -19,2 +21,3 @@
-window.upList = [];
-window.downList = [];
+break;

My example is as follows：
![image](https://user-images.githubusercontent.com/39946319/144560457-2f0a4fd4-7c1b-48fe-99fc-66afca589053.png)

结果如下：
![image](https://user-images.g

[2021-12-03 17:38] rtfpessoa commented on #418
You mean instead of having the files side by side having them in one single column? If yes, you need to select `outputFormat` = `line-by-line` (https://github.com/rtfpessoa/diff2html#diff2html-configuration)

[2021-12-06 09:35] mensfeld commented on #415
Thank you for the clarification. I can try exposing this option but to be honest my JS knowledge is pretty limited :(

If I can I will submit a PR, otherwise I will wait for your help :pray:

[2021-12-27 08:05] nghiepit commented on #381
Same issue, but to fix just using
[code]

[2022-01-18 08:00] ricenoddle opened #421 "Is there a config to render '\n' which is an empty line."
Hello there, this is not a bug report but a question

### Step 0: Describe your environment

- diff2html version: **2.12.2**

### Step 1: Describe the problem:

Let's say I have the following diff code in the diff example.

![image](https://user-images.githubusercontent.com/13479751/149894496-b7ce9624-49fd-4f8b-9206-c9d46ce9e133.png)

I set the css style `user-select: none` for not to copy '+' whi

[2022-01-18 08:50] ricenoddle commented on #421
I saw that in your demo there is an empty tag for a new line. Maybe I met this problem is because I'm not using the latest version?

[2022-01-18 09:37] ricenoddle commented on #421
Do you have a changelog for me to update from 2.12.2 to 3.4.8 ?

[2022-01-18 14:01] stephendolan opened #422 "[Question] How do you use the UI Helper without <script> imports?"
This is more of a question than an actual suspected bug, so I'm omitting some of this template.

### Step 0: Describe your environment

- OS: macOS 12.1
- diff2html version: 3.4.14
- Using diff2html directly or using diff2html-ui helper: Trying to use helper
- Extra flags: None

### Step 1: Describe the problem:

I'm currently using the plain Diff2HTML export to consume and display diffs, and it w

[2022-01-18 21:25] rtfpessoa commented on #421
I think that was probably fixed at some point. Do not recall when.

The changelog is https://github.com/rtfpessoa/diff2html/releases, but I guess you mean changes you need to do to the code?

Check the readme, the APIs changes a bit but mostly names. The rest is very similar.
Let me know if I can help upgrade.

[2022-01-18 21:34] rtfpessoa commented on #422
Hello 👋,

I guess I could make that more obvious in the readme.
You can see an example https://github.com/rtfpessoa/diff2html/blob/master/website/templates/pages/demo/demo.ts#L1

In the README you have a [Distributions](https://github.com/rtfpessoa/diff2html#distributions) and a bullet point `NPM / Node.js library` you have all the importable node module paths and a quick explanation of each of th

[2022-01-18 21:36] rtfpessoa commented on #418
Closing for inactivity

[2022-01-18 21:36] #418 closed

[2022-01-18 21:36] rtfpessoa commented on #414
Closing for inactivity

[2022-01-18 21:36] #414 closed

[2022-01-18 22:59] #415 closed

[2022-01-19 01:33] ricenoddle commented on #421
Yes, by looking at your code I find that you have fixed that problem. I will upgrade to the lastest version. Thanks man!

[2022-01-19 12:22] #421 closed

[2022-01-25 03:45] ricenoddle opened #424 "[Question] About nodeStream and mergeStream"
Hello there,
Nowadays I'm looking for your code trying to do some custom operations and I find that you have nodeStream and mergeStream to provide the context for highlightjs. Let me first describe what I'm doing now

 In the following screenshot, I have implemented a fold function. But there is a situation that when my comment code is end in the folded code, it will make all my rest code not high

[2022-01-25 12:49] rtfpessoa commented on #424
I do not think this is fixable. Since you do not have enough context. You need to ask git to give you more context lines when you generate the diff.

There is a discussion here https://github.com/rtfpessoa/diff2html/issues/392#issuecomment-855188212 which is from a different problem. The problem there we fixed but the issue with partial code is still there.

[2022-01-25 20:22] stephendolan commented on #422
This was helpful, though I had to do a bit of cross-referencing to figure everything out! Here's what I ended up needing to do for a TypeScript StimulusJS controller to render the Diff2HTML UI output, in case it's helpful to anyone in the future:

[code]

[2022-01-25 20:22] #422 closed

[2022-01-27 06:33] #424 closed

[2022-01-27 09:30] mensfeld commented on #415
Thank you :pray:

[2022-01-28 23:15] rtfpessoa commented on #422
Added that example to the readme. thanks

[2022-02-10 07:09] donaldpipowitch commented on #99
Thanks for the hint. I got even better results with this as leading whitespace in a line will be preserved:

[code]

[2022-02-25 12:50] hexad opened #427 "Add support for collapsing files"
In Bitbucket, you are given the option to collapse a certain file, so that only the path+ filename is shown, but the code of the file is hidden.
The option to collapse a certain file would be a great improvement to diff2html, as it helps with the readability of the code significantly.

[2022-02-25 22:22] rtfpessoa commented on #427
👋 @hexad, what version are you using?
If you check the [demo](https://diff2html.xyz/demo.html) you can already see a `Viewed` checkbox in the right side of each file header.

[2022-02-25 22:22] #427 closed

[2022-02-26 00:56] hexad commented on #427
Hello and thanks!
You are right, i hadn't seen the demo.
I just checked and i have 5.2.1. Is there a way to update from the npm?

[2022-03-03 12:00] Angelk90 opened #428 "Multilingual support"
### Step -1: Before filling an issue check out troubleshooting section

- Go to [README.md#Troubleshooting](https://github.com/rtfpessoa/diff2html#troubleshooting)

### Step 0: Describe your environment

- OS: Kubuntu 21.04
- diff2html version: 3.4.11
- Using diff2html directly or using diff2html-ui helper: **\_**
- Extra flags: **\_**

### Step 1: Describe the problem:

https://github.com/rtfpess

[2022-03-08 18:37] Angelk90 commented on #403
@mystiquewolf , @rtfpessoa : Are there any news?

If I put a background for example dark to the body this happens.

<img width="1382" alt="Schermata 2022-03-08 alle 19 36 16" src="https://user-images.githubusercontent.com/20476002/157303317-734cbd75-ea0b-42ce-8323-32d11acf1839.png">

[2022-03-08 19:56] mystiquewolf commented on #403
No news from me for now, i'm busy with other things, don't use this very frequently yet and lately I'm using light themes.

[2022-03-09 09:33] Angelk90 commented on #403
We hope @rtfpessoa can solve the problem.

[2022-03-31 07:39] leoleoasd opened #430 "Feature request: show invisiable characters."
I'm writing an autograder for our data structure and algorithm course, and I'm using diff2html to tell how students their program's output differs with answers.

Some badly written programs output '\0's at the end of each line, and they aren't visible in the diff. Adding support for showing invisible characters (and an option to toggle it) just like Jetbrains IDEs would be nice.
![image](https://u

[2022-03-31 08:20] leoleoasd commented on #430
A realy bad workaround:
[code]
![image](https://user-images.githubusercontent.com/37735580/161010267-c310edb8-0f59-4782-9707-ed6c6ead34d8.png)

Would be nice the have the replacement happen in `diff2html`, because not all diffs only contain one file, and parsing them before send them into `diff2html` would be re-inventing the wheel.

[2022-04-15 20:26] rtfpessoa commented on #403
No news on my side. It will probably need some more tweaks to work. Feel free to send a PR

[2022-04-15 20:29] rtfpessoa commented on #428
👋 Currently there is not direct support for this.
The closest you have is to override the templates using the flags described [here](https://github.com/rtfpessoa/diff2html#diff2html-configuration).

If you are interested in contributing a feature feel free to propose a solution and we can discuss it here in the ticket and then you can move on with the implementation.

[2022-04-15 20:30] rtfpessoa commented on #430
👋 Sounds like an interesting feature to have if you are interested in contributing it.

It could be replace some special chars and it could be enabled by a configuration.

[2022-04-18 17:10] skivol commented on #99
Taking ideas from this thread (thanks for those :) ) and also overriding original "width: 100%" in some classes (which probably doesn't work well inside table cells, in combination with padding):
[code]
to avoid overflow problems like on the image below:
![example](https://user-images.githubusercontent.com/2342155/163843850-68f7390c-ab90-4881-bdc5-59d4cb82afa6.png)

And things seem to look quite g

[2022-04-28 19:59] ananyf commented on #403
Hello @rtfpessoa
Can you use this lib https://darkmodejs.learn.uno/

[2022-05-03 18:41] wisniewski94 opened #434 "Avoid an excessive DOM size"
### Step 1: Describe the problem:

#### Steps to reproduce:

1. Open [Demo](https://diff2html.xyz/demo.html?matching=none&matchWordsThreshold=0.25&maxLineLengthHighlight=10000&diffStyle=word&renderNothingWhenEmpty=0&matchingMaxComparisons=2500&maxLineSizeInBlockForComparison=200&outputFormat=line-by-line&drawFileList=1&synchronisedScroll=1&highlight=1&fileListToggle=1&fileListStartVisible=0&smartS

[2022-05-05 00:42] SydneyUni-Jim opened #435 "Hogan.js is unmaintained"
https://github.com/twitter/hogan.js/issues/272 (2 May 2021)

The last time a pull request was closed was 8 Jun 2019. The dependencies in hogan.js are becoming deprecated (https://github.com/twitter/hogan.js/pull/270) and security vulnerabilities are being exposed (https://github.com/twitter/hogan.js/pull/276).

[2022-05-07 20:11] rtfpessoa commented on #99
@skivol do you think you could send a full spec with all the changes required to get this to work in bot side-by-side and line-by-line?

[2022-05-07 20:13] rtfpessoa commented on #403
That does not seem like a great solution. The solution should be done at the css level of this project.

[2022-05-07 20:15] rtfpessoa commented on #434
👋 let me know how it is going and if you can find some improvements we can do.

Honestly to get to this state it took a lot of trial and error. Frontend is not my main language and it took me a while. 😓

If you have improvements we can do, they are very welcome. I can help test if they break something.

[2022-05-07 20:17] rtfpessoa commented on #435
👋 I understand that it is not being maintained anymore but it has been very stable and fits very well the use case.

Do you have any alternatives we can use?

Also AFAIK we have no active vulns https://github.com/rtfpessoa/diff2html/security/dependabot

[2022-05-07 20:28] rtfpessoa commented on #427
Seems like I missed this notification. Not sure what you mean but you can just do `npm install --save diff2html@<VERSION>`

[2022-05-07 20:34] hexad commented on #427
Github and npm says that the latest version of diff2html is Version 3.4.17. However when i type `diff2html --version` i get `5.2.1`.

[2022-05-07 20:38] rtfpessoa commented on #427
You might be mixing the cli version and the lib version.
*  [diff2html](https://www.npmjs.com/package/diff2html) (corresponds to `diff2html` on the code)  - `3.4.17`
*  [diff2html-cli](https://www.npmjs.com/package/diff2html-cli) (corresponds to `diff2html` on the terminal) - `5.2.2`

[2022-05-08 19:04] skivol commented on #99
@rtfpessoa you mean the full source code of the html template which I used for the purpose (with css styles which I mentioned in the comment above) ?
Can do that, but not sure if the quality of the results is sufficient for general usage (specifically in regards to the alignment of the lines to the left and right which is a bit worse when wrapping the lines, but the benefit is that everything is v

[2022-06-02 11:52] sewolf opened #436 "Failed to parse source map"
### Step 0: Describe your environment

- OS: macOS 12.4
- diff2html version: 3.4.17

### Step 1: Describe the problem:

the webpack dev server returns compile warnings

#### Observed Results:

Compiled with 11 warnings.

Failed to parse source map from '/Users/sewolf/workspace/myproject/node_modules/diff2html/src/diff-parser.ts' file: Error: ENOENT: no such file or directory, open '/Users/sewolf/w

[2022-06-03 21:50] rtfpessoa commented on #436
It is very hard to understand what is happening, in what context did this happen? What versions of node etc were you running?

[2022-06-03 22:05] rtfpessoa commented on #99
Ahh, ok. That not needed

[2022-06-12 11:01] quentin opened #437 "How to highlight with a custom language and extension mapping"
Hi,
I have a custom language (say `foolang`) registered in the `hljs` instance, is it possible to highlight a language that is not listed there:
https://github.com/rtfpessoa/diff2html/blob/e5c813949fcbb9a0b96ce528f49539d63cbdcf40/src/ui/js/highlight.js-helpers.ts#L164

It is properly detected in the `language` variable (because the extension of the filename in the diff is `.foolang`):
https://gith

[2022-06-21 08:40] sewolf commented on #436
i hava a typescript project created with create-react-app and installed diff2html v. 3.4.17 (node v18.3.0). When i start the development server with "npm run start" the i see this warnings.

[2022-06-24 20:23] rtfpessoa commented on #436
👋 Version `3.4.17` does not exist, can you double check that? Also, can you provide maybe a snippet or a script to replicate the error?

[2022-06-24 20:31] rtfpessoa commented on #437
👋 Thanks for the contribution. Left a comment in the PR.

[2022-06-24 22:37] sewolf commented on #436
here is also the 3.4.17 version https://www.npmjs.com/package/diff2html/v/3.4.17

[2022-06-27 19:58] rtfpessoa commented on #436
So seems like it does not fail. It just throws warnings.
I have no idea why it is looking for source maps or even how to generate them.

I am just using regular webpack to build the project. If you know how to fix this let me know. But honestly not sure why it would show warnings if they do not exist.

[2022-06-28 08:25] sewolf commented on #436
here is the same problem described: https://stackoverflow.com/questions/70599784/failed-to-parse-source-map
i have also added GENERATE_SOURCEMAP=false in .env file to remove this warnings

[2022-06-29 18:50] akash329d opened #440 "What does matching actually do?"
Hi,

I've been trying to figure out what the matching option actually does, playing around with the demo here - https://diff2html.xyz/demo.html

The output always looks the same regardless of the matching option chosen.

Thanks

[2022-07-14 15:01] nschoot opened #442 "Suggestion: Show full files side-by-side (like diff -y)"
Would it be possible to the display not just the snippets that have been changed, but actually the differences inside the full file (You would need those for input).

So, summarized, I would like to execute "diff -y file1 file2".... but then in html.

[2022-07-15 09:35] nschoot commented on #442
Ok I found php-diff that can do this... But I don't like the way it renders, so I now send the output of phpdiff to diff2html :)

[2022-07-15 09:35] #442 closed

[2022-07-24 17:38] rtfpessoa commented on #440
@akash329d I think I might have broken in during the migration to type script. I need to dig where I might have broken it.
I think the difference was how it applied the matching algorithm.

[2022-07-24 18:27] rtfpessoa commented on #440
After a quick look seems like maybe it was something different.
Probably I should split the matching from diffstyle.

But seems like it was some improvement to the highlight of the changes in the diff [here](https://github.com/rtfpessoa/diff2html/blob/master/src/render-utils.ts#L247)

Need to check what changed in the `diff` dependency.

[2022-07-24 18:48] akash329d commented on #440
Have been playing around with it a bit and it seems like the `changedWords` array is still being created correctly. Might have something to do with how it's being displayed?

As a separate comment real quick, would you be open to adding an option for the library to return JSX rather than an HTML string? (So that it could be used as a react component). I was going to create a PR but figured it woul

[2022-08-12 15:31] jgonggrijp commented on #435
@rtfpessoa I'm currently developing [Wontache](https://jgonggrijp.gitlab.io/wontache/), which can be thought of as a successor of hogan.js (although the code bases are not actually related). I haven't reached the 1.0.0 release yet, but it's fully tested, passes all the official Mustache specs (including the newest) and is even more accurate at whitespace handling than hogan.js. In my own testing,

[2022-08-12 22:05] rtfpessoa commented on #435
👋 @jgonggrijp did a [quick test](https://github.com/rtfpessoa/diff2html/pull/446/files?diff=unified&w=1) and seems like it works.

For me the most important things missing are:
* Typescript types support
* Seems like codegen is not optimal since some functions have unused parameters, for example
* Would be great to have a script to pre-compile templates into a file that you can bundle in your app

[2022-08-12 22:08] rtfpessoa commented on #440
It sounds like something that could be interesting to have. What would be your idea to implement this together with the current HTML output?

[2022-08-12 23:26] akash329d commented on #440
That's the part I wasn't totally sure on. Could make it a flag to return JSX rather than HTML string but then would need to add React as a dependency for the project, and have a some duplicate code. My plan for it was to take all of the Hogan templates and convert them to functions that return JSX. But would likely be better off forking and doing the conversion rather than having it as a flag.

[2022-08-12 23:37] rtfpessoa commented on #440
Why would you need react as a dependency? Are you returning actual JSX elements? Or Would you be generating a file which has JSX inside?

If you plan is just to change the templates it should be trivial. You can even try it by overriding the current ones and see if it works for you.

Feel free to do that to.

[2022-08-12 23:41] akash329d commented on #440
I was planning on returning actual JSX elements, so I was thinking that React would be required for that. It might be possible to use JSX without React though. Will try just directly changing the templates and seeing how that goes.

My main goal was to make it into a React component that is easy to drop in to any React project, similar to https://github.com/praneshr/react-diff-viewer

[2022-08-13 07:20] jgonggrijp commented on #435
Yes, the first and the last point are planned. Please clarify the middle point!

[2022-08-13 09:36] jgonggrijp commented on #435
Potentially relevant issue tickets, in case you want to track them:

- [ ] [#12 TypeScript and Flow typings](https://gitlab.com/jgonggrijp/wontache/-/issues/12)
- [ ] [#13 Command line interface](https://gitlab.com/jgonggrijp/wontache/-/issues/13)
- [x] [#25 Template module wrapper](https://gitlab.com/jgonggrijp/wontache/-/issues/25) (implemented but not yet released)
- [ ] [#16 WebPack plugin](ht

[2022-09-02 21:04] rtfpessoa commented on #435
Do you have any ideas for timelines here?

[2022-09-03 16:58] jgonggrijp commented on #435
As far as order is concerned, the [development board](https://gitlab.com/jgonggrijp/wontache/-/boards) conveys best how I prioritize the issues. I want to finish the evaluation release milestone this year if I can help it, and the official launch milestone as soon as possible after that.

As far as calendar time is concerned, unfortunately I can spend at most two days a week on my open source libr

[2022-09-08 07:10] AutismPatient opened #448 "Unnecessary horizontal scroll bars appear"
`const diffJSON = computed(()=>{
  return Diff2Html.html(diffs.value,{
    drawFileList: false,
    matching: 'lines',
    outputFormat: 'line-by-line'
  })
})`

diffs: `--- a/server/vendor/golang.org/x/sys/unix/zsyscall_linux_mipsle.go\n+++ b/server/vendor/golang.org/x/sys/unix/zsyscall_linux_mipsle.go\n@@ -1035,6 +1035,17 @@ func Prctl(option int, arg2 uintptr, arg3 uintptr, arg4 uintptr, arg5 u

[2022-09-12 13:42] rtfpessoa commented on #448
AFAIK that is OS related @AutismPatient. In MacOS it works fine.

Do you know if any change we can make to improve this in other OSes?

[2022-09-13 01:22] AutismPatient commented on #448
I can see beauty by editing the style

[2022-09-13 01:22] #448 closed

[2022-09-13 14:13] t1m0thyj commented on #435
@rtfpessoa Would it be possible to publish the `3.0.0-beta.1` tag in the "use-wontache" branch to NPM, since all tests are passing? My team would like to use diff2html but we are not allowed to use deprecated/unmaintained packages. Thanks! 🙏

[2022-09-14 03:29] 1506085843 opened #449 "How to display the number of different points"
![image](https://user-images.githubusercontent.com/39946319/190052626-b3d9e2d0-4cd3-4e0c-bcc6-112fc1010a54.png)
How can I get the total number of distinct points and display？For example, there are 6 differences in the above picture, I want to show 6 differences after the file name, how can I do that?

[2022-09-14 13:01] rtfpessoa commented on #449
👋 you kind of have this information in the file list before the diffs.

Is that what you are looking for?

To accomplish that you could change the [generic-file-path](https://github.com/rtfpessoa/diff2html/blob/master/src/templates/generic-file-path.mustache) template.
You would need to pass more data to the template, but it should be simple.
If you are interested feel free to send a PR with more

[2022-09-14 14:26] rtfpessoa commented on #435
@t1m0thyj I just released version `3.4.20-usewontache.1.60e7a2e` with the initial wontache implementation.

[2022-09-16 20:57] t1m0thyj commented on #435
Thanks for the quick response! So far the beta version seems to be working well for us.

In case anyone else wants to try it out in a TypeScript project, here's what I did to work around `wontache` not having type definitions yet. I created a file `__types__/wontache.d.ts`:
[code]
and added this to `tsconfig.json`:
[code]

[2022-09-16 21:24] rtfpessoa commented on #435
I created these more details typings https://github.com/rtfpessoa/diff2html/blob/use-wontache/typings/wontache/wontache.d.ts

[2022-10-25 07:43] PierreDebrot opened #454 "dark mode"
### Step -1: Before filling an issue check out troubleshooting section

- Go to [README.md#Troubleshooting](https://github.com/rtfpessoa/diff2html#troubleshooting)

### Step 0: Describe your environment

- OS: **\_**
- diff2html version: **\_**
- Using diff2html directly or using diff2html-ui helper: **\_**
- Extra flags: **\_**

### Step 1: Describe the problem:

#### Steps to reproduce:

1. ***

[2022-10-29 14:03] ericcornelissen opened #455 "Add support for sticky file headers"
On GitHub, as you scroll through the diff of e.g. a Pull Request, the filename sticks to the top of the screen:

[GitHub's sticky file header preview.webm](https://user-images.githubusercontent.com/3742559/198835778-b12a06e6-5d04-4dfa-a587-6bf052c0f588.webm)

This allows you to see what file you're looking at at all times.

I didn't spot any option ([1](https://github.com/rtfpessoa/diff2html/tree/

[2022-11-01 00:14] #455 closed

[2022-11-01 03:19] SherCong commented on #381
modify css,  that fixed this problem for me,have a try

.d2h-wrapper {
    transform: translateZ(0);
}
.d2h-diff-table {
    position: relative;
}

[2022-11-01 03:22] SherCong commented on #381
`
.d2h-wrapper {
    transform: translateZ(0);
 }
.d2h-diff-table {
    position: relative;
 }
`
have a try ,that fixed my problem

[2022-11-06 16:24] abelpz commented on #99
@rtfpessoa is there an open PR on this? I got it working with some CSS changes.

[2022-11-12 12:13] rtfpessoa commented on #99
👋 @abelpz no, I could never get it working properly.

If you got it working in both ways, would be good if we could offer both options (with and without line breaks) maybe by applying a different css classes.

[2022-11-12 12:14] rtfpessoa commented on #454
No context

[2022-11-12 12:14] #454 closed

[2022-11-13 03:21] abelpz commented on #99
@rtfpessoa it does work for both side-by-side and line-by-line, I could try to add that if you want, this is what I propose:

- Add one config option to set the default mode: `wordWrap: true`
- Add a button somewhere in the UI to toggle this feature.

If you point me to the files I should look at to add this, I can make a PR. Or I could just share the CSS, and someone else can give it a try.